# Installing Pyspark

In [1]:
!pip install pyspark py4j

Collecting pyspark
  Downloading pyspark-3.4.1.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 4.4 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j in /usr/local/lib/python3.10/dist-packages (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.1-py2.py3-none-any.whl size=311285398 sha256=e64e1e50b8ed12499efdc1053c31e05b0cb850128178774209440618472f1763
  Stored in directory: /root/.cache/pip/wheels/0d/77/a3/ff2f74cc9ab41f8f594dabf0579c2a7c6de920d584206e0834
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.1

# creating spark Session

In [2]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.master('local').appName('usecases').getOrCreate()
spark

# Import all Functions

In [3]:
from pyspark.sql.functions import *

# read csv file data

In [5]:
df_csv = spark.read.format('csv').option('header',True).option('inferSchema',True).option('nullValue','null').load('/content/employee.csv')

df_csv.show(10)
df_csv.printSchema()
df_csv.count()

+-----+------+---------+------+----------+----+------+------------+
|EMPNO| ENAME|      JOB|Manger|  HIREDATE| SAL|DEPTNO|UPDATED_DATE|
+-----+------+---------+------+----------+----+------+------------+
| 7369| SMITH|    CLERK|  7902|17-12-1980| 800|    20|  01-01-2022|
| 7499| ALLEN| SALESMAN|  7698|20-02-1980|1600|    30|  02-01-2022|
| 7521|  WARD| SALESMAN|  7698|22-02-1980|1250|    30|  03-01-2022|
| 7566| JONES|  MANAGER|  7839|04-02-1981|2975|    20|  04-01-2022|
| 7654|MARTIN| SALESMAN|  7698|21-09-1981|1250|    30|  05-01-2022|
| 7698|   SGR|  MANAGER|  7839|05-01-1981|2850|    30|  06-01-2022|
| 7782|  RAVI|  MANAGER|  7839|06-09-1982|2450|    10|  07-01-2022|
| 7788| SCOTT|  ANALYST|  7566|19-04-1982|3000|    20|  08-01-2022|
| 7839|  KING|PRESIDENT|  null|      null|5000|    10|        null|
| 7844|TURNER| SALESMAN|  7698|09-08-1982|1500|    30|  01-02-2022|
+-----+------+---------+------+----------+----+------+------------+
only showing top 10 rows

root
 |-- EMPNO: integer (nullable = true)
 |-- ENAME: string (nullable = true)
 |-- JOB: string (nullable = true)
 |-- Manger: integer (nullable = true)
 |-- HIREDATE: string (nullable = true)
 |-- SAL: integer (nullable = true)
 |-- DEPTNO: integer (nullable = true)
 |-- UPDATED_DATE: string (nullable = true)

33

# Concatinating two columns

In [6]:
df_concat = df_csv.withColumn('Name_Sal',concat('ENAME','SAL'))
df_concat.show(10)

+-----+------+---------+------+----------+----+------+------------+----------+
|EMPNO| ENAME|      JOB|Manger|  HIREDATE| SAL|DEPTNO|UPDATED_DATE|  Name_Sal|
+-----+------+---------+------+----------+----+------+------------+----------+
| 7369| SMITH|    CLERK|  7902|17-12-1980| 800|    20|  01-01-2022|  SMITH800|
| 7499| ALLEN| SALESMAN|  7698|20-02-1980|1600|    30|  02-01-2022| ALLEN1600|
| 7521|  WARD| SALESMAN|  7698|22-02-1980|1250|    30|  03-01-2022|  WARD1250|
| 7566| JONES|  MANAGER|  7839|04-02-1981|2975|    20|  04-01-2022| JONES2975|
| 7654|MARTIN| SALESMAN|  7698|21-09-1981|1250|    30|  05-01-2022|MARTIN1250|
| 7698|   SGR|  MANAGER|  7839|05-01-1981|2850|    30|  06-01-2022|   SGR2850|
| 7782|  RAVI|  MANAGER|  7839|06-09-1982|2450|    10|  07-01-2022|  RAVI2450|
| 7788| SCOTT|  ANALYST|  7566|19-04-1982|3000|    20|  08-01-2022| SCOTT3000|
| 7839|  KING|PRESIDENT|  null|      null|5000|    10|        null|  KING5000|
| 7844|TURNER| SALESMAN|  7698|09-08-1982|1500|    30|  01-02-2022|TURNER1500|
+-----+------+---------+------+----------+----+------+------------+----------+
only showing top 10 rows

# Concatinating two columns with seprator

In [56]:
df_concat_ws = df_csv.withColumn('EMP_Name_Sal',concat_ws('_',col('EMPNO'),col('ENAME'),col('SAL')))
df_concat_ws.show(10)

+-----+------+--------+------+----+------+------------+----------------+--------+----+-----+---+----------------+
|EMPNO| ENAME|     JOB|Manger| SAL|DEPTNO|New_HIREDATE|New_UPDATED_DATE|Position|year|month|day|    EMP_Name_Sal|
+-----+------+--------+------+----+------+------------+----------------+--------+----+-----+---+----------------+
| 7369| SMITH|   CLERK|  7902| 800|    20|  1980-01-17|      2022-01-01|  Level3|1980|   01| 17|  7369_SMITH_800|
| 7499| ALLEN|SALESMAN|  7698|1600|    30|  1980-01-20|      2022-01-02|  Level4|1980|   01| 20| 7499_ALLEN_1600|
| 7521|  WARD|SALESMAN|  7698|1250|    30|  1980-01-22|      2022-01-03|  Level4|1980|   01| 22|  7521_WARD_1250|
| 7566| JONES| MANAGER|  7839|2975|    20|  1981-01-04|      2022-01-04|  Level2|1981|   01| 04| 7566_JONES_2975|
| 7654|MARTIN|SALESMAN|  7698|1250|    30|  1981-01-21|      2022-01-05|  Level4|1981|   01| 21|7654_MARTIN_1250|
| 7698|   SGR| MANAGER|  7839|2850|    30|  1981-01-05|      2022-01-06|  Level2|1981|   01| 05|   7698_SGR_2850|
| 7782|  RAVI| MANAGER|  7839|2450|    10|  1982-01-06|      2022-01-07|  Level2|1982|   01| 06|  7782_RAVI_2450|
| 7844|TURNER|SALESMAN|  7698|1500|    30|  1982-01-09|      2022-01-01|  Level4|1982|   01| 09|7844_TURNER_1500|
| 7876| ADAMS|   CLERK|  7788|1100|    20|  1987-01-23|      2022-01-02|  Level3|1987|   01| 23| 7876_ADAMS_1100|
| 7900| JAMES|   CLERK|  7698| 950|    30|  1987-01-12|      2022-01-03|  Level3|1987|   01| 12|  7900_JAMES_950|
+-----+------+--------+------+----+------+------------+----------------+--------+----+-----+---+----------------+
only showing top 10 rows

# Change data type of column

In [8]:
df_cha = df_csv.withColumn('Emp',col('EMPNO').cast('string')).withColumn('sala',col('SAL').cast('string'))
df_cha.printSchema()

root
 |-- EMPNO: integer (nullable = true)
 |-- ENAME: string (nullable = true)
 |-- JOB: string (nullable = true)
 |-- Manger: integer (nullable = true)
 |-- HIREDATE: string (nullable = true)
 |-- SAL: integer (nullable = true)
 |-- DEPTNO: integer (nullable = true)
 |-- UPDATED_DATE: string (nullable = true)
 |-- Emp: string (nullable = true)
 |-- sala: string (nullable = true)

# convert from String (dd-mm-yyyy) date format to spark date format (yyyy-mm-dd)

In [9]:
# date format in Traditional databases is dd-mm-yyyy
# date format in spark is yyyy-mm-dd


df_csv = df_csv.withColumn('New_HIREDATE',to_date('HIREDATE','dd-mm-yyyy')).withColumn('New_UPDATED_DATE',to_date('UPDATED_DATE','dd-mm-yyyy')).drop('HIREDATE','UPDATED_DATE')

df_csv.show(10)
df_csv.printSchema()

+-----+------+---------+------+----+------+------------+----------------+
|EMPNO| ENAME|      JOB|Manger| SAL|DEPTNO|New_HIREDATE|New_UPDATED_DATE|
+-----+------+---------+------+----+------+------------+----------------+
| 7369| SMITH|    CLERK|  7902| 800|    20|  1980-01-17|      2022-01-01|
| 7499| ALLEN| SALESMAN|  7698|1600|    30|  1980-01-20|      2022-01-02|
| 7521|  WARD| SALESMAN|  7698|1250|    30|  1980-01-22|      2022-01-03|
| 7566| JONES|  MANAGER|  7839|2975|    20|  1981-01-04|      2022-01-04|
| 7654|MARTIN| SALESMAN|  7698|1250|    30|  1981-01-21|      2022-01-05|
| 7698|   SGR|  MANAGER|  7839|2850|    30|  1981-01-05|      2022-01-06|
| 7782|  RAVI|  MANAGER|  7839|2450|    10|  1982-01-06|      2022-01-07|
| 7788| SCOTT|  ANALYST|  7566|3000|    20|  1982-01-19|      2022-01-08|
| 7839|  KING|PRESIDENT|  null|5000|    10|        null|            null|
| 7844|TURNER| SALESMAN|  7698|1500|    30|  1982-01-09|      2022-01-01|
+-----+------+---------+------+----+------+------------+----------------+
only showing top 10 rows

root
 |-- EMPNO: integer (nullable = true)
 |-- ENAME: string (nullable = true)
 |-- JOB: string (nullable = true)
 |-- Manger: integer (nullable = true)
 |-- SAL: integer (nullable = true)
 |-- DEPTNO: integer (nullable = true)
 |-- New_HIREDATE: date (nullable = true)
 |-- New_UPDATED_DATE: date (nullable = true)

#Adding new columns with different values and drop null values

In [10]:
df_csv = df_csv.withColumn('Position',when( col('JOB') == 'CLERK' ,'Level3').when( col('JOB') == 'SALESMAN' ,'Level4')
.when(col('JOB') == 'MANAGER','Level2').when( col('JOB') == 'PRESIDENT','Level1') ).dropna()

df_csv.show(10)
df_csv.count()

+-----+------+--------+------+----+------+------------+----------------+--------+
|EMPNO| ENAME|     JOB|Manger| SAL|DEPTNO|New_HIREDATE|New_UPDATED_DATE|Position|
+-----+------+--------+------+----+------+------------+----------------+--------+
| 7369| SMITH|   CLERK|  7902| 800|    20|  1980-01-17|      2022-01-01|  Level3|
| 7499| ALLEN|SALESMAN|  7698|1600|    30|  1980-01-20|      2022-01-02|  Level4|
| 7521|  WARD|SALESMAN|  7698|1250|    30|  1980-01-22|      2022-01-03|  Level4|
| 7566| JONES| MANAGER|  7839|2975|    20|  1981-01-04|      2022-01-04|  Level2|
| 7654|MARTIN|SALESMAN|  7698|1250|    30|  1981-01-21|      2022-01-05|  Level4|
| 7698|   SGR| MANAGER|  7839|2850|    30|  1981-01-05|      2022-01-06|  Level2|
| 7782|  RAVI| MANAGER|  7839|2450|    10|  1982-01-06|      2022-01-07|  Level2|
| 7844|TURNER|SALESMAN|  7698|1500|    30|  1982-01-09|      2022-01-01|  Level4|
| 7876| ADAMS|   CLERK|  7788|1100|    20|  1987-01-23|      2022-01-02|  Level3|
| 7900| JAMES|   CLERK|  7698| 950|    30|  1987-01-12|      2022-01-03|  Level3|
+-----+------+--------+------+----+------+------------+----------------+--------+
only showing top 10 rows

20

# Save Dataframe to Hive table

In [11]:
df_csv.write.partitionBy('JOB').saveAsTable('New_Employee')

# write spark sql query

In [12]:
spark.sql('select * from New_Employee').show()

+-----+------+------+----+------+------------+----------------+--------+--------+
|EMPNO| ENAME|Manger| SAL|DEPTNO|New_HIREDATE|New_UPDATED_DATE|Position|     JOB|
+-----+------+------+----+------+------------+----------------+--------+--------+
| 7369| SMITH|  7902| 800|    20|  1980-01-17|      2022-01-01|  Level3|   CLERK|
| 7876| ADAMS|  7788|1100|    20|  1987-01-23|      2022-01-02|  Level3|   CLERK|
| 7900| JAMES|  7698| 950|    30|  1987-01-12|      2022-01-03|  Level3|   CLERK|
| 7934|MILLER|  7782|1300|    10|  1987-01-01|      2022-01-05|  Level3|   CLERK|
| 7369| SMITH|  7902| 800|    20|  1985-01-17|      2022-01-07|  Level3|   CLERK|
| 7876| ADAMS|  7788|1100|    20|  1987-01-23|      2021-01-08|  Level3|   CLERK|
| 7934|MILLER|  7782|1300|    10|  1982-01-01|      2021-01-02|  Level3|   CLERK|
| 7499| ALLEN|  7698|1600|    30|  1980-01-20|      2022-01-02|  Level4|SALESMAN|
| 7521|  WARD|  7698|1250|    30|  1980-01-22|      2022-01-03|  Level4|SALESMAN|
| 7654|MARTIN|  7698|1250|    30|  1981-01-21|      2022-01-05|  Level4|SALESMAN|
| 7844|TURNER|  7698|1500|    30|  1982-01-09|      2022-01-01|  Level4|SALESMAN|
| 7499| ALLEN|  7698|1600|    30|  1985-01-20|      2022-01-08|  Level4|SALESMAN|
| 7654|MARTIN|  7698|1250|    30|  1986-01-21|      2021-01-02|  Level4|SALESMAN|
| 7844|TURNER|  7698|1500|    30|  1981-01-09|      2021-01-07|  Level4|SALESMAN|
| 7566| JONES|  7839|2975|    20|  1981-01-04|      2022-01-04|  Level2| MANAGER|
| 7698|   SGR|  7839|2850|    30|  1981-01-05|      2022-01-06|  Level2| MANAGER|
| 7782|  RAVI|  7839|2450|    10|  1982-01-06|      2022-01-07|  Level2| MANAGER|
| 7566| JONES|  7839|2975|    20|  1986-01-04|      2021-01-01|  Level2| MANAGER|
| 7698|   SGR|  7839|2850|    30|  1986-01-05|      2021-01-03|  Level2| MANAGER|
| 7782|  RAVI|  7839|2450|    10|  1981-01-06|      2021-01-04|  Level2| MANAGER|
+-----+------+------+----+------+------------+----------------+--------+--------+

# Read Dataframe from Hive table

In [13]:
df_hive = spark.read.table('New_Employee')

df_hive.show()

+-----+------+------+----+------+------------+----------------+--------+--------+
|EMPNO| ENAME|Manger| SAL|DEPTNO|New_HIREDATE|New_UPDATED_DATE|Position|     JOB|
+-----+------+------+----+------+------------+----------------+--------+--------+
| 7369| SMITH|  7902| 800|    20|  1980-01-17|      2022-01-01|  Level3|   CLERK|
| 7876| ADAMS|  7788|1100|    20|  1987-01-23|      2022-01-02|  Level3|   CLERK|
| 7900| JAMES|  7698| 950|    30|  1987-01-12|      2022-01-03|  Level3|   CLERK|
| 7934|MILLER|  7782|1300|    10|  1987-01-01|      2022-01-05|  Level3|   CLERK|
| 7369| SMITH|  7902| 800|    20|  1985-01-17|      2022-01-07|  Level3|   CLERK|
| 7876| ADAMS|  7788|1100|    20|  1987-01-23|      2021-01-08|  Level3|   CLERK|
| 7934|MILLER|  7782|1300|    10|  1982-01-01|      2021-01-02|  Level3|   CLERK|
| 7499| ALLEN|  7698|1600|    30|  1980-01-20|      2022-01-02|  Level4|SALESMAN|
| 7521|  WARD|  7698|1250|    30|  1980-01-22|      2022-01-03|  Level4|SALESMAN|
| 7654|MARTIN|  7698|1250|    30|  1981-01-21|      2022-01-05|  Level4|SALESMAN|
| 7844|TURNER|  7698|1500|    30|  1982-01-09|      2022-01-01|  Level4|SALESMAN|
| 7499| ALLEN|  7698|1600|    30|  1985-01-20|      2022-01-08|  Level4|SALESMAN|
| 7654|MARTIN|  7698|1250|    30|  1986-01-21|      2021-01-02|  Level4|SALESMAN|
| 7844|TURNER|  7698|1500|    30|  1981-01-09|      2021-01-07|  Level4|SALESMAN|
| 7566| JONES|  7839|2975|    20|  1981-01-04|      2022-01-04|  Level2| MANAGER|
| 7698|   SGR|  7839|2850|    30|  1981-01-05|      2022-01-06|  Level2| MANAGER|
| 7782|  RAVI|  7839|2450|    10|  1982-01-06|      2022-01-07|  Level2| MANAGER|
| 7566| JONES|  7839|2975|    20|  1986-01-04|      2021-01-01|  Level2| MANAGER|
| 7698|   SGR|  7839|2850|    30|  1986-01-05|      2021-01-03|  Level2| MANAGER|
| 7782|  RAVI|  7839|2450|    10|  1981-01-06|      2021-01-04|  Level2| MANAGER|
+-----+------+------+----+------+------------+----------------+--------+--------+

# Adding current timestamp to dataframe

In [14]:
df_hive1 = df_hive.withColumn('Date',current_timestamp())

df_hive1.show(truncate = False)

+-----+------+------+----+------+------------+----------------+--------+--------+-------------------------+
|EMPNO|ENAME |Manger|SAL |DEPTNO|New_HIREDATE|New_UPDATED_DATE|Position|JOB     |Date                     |
+-----+------+------+----+------+------------+----------------+--------+--------+-------------------------+
|7369 |SMITH |7902  |800 |20    |1980-01-17  |2022-01-01      |Level3  |CLERK   |2023-07-18 14:44:25.88928|
|7876 |ADAMS |7788  |1100|20    |1987-01-23  |2022-01-02      |Level3  |CLERK   |2023-07-18 14:44:25.88928|
|7900 |JAMES |7698  |950 |30    |1987-01-12  |2022-01-03      |Level3  |CLERK   |2023-07-18 14:44:25.88928|
|7934 |MILLER|7782  |1300|10    |1987-01-01  |2022-01-05      |Level3  |CLERK   |2023-07-18 14:44:25.88928|
|7369 |SMITH |7902  |800 |20    |1985-01-17  |2022-01-07      |Level3  |CLERK   |2023-07-18 14:44:25.88928|
|7876 |ADAMS |7788  |1100|20    |1987-01-23  |2021-01-08      |Level3  |CLERK   |2023-07-18 14:44:25.88928|
|7934 |MILLER|7782  |1300|10    |1982-01-01  |2021-01-02      |Level3  |CLERK   |2023-07-18 14:44:25.88928|
|7499 |ALLEN |7698  |1600|30    |1980-01-20  |2022-01-02      |Level4  |SALESMAN|2023-07-18 14:44:25.88928|
|7521 |WARD  |7698  |1250|30    |1980-01-22  |2022-01-03      |Level4  |SALESMAN|2023-07-18 14:44:25.88928|
|7654 |MARTIN|7698  |1250|30    |1981-01-21  |2022-01-05      |Level4  |SALESMAN|2023-07-18 14:44:25.88928|
|7844 |TURNER|7698  |1500|30    |1982-01-09  |2022-01-01      |Level4  |SALESMAN|2023-07-18 14:44:25.88928|
|7499 |ALLEN |7698  |1600|30    |1985-01-20  |2022-01-08      |Level4  |SALESMAN|2023-07-18 14:44:25.88928|
|7654 |MARTIN|7698  |1250|30    |1986-01-21  |2021-01-02      |Level4  |SALESMAN|2023-07-18 14:44:25.88928|
|7844 |TURNER|7698  |1500|30    |1981-01-09  |2021-01-07      |Level4  |SALESMAN|2023-07-18 14:44:25.88928|
|7566 |JONES |7839  |2975|20    |1981-01-04  |2022-01-04      |Level2  |MANAGER |2023-07-18 14:44:25.88928|
|7698 |SGR   |7839  |2850|30    |1981-01-05  |2022-01-06      |Level2  |MANAGER |2023-07-18 14:44:25.88928|
|7782 |RAVI  |7839  |2450|10    |1982-01-06  |2022-01-07      |Level2  |MANAGER |2023-07-18 14:44:25.88928|
|7566 |JONES |7839  |2975|20    |1986-01-04  |2021-01-01      |Level2  |MANAGER |2023-07-18 14:44:25.88928|
|7698 |SGR   |7839  |2850|30    |1986-01-05  |2021-01-03      |Level2  |MANAGER |2023-07-18 14:44:25.88928|
|7782 |RAVI  |7839  |2450|10    |1981-01-06  |2021-01-04      |Level2  |MANAGER |2023-07-18 14:44:25.88928|
+-----+------+------+----+------+------------+----------------+--------+--------+-------------------------+

# Creating Data Frame from mysql table

In [15]:
"""
df_mysql = spark.read.format('jdbc').\
           option('url','jdbc:mysql://localhost:3306').\
           option('driver','com.mysql.jdbc.Driver').\
           option('user','root').\
           option('password','sandeep').\
           option('query','select * from sandeep.emp_table').\
           load()
"""

"\ndf_mysql = spark.read.format('jdbc').           option('url','jdbc:mysql://localhost:3306').           option('driver','com.mysql.jdbc.Driver').           option('user','root').           option('password','sandeep').           option('query','select * from sandeep.emp_table').           load()\n"

# fill missing data in textFile and convert into Dataframe

In [16]:
df_txt = spark.read.format('csv').option('header',True).option('sep',' ').load('/content/fill missing.txt').fillna('no data')

df_txt.show(10)

+------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+
|Spark0| Spark1| Spark2| Spark3| Spark4| Spark5| Spark6| Spark7| Spark8| Spark9|Spark10|   _c11|
+------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+
| Spark|  Spark|  Spark|  Spark|  Spark|  Spark|  Spark|  Spark|  Spark|  Spark|no data|no data|
| Spark|  Spark|  Spark|  Spark|  Spark|  Spark|  Spark|  Spark|  Spark|no data|no data|no data|
| Spark|  Spark|  Spark|  Spark|  Spark|  Spark|  Spark|  Spark|no data|no data|no data|no data|
| Spark|  Spark|  Spark|  Spark|  Spark|  Spark|  Spark|no data|no data|no data|no data|no data|
| Spark|  Spark|  Spark|  Spark|  Spark|  Spark|no data|no data|no data|no data|no data|no data|
| Spark|  Spark|  Spark|  Spark|  Spark|no data|no data|no data|no data|no data|no data|no data|
| Spark|  Spark|  Spark|  Spark|no data|no data|no data|no data|no data|no data|no data|no data|
| Spark|  Spark|  Spark|no data|no data|no data|no data|no data|no data|no data|no data|no data|
| Spark|  Spark|no data|no data|no data|no data|no data|no data|no data|no data|no data|no data|
| Spark|no data|no data|no data|no data|no data|no data|no data|no data|no data|no data|no data|
+------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+

# Functions in pyspark

In [17]:
from pyspark.sql.functions import *

fun = spark.sql('show functions')
print(fun.count())
print(fun.show())

424
+--------+
|function|
+--------+
|       !|
|      !=|
|       %|
|       &|
|       *|
|       +|
|       -|
|       /|
|       <|
|      <=|
|     <=>|
|      <>|
|       =|
|      ==|
|       >|
|      >=|
|       ^|
|     abs|
|    acos|
|   acosh|
+--------+
only showing top 20 rows

None

# Creating DataFrame from Json file

In [18]:
df_json = spark.read.format('json').load('/content/emp.json')
df_json.show()
df_json.printSchema()
df_json.count()

+----+------+-----+------+----------+---------+----+----+------------+
|COMM|DEPTNO|EMPNO| ENAME|  HIREDATE|      JOB| MGR| SAL|UPDATED_DATE|
+----+------+-----+------+----------+---------+----+----+------------+
|  78|    80| 1234|SEKHAR|      null|   doctor|7777| 667|  2022-01-03|
|null|    20| 7369| SMITH|17-12-1980|    CLERK|7902| 800|  2022-01-01|
| 300|    30| 7499| ALLEN|20-02-1981| SALESMAN|7698|1600|  2022-01-01|
| 500|    30| 7521|  WARD|22-02-1981| SALESMAN|7698|1250|  2022-01-01|
|null|    20| 7566| JONES|04-02-1981|  MANAGER|7839|2975|  2022-01-05|
|1400|    30| 7654|MARTIN|21-09-1981| SALESMAN|7698|1250|  2022-01-03|
|null|    30| 7698|   SGR|05-01-1981|  MANAGER|7839|2850|  2022-01-04|
|null|    10| 7782|  RAVI|06-09-1981|  MANAGER|7839|2450|  2022-01-02|
|null|    20| 7788| SCOTT|19-04-1987|  ANALYST|7566|3000|  2022-01-02|
|null|    10| 7839|  KING|01-11-1981|PRESIDENT|null|5000|  2022-01-02|
|   0|    30| 7844|TURNER|09-08-1981| SALESMAN|7698|1500|  2022-01-02|
|null|    20| 7876| ADAMS|23-05-1987|    CLERK|7788|1100|  2022-01-03|
|null|    30| 7900| JAMES|12-03-1981|    CLERK|7698| 950|  2022-01-03|
|null|    20| 7902|  FORD|12-03-1981|  ANALYST|7566|3000|  2022-01-03|
|null|    10| 7934|MILLER|01-03-1982|    CLERK|7782|1300|  2022-01-03|
+----+------+-----+------+----------+---------+----+----+------------+

root
 |-- COMM: string (nullable = true)
 |-- DEPTNO: string (nullable = true)
 |-- EMPNO: string (nullable = true)
 |-- ENAME: string (nullable = true)
 |-- HIREDATE: string (nullable = true)
 |-- JOB: string (nullable = true)
 |-- MGR: string (nullable = true)
 |-- SAL: string (nullable = true)
 |-- UPDATED_DATE: string (nullable = true)

15

# Creating DataFrame from multiLine Json file

In [19]:
# if json file has  more no.of lines (nested data) .then we should use multiLine in options

df_mul_json  = spark.read.format('json').option('multiline',True).option('inferSchema',True).option('nullValue','null').load('/content/nested_json.json')

df_mul_json .show(truncate = False)

df_mul_json .printSchema()

df_mul_json .count()

+-------------------------------------------------------------------------------+----+----+----+-----------------------------------------------------------------------------------------------------------------------------------------+-----+
|batters                                                                        |id  |name|ppu |topping                                                                                                                                  |type |
+-------------------------------------------------------------------------------+----+----+----+-----------------------------------------------------------------------------------------------------------------------------------------+-----+
|{[{1001, Regular}, {1002, Chocolate}, {1003, Blueberry}, {1004, Devil's Food}]}|0001|Cake|0.55|[{5001, None}, {5002, Glazed}, {5005, Sugar}, {5007, Powdered Sugar}, {5006, Chocolate with Sprinkles}, {5003, Chocolate}, {5004, Maple}]|donut|
+-------------------------------------------------------------------------------+----+----+----+-----------------------------------------------------------------------------------------------------------------------------------------+-----+

root
 |-- batters: struct (nullable = true)
 |    |-- batter: array (nullable = true)
 |    |    |-- element: struct (containsNull = true)
 |    |    |    |-- id: string (nullable = true)
 |    |    |    |-- type: string (nullable = true)
 |-- id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- ppu: double (nullable = true)
 |-- topping: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- id: string (nullable = true)
 |    |    |-- type: string (nullable = true)
 |-- type: string (nullable = true)

1

# Explode json Columns

In [20]:
df_explode = df_mul_json.withColumn('batters_exp',explode('batters.batter'))\
.withColumn('batter_id', col('batters_exp.id')).withColumn('better_type',col('batters_exp.type')).drop('batters','batters_exp')

df_explode.show()

+----+----+----+--------------------+-----+---------+------------+
|  id|name| ppu|             topping| type|batter_id| better_type|
+----+----+----+--------------------+-----+---------+------------+
|0001|Cake|0.55|[{5001, None}, {5...|donut|     1001|     Regular|
|0001|Cake|0.55|[{5001, None}, {5...|donut|     1002|   Chocolate|
|0001|Cake|0.55|[{5001, None}, {5...|donut|     1003|   Blueberry|
|0001|Cake|0.55|[{5001, None}, {5...|donut|     1004|Devil's Food|
+----+----+----+--------------------+-----+---------+------------+

In [21]:
df_mul_final = df_explode.withColumn('topping_exp',explode('topping')).withColumn('topping_id',col('topping_exp.id'))\
.withColumn('topping_type',col('topping_exp.type')).drop('topping','topping_exp')

df_mul_final.show()

+----+----+----+-----+---------+-----------+----------+--------------------+
|  id|name| ppu| type|batter_id|better_type|topping_id|        topping_type|
+----+----+----+-----+---------+-----------+----------+--------------------+
|0001|Cake|0.55|donut|     1001|    Regular|      5001|                None|
|0001|Cake|0.55|donut|     1001|    Regular|      5002|              Glazed|
|0001|Cake|0.55|donut|     1001|    Regular|      5005|               Sugar|
|0001|Cake|0.55|donut|     1001|    Regular|      5007|      Powdered Sugar|
|0001|Cake|0.55|donut|     1001|    Regular|      5006|Chocolate with Sp...|
|0001|Cake|0.55|donut|     1001|    Regular|      5003|           Chocolate|
|0001|Cake|0.55|donut|     1001|    Regular|      5004|               Maple|
|0001|Cake|0.55|donut|     1002|  Chocolate|      5001|                None|
|0001|Cake|0.55|donut|     1002|  Chocolate|      5002|              Glazed|
|0001|Cake|0.55|donut|     1002|  Chocolate|      5005|               Sugar|
|0001|Cake|0.55|donut|     1002|  Chocolate|      5007|      Powdered Sugar|
|0001|Cake|0.55|donut|     1002|  Chocolate|      5006|Chocolate with Sp...|
|0001|Cake|0.55|donut|     1002|  Chocolate|      5003|           Chocolate|
|0001|Cake|0.55|donut|     1002|  Chocolate|      5004|               Maple|
|0001|Cake|0.55|donut|     1003|  Blueberry|      5001|                None|
|0001|Cake|0.55|donut|     1003|  Blueberry|      5002|              Glazed|
|0001|Cake|0.55|donut|     1003|  Blueberry|      5005|               Sugar|
|0001|Cake|0.55|donut|     1003|  Blueberry|      5007|      Powdered Sugar|
|0001|Cake|0.55|donut|     1003|  Blueberry|      5006|Chocolate with Sp...|
|0001|Cake|0.55|donut|     1003|  Blueberry|      5003|           Chocolate|
+----+----+----+-----+---------+-----------+----------+--------------------+
only showing top 20 rows

# how to handle multi delimiter files

In [22]:
#Multiple delimeters

mu_df = spark.read.format('csv').option('sep','||').option('header',True).load('/content/emp_multiple_delimeter.txt')

mu_df.show()

+-----+------+---------+----+----------+--------------------+
|EMPNO| ENAME|      JOB| MGR|  HIREDATE|                 SAL|
+-----+------+---------+----+----------+--------------------+
| 7839|  KING|PRESIDENT|null|      null|   5000,null,10,null|
| 7844|TURNER| SALESMAN|7698|09-08-1981|1500,0,30,01-02-2022|
| 7876| ADAMS|    CLERK|7788|23-05-1987|1100,null,20,02-0...|
| 7900| JAMES|    CLERK|7698|12-03-1981|950,null,30,03-02...|
| 7902|  FORD|  ANALYST|7566|12-03-1981|3000,null,20,04-0...|
| 7934|MILLER|    CLERK|7782|01-03-1982|1300,null,10,05-0...|
| 1234|SEKHAR|   doctor|7777|      null|667,78,80,06-02-2022|
| 7369| SMITH|    CLERK|7902|17-12-1980|800,null,20,07-02...|
| 7499| ALLEN| SALESMAN|7698|20-02-1981|1600,300,30,08-02...|
| 7521|  WARD| SALESMAN|7698|22-02-1981|    1250,500,30,null|
| 7566| JONES|  MANAGER|7839|04-02-1981|2975,null,20,01-0...|
+-----+------+---------+----+----------+--------------------+

In [23]:
mu_df = mu_df.withColumn('Split',split('SAL',','))

mu_df.show()

+-----+------+---------+----+----------+--------------------+--------------------+
|EMPNO| ENAME|      JOB| MGR|  HIREDATE|                 SAL|               Split|
+-----+------+---------+----+----------+--------------------+--------------------+
| 7839|  KING|PRESIDENT|null|      null|   5000,null,10,null|[5000, null, 10, ...|
| 7844|TURNER| SALESMAN|7698|09-08-1981|1500,0,30,01-02-2022|[1500, 0, 30, 01-...|
| 7876| ADAMS|    CLERK|7788|23-05-1987|1100,null,20,02-0...|[1100, null, 20, ...|
| 7900| JAMES|    CLERK|7698|12-03-1981|950,null,30,03-02...|[950, null, 30, 0...|
| 7902|  FORD|  ANALYST|7566|12-03-1981|3000,null,20,04-0...|[3000, null, 20, ...|
| 7934|MILLER|    CLERK|7782|01-03-1982|1300,null,10,05-0...|[1300, null, 10, ...|
| 1234|SEKHAR|   doctor|7777|      null|667,78,80,06-02-2022|[667, 78, 80, 06-...|
| 7369| SMITH|    CLERK|7902|17-12-1980|800,null,20,07-02...|[800, null, 20, 0...|
| 7499| ALLEN| SALESMAN|7698|20-02-1981|1600,300,30,08-02...|[1600, 300, 30, 0...|
| 7521|  WARD| SALESMAN|7698|22-02-1981|    1250,500,30,null|[1250, 500, 30, n...|
| 7566| JONES|  MANAGER|7839|04-02-1981|2975,null,20,01-0...|[2975, null, 20, ...|
+-----+------+---------+----+----------+--------------------+--------------------+

In [24]:
mu_df = mu_df.withColumn('SAL',col('Split')[0]) \
             .withColumn('COMM',col('Split')[1]) \
             .withColumn('DEPTNO',col('Split')[2]) \
             .withColumn('UPDATED_DATE',col('Split')[3]) \
             .drop('Split')

mu_df.show()

+-----+------+---------+----+----------+----+----+------+------------+
|EMPNO| ENAME|      JOB| MGR|  HIREDATE| SAL|COMM|DEPTNO|UPDATED_DATE|
+-----+------+---------+----+----------+----+----+------+------------+
| 7839|  KING|PRESIDENT|null|      null|5000|null|    10|        null|
| 7844|TURNER| SALESMAN|7698|09-08-1981|1500|   0|    30|  01-02-2022|
| 7876| ADAMS|    CLERK|7788|23-05-1987|1100|null|    20|  02-02-2022|
| 7900| JAMES|    CLERK|7698|12-03-1981| 950|null|    30|  03-02-2022|
| 7902|  FORD|  ANALYST|7566|12-03-1981|3000|null|    20|  04-02-2022|
| 7934|MILLER|    CLERK|7782|01-03-1982|1300|null|    10|  05-02-2022|
| 1234|SEKHAR|   doctor|7777|      null| 667|  78|    80|  06-02-2022|
| 7369| SMITH|    CLERK|7902|17-12-1980| 800|null|    20|  07-02-2022|
| 7499| ALLEN| SALESMAN|7698|20-02-1981|1600| 300|    30|  08-02-2022|
| 7521|  WARD| SALESMAN|7698|22-02-1981|1250| 500|    30|        null|
| 7566| JONES|  MANAGER|7839|04-02-1981|2975|null|    20|  01-02-2021|
+-----+------+---------+----+----------+----+----+------+------------+

# individual Columns null values

In [25]:
df_csv.filter('UPDATED_DATE is Null').show()
df_csv.filter('SAL is null').show()

+-----+-----+---+------+---+------+------------+----------------+--------+
|EMPNO|ENAME|JOB|Manger|SAL|DEPTNO|New_HIREDATE|New_UPDATED_DATE|Position|
+-----+-----+---+------+---+------+------------+----------------+--------+
+-----+-----+---+------+---+------+------------+----------------+--------+

+-----+-----+---+------+---+------+------------+----------------+--------+
|EMPNO|ENAME|JOB|Manger|SAL|DEPTNO|New_HIREDATE|New_UPDATED_DATE|Position|
+-----+-----+---+------+---+------+------------+----------------+--------+
+-----+-----+---+------+---+------+------------+----------------+--------+

# how to get no.of rows in each partition

In [26]:
df_csv.select(spark_partition_id().alias('id')).groupBy('id').count().show()

+---+-----+
| id|count|
+---+-----+
|  0|   20|
+---+-----+

In [27]:
# By Using Repartition

df_csv.repartition(4).select(spark_partition_id().alias('id')).groupBy('id').count().show()

+---+-----+
| id|count|
+---+-----+
|  0|    5|
|  1|    5|
|  2|    5|
|  3|    5|
+---+-----+

# how to read all files from a directory inside another directory (nested/sub directory)

In [28]:
df_all = spark.read.format('parquet').option('recursiveFileLookup',True).option('header',True).option('nullValue','null').option('inferSchema',True).load('/content/spark-warehouse')


df_all.show()
df_all.count()

+-----+------+------+----+------+------------+----------------+--------+
|EMPNO| ENAME|Manger| SAL|DEPTNO|New_HIREDATE|New_UPDATED_DATE|Position|
+-----+------+------+----+------+------------+----------------+--------+
| 7369| SMITH|  7902| 800|    20|  1980-01-17|      2022-01-01|  Level3|
| 7876| ADAMS|  7788|1100|    20|  1987-01-23|      2022-01-02|  Level3|
| 7900| JAMES|  7698| 950|    30|  1987-01-12|      2022-01-03|  Level3|
| 7934|MILLER|  7782|1300|    10|  1987-01-01|      2022-01-05|  Level3|
| 7369| SMITH|  7902| 800|    20|  1985-01-17|      2022-01-07|  Level3|
| 7876| ADAMS|  7788|1100|    20|  1987-01-23|      2021-01-08|  Level3|
| 7934|MILLER|  7782|1300|    10|  1982-01-01|      2021-01-02|  Level3|
| 7499| ALLEN|  7698|1600|    30|  1980-01-20|      2022-01-02|  Level4|
| 7521|  WARD|  7698|1250|    30|  1980-01-22|      2022-01-03|  Level4|
| 7654|MARTIN|  7698|1250|    30|  1981-01-21|      2022-01-05|  Level4|
| 7844|TURNER|  7698|1500|    30|  1982-01-09|      2022-01-01|  Level4|
| 7499| ALLEN|  7698|1600|    30|  1985-01-20|      2022-01-08|  Level4|
| 7654|MARTIN|  7698|1250|    30|  1986-01-21|      2021-01-02|  Level4|
| 7844|TURNER|  7698|1500|    30|  1981-01-09|      2021-01-07|  Level4|
| 7566| JONES|  7839|2975|    20|  1981-01-04|      2022-01-04|  Level2|
| 7698|   SGR|  7839|2850|    30|  1981-01-05|      2022-01-06|  Level2|
| 7782|  RAVI|  7839|2450|    10|  1982-01-06|      2022-01-07|  Level2|
| 7566| JONES|  7839|2975|    20|  1986-01-04|      2021-01-01|  Level2|
| 7698|   SGR|  7839|2850|    30|  1986-01-05|      2021-01-03|  Level2|
| 7782|  RAVI|  7839|2450|    10|  1981-01-06|      2021-01-04|  Level2|
+-----+------+------+----+------+------------+----------------+--------+

20

# create year,month,day columns from Date Column

In [29]:
df_csv = df_csv.withColumn('year',date_format('New_HIREDATE','yyyy'))\
.withColumn('month',date_format('New_HIREDATE','MM'))\
.withColumn('day',date_format('New_HIREDATE','dd'))

df_csv.show()

+-----+------+--------+------+----+------+------------+----------------+--------+----+-----+---+
|EMPNO| ENAME|     JOB|Manger| SAL|DEPTNO|New_HIREDATE|New_UPDATED_DATE|Position|year|month|day|
+-----+------+--------+------+----+------+------------+----------------+--------+----+-----+---+
| 7369| SMITH|   CLERK|  7902| 800|    20|  1980-01-17|      2022-01-01|  Level3|1980|   01| 17|
| 7499| ALLEN|SALESMAN|  7698|1600|    30|  1980-01-20|      2022-01-02|  Level4|1980|   01| 20|
| 7521|  WARD|SALESMAN|  7698|1250|    30|  1980-01-22|      2022-01-03|  Level4|1980|   01| 22|
| 7566| JONES| MANAGER|  7839|2975|    20|  1981-01-04|      2022-01-04|  Level2|1981|   01| 04|
| 7654|MARTIN|SALESMAN|  7698|1250|    30|  1981-01-21|      2022-01-05|  Level4|1981|   01| 21|
| 7698|   SGR| MANAGER|  7839|2850|    30|  1981-01-05|      2022-01-06|  Level2|1981|   01| 05|
| 7782|  RAVI| MANAGER|  7839|2450|    10|  1982-01-06|      2022-01-07|  Level2|1982|   01| 06|
| 7844|TURNER|SALESMAN|  7698|1500|    30|  1982-01-09|      2022-01-01|  Level4|1982|   01| 09|
| 7876| ADAMS|   CLERK|  7788|1100|    20|  1987-01-23|      2022-01-02|  Level3|1987|   01| 23|
| 7900| JAMES|   CLERK|  7698| 950|    30|  1987-01-12|      2022-01-03|  Level3|1987|   01| 12|
| 7934|MILLER|   CLERK|  7782|1300|    10|  1987-01-01|      2022-01-05|  Level3|1987|   01| 01|
| 7369| SMITH|   CLERK|  7902| 800|    20|  1985-01-17|      2022-01-07|  Level3|1985|   01| 17|
| 7499| ALLEN|SALESMAN|  7698|1600|    30|  1985-01-20|      2022-01-08|  Level4|1985|   01| 20|
| 7566| JONES| MANAGER|  7839|2975|    20|  1986-01-04|      2021-01-01|  Level2|1986|   01| 04|
| 7654|MARTIN|SALESMAN|  7698|1250|    30|  1986-01-21|      2021-01-02|  Level4|1986|   01| 21|
| 7698|   SGR| MANAGER|  7839|2850|    30|  1986-01-05|      2021-01-03|  Level2|1986|   01| 05|
| 7782|  RAVI| MANAGER|  7839|2450|    10|  1981-01-06|      2021-01-04|  Level2|1981|   01| 06|
| 7844|TURNER|SALESMAN|  7698|1500|    30|  1981-01-09|      2021-01-07|  Level4|1981|   01| 09|
| 7876| ADAMS|   CLERK|  7788|1100|    20|  1987-01-23|      2021-01-08|  Level3|1987|   01| 23|
| 7934|MILLER|   CLERK|  7782|1300|    10|  1982-01-01|      2021-01-02|  Level3|1982|   01| 01|
+-----+------+--------+------+----+------+------------+----------------+--------+----+-----+---+

# Create A partitioned dataframe by year,month,day save it to Employee Hire table

In [30]:
df_csv.write.partitionBy('year','month','Day').saveAsTable('employee_hire')

In [31]:
spark.sql('select * from employee_hire').show()

+-----+------+--------+------+----+------+------------+----------------+--------+----+-----+---+
|EMPNO| ENAME|     JOB|Manger| SAL|DEPTNO|New_HIREDATE|New_UPDATED_DATE|Position|year|month|day|
+-----+------+--------+------+----+------+------------+----------------+--------+----+-----+---+
| 7876| ADAMS|   CLERK|  7788|1100|    20|  1987-01-23|      2022-01-02|  Level3|1987|   01| 23|
| 7876| ADAMS|   CLERK|  7788|1100|    20|  1987-01-23|      2021-01-08|  Level3|1987|   01| 23|
| 7844|TURNER|SALESMAN|  7698|1500|    30|  1982-01-09|      2022-01-01|  Level4|1982|   01| 09|
| 7844|TURNER|SALESMAN|  7698|1500|    30|  1981-01-09|      2021-01-07|  Level4|1981|   01| 09|
| 7654|MARTIN|SALESMAN|  7698|1250|    30|  1986-01-21|      2021-01-02|  Level4|1986|   01| 21|
| 7654|MARTIN|SALESMAN|  7698|1250|    30|  1981-01-21|      2022-01-05|  Level4|1981|   01| 21|
| 7499| ALLEN|SALESMAN|  7698|1600|    30|  1980-01-20|      2022-01-02|  Level4|1980|   01| 20|
| 7499| ALLEN|SALESMAN|  7698|1600|    30|  1985-01-20|      2022-01-08|  Level4|1985|   01| 20|
| 7521|  WARD|SALESMAN|  7698|1250|    30|  1980-01-22|      2022-01-03|  Level4|1980|   01| 22|
| 7566| JONES| MANAGER|  7839|2975|    20|  1986-01-04|      2021-01-01|  Level2|1986|   01| 04|
| 7566| JONES| MANAGER|  7839|2975|    20|  1981-01-04|      2022-01-04|  Level2|1981|   01| 04|
| 7934|MILLER|   CLERK|  7782|1300|    10|  1982-01-01|      2021-01-02|  Level3|1982|   01| 01|
| 7934|MILLER|   CLERK|  7782|1300|    10|  1987-01-01|      2022-01-05|  Level3|1987|   01| 01|
| 7782|  RAVI| MANAGER|  7839|2450|    10|  1981-01-06|      2021-01-04|  Level2|1981|   01| 06|
| 7782|  RAVI| MANAGER|  7839|2450|    10|  1982-01-06|      2022-01-07|  Level2|1982|   01| 06|
| 7698|   SGR| MANAGER|  7839|2850|    30|  1981-01-05|      2022-01-06|  Level2|1981|   01| 05|
| 7698|   SGR| MANAGER|  7839|2850|    30|  1986-01-05|      2021-01-03|  Level2|1986|   01| 05|
| 7900| JAMES|   CLERK|  7698| 950|    30|  1987-01-12|      2022-01-03|  Level3|1987|   01| 12|
| 7369| SMITH|   CLERK|  7902| 800|    20|  1985-01-17|      2022-01-07|  Level3|1985|   01| 17|
| 7369| SMITH|   CLERK|  7902| 800|    20|  1980-01-17|      2022-01-01|  Level3|1980|   01| 17|
+-----+------+--------+------+----+------+------------+----------------+--------+----+-----+---+

# Dataframe Write Modes

overwrite – mode is used to overwrite the existing file.

append – To add the data to the existing file.

ignore – Ignores write operation when the file already exists.

error – This is a default option when the file already exists, it returns an error.

In [32]:
#overwrite – mode is used to overwrite the existing file.
df_csv.write.partitionBy('year','month','day').mode('overwrite').saveAsTable('employee_hire')
df_csv.count()

20

In [33]:
# append – To add the data to the existing file.
df_csv.write.partitionBy('year','month','day').mode('append').saveAsTable('employee_hire')

df_csv.count()

20

In [34]:
#ignore – Ignores write operation when the file already exists.
df_csv.write.partitionBy('year','month','day').mode('ignore').saveAsTable('employee_hire')

# Remove duplicates in dataFrame

1.distinct()

2.dropDuplicates()/drop_duplicates()

3.window function with row_number()

In [35]:
#distinct

df_dis = df_csv.distinct()
df_dis.show(10)
df_dis.count()

+-----+------+--------+------+----+------+------------+----------------+--------+----+-----+---+
|EMPNO| ENAME|     JOB|Manger| SAL|DEPTNO|New_HIREDATE|New_UPDATED_DATE|Position|year|month|day|
+-----+------+--------+------+----+------+------------+----------------+--------+----+-----+---+
| 7698|   SGR| MANAGER|  7839|2850|    30|  1986-01-05|      2021-01-03|  Level2|1986|   01| 05|
| 7934|MILLER|   CLERK|  7782|1300|    10|  1987-01-01|      2022-01-05|  Level3|1987|   01| 01|
| 7876| ADAMS|   CLERK|  7788|1100|    20|  1987-01-23|      2022-01-02|  Level3|1987|   01| 23|
| 7900| JAMES|   CLERK|  7698| 950|    30|  1987-01-12|      2022-01-03|  Level3|1987|   01| 12|
| 7499| ALLEN|SALESMAN|  7698|1600|    30|  1980-01-20|      2022-01-02|  Level4|1980|   01| 20|
| 7654|MARTIN|SALESMAN|  7698|1250|    30|  1981-01-21|      2022-01-05|  Level4|1981|   01| 21|
| 7844|TURNER|SALESMAN|  7698|1500|    30|  1982-01-09|      2022-01-01|  Level4|1982|   01| 09|
| 7934|MILLER|   CLERK|  7782|1300|    10|  1982-01-01|      2021-01-02|  Level3|1982|   01| 01|
| 7844|TURNER|SALESMAN|  7698|1500|    30|  1981-01-09|      2021-01-07|  Level4|1981|   01| 09|
| 7521|  WARD|SALESMAN|  7698|1250|    30|  1980-01-22|      2022-01-03|  Level4|1980|   01| 22|
+-----+------+--------+------+----+------+------------+----------------+--------+----+-----+---+
only showing top 10 rows

20

In [36]:
#dropduplicates - it will keep only first record ,we will not get latest date data
#so we need to use order by function and desc to drop duplicates

drop_df = df_csv.orderBy( col('EMPNO').desc()).dropDuplicates(['EMPNO'])
drop_df.show(10)

+-----+------+--------+------+----+------+------------+----------------+--------+----+-----+---+
|EMPNO| ENAME|     JOB|Manger| SAL|DEPTNO|New_HIREDATE|New_UPDATED_DATE|Position|year|month|day|
+-----+------+--------+------+----+------+------------+----------------+--------+----+-----+---+
| 7369| SMITH|   CLERK|  7902| 800|    20|  1980-01-17|      2022-01-01|  Level3|1980|   01| 17|
| 7499| ALLEN|SALESMAN|  7698|1600|    30|  1980-01-20|      2022-01-02|  Level4|1980|   01| 20|
| 7521|  WARD|SALESMAN|  7698|1250|    30|  1980-01-22|      2022-01-03|  Level4|1980|   01| 22|
| 7566| JONES| MANAGER|  7839|2975|    20|  1981-01-04|      2022-01-04|  Level2|1981|   01| 04|
| 7654|MARTIN|SALESMAN|  7698|1250|    30|  1981-01-21|      2022-01-05|  Level4|1981|   01| 21|
| 7698|   SGR| MANAGER|  7839|2850|    30|  1981-01-05|      2022-01-06|  Level2|1981|   01| 05|
| 7782|  RAVI| MANAGER|  7839|2450|    10|  1982-01-06|      2022-01-07|  Level2|1982|   01| 06|
| 7844|TURNER|SALESMAN|  7698|1500|    30|  1982-01-09|      2022-01-01|  Level4|1982|   01| 09|
| 7876| ADAMS|   CLERK|  7788|1100|    20|  1987-01-23|      2022-01-02|  Level3|1987|   01| 23|
| 7900| JAMES|   CLERK|  7698| 950|    30|  1987-01-12|      2022-01-03|  Level3|1987|   01| 12|
+-----+------+--------+------+----+------+------------+----------------+--------+----+-----+---+
only showing top 10 rows

In [37]:
# window Function with row number

from pyspark.sql.window import *
row_df = df_csv.withColumn('row',row_number().over(Window.partitionBy('EMPNO').orderBy(col('SAL').desc())))
row_df.show(10)

+-----+------+--------+------+----+------+------------+----------------+--------+----+-----+---+---+
|EMPNO| ENAME|     JOB|Manger| SAL|DEPTNO|New_HIREDATE|New_UPDATED_DATE|Position|year|month|day|row|
+-----+------+--------+------+----+------+------------+----------------+--------+----+-----+---+---+
| 7369| SMITH|   CLERK|  7902| 800|    20|  1980-01-17|      2022-01-01|  Level3|1980|   01| 17|  1|
| 7369| SMITH|   CLERK|  7902| 800|    20|  1985-01-17|      2022-01-07|  Level3|1985|   01| 17|  2|
| 7499| ALLEN|SALESMAN|  7698|1600|    30|  1980-01-20|      2022-01-02|  Level4|1980|   01| 20|  1|
| 7499| ALLEN|SALESMAN|  7698|1600|    30|  1985-01-20|      2022-01-08|  Level4|1985|   01| 20|  2|
| 7521|  WARD|SALESMAN|  7698|1250|    30|  1980-01-22|      2022-01-03|  Level4|1980|   01| 22|  1|
| 7566| JONES| MANAGER|  7839|2975|    20|  1981-01-04|      2022-01-04|  Level2|1981|   01| 04|  1|
| 7566| JONES| MANAGER|  7839|2975|    20|  1986-01-04|      2021-01-01|  Level2|1986|   01| 04|  2|
| 7654|MARTIN|SALESMAN|  7698|1250|    30|  1981-01-21|      2022-01-05|  Level4|1981|   01| 21|  1|
| 7654|MARTIN|SALESMAN|  7698|1250|    30|  1986-01-21|      2021-01-02|  Level4|1986|   01| 21|  2|
| 7698|   SGR| MANAGER|  7839|2850|    30|  1981-01-05|      2022-01-06|  Level2|1981|   01| 05|  1|
+-----+------+--------+------+----+------+------------+----------------+--------+----+-----+---+---+
only showing top 10 rows

In [38]:
#good Data
row_df.filter( col('row') == 1).show()

+-----+------+--------+------+----+------+------------+----------------+--------+----+-----+---+---+
|EMPNO| ENAME|     JOB|Manger| SAL|DEPTNO|New_HIREDATE|New_UPDATED_DATE|Position|year|month|day|row|
+-----+------+--------+------+----+------+------------+----------------+--------+----+-----+---+---+
| 7369| SMITH|   CLERK|  7902| 800|    20|  1980-01-17|      2022-01-01|  Level3|1980|   01| 17|  1|
| 7499| ALLEN|SALESMAN|  7698|1600|    30|  1980-01-20|      2022-01-02|  Level4|1980|   01| 20|  1|
| 7521|  WARD|SALESMAN|  7698|1250|    30|  1980-01-22|      2022-01-03|  Level4|1980|   01| 22|  1|
| 7566| JONES| MANAGER|  7839|2975|    20|  1981-01-04|      2022-01-04|  Level2|1981|   01| 04|  1|
| 7654|MARTIN|SALESMAN|  7698|1250|    30|  1981-01-21|      2022-01-05|  Level4|1981|   01| 21|  1|
| 7698|   SGR| MANAGER|  7839|2850|    30|  1981-01-05|      2022-01-06|  Level2|1981|   01| 05|  1|
| 7782|  RAVI| MANAGER|  7839|2450|    10|  1982-01-06|      2022-01-07|  Level2|1982|   01| 06|  1|
| 7844|TURNER|SALESMAN|  7698|1500|    30|  1982-01-09|      2022-01-01|  Level4|1982|   01| 09|  1|
| 7876| ADAMS|   CLERK|  7788|1100|    20|  1987-01-23|      2022-01-02|  Level3|1987|   01| 23|  1|
| 7900| JAMES|   CLERK|  7698| 950|    30|  1987-01-12|      2022-01-03|  Level3|1987|   01| 12|  1|
| 7934|MILLER|   CLERK|  7782|1300|    10|  1987-01-01|      2022-01-05|  Level3|1987|   01| 01|  1|
+-----+------+--------+------+----+------+------------+----------------+--------+----+-----+---+---+

In [39]:
#Bad Data
row_df.filter( col('row') == 2 ).show()

+-----+------+--------+------+----+------+------------+----------------+--------+----+-----+---+---+
|EMPNO| ENAME|     JOB|Manger| SAL|DEPTNO|New_HIREDATE|New_UPDATED_DATE|Position|year|month|day|row|
+-----+------+--------+------+----+------+------------+----------------+--------+----+-----+---+---+
| 7369| SMITH|   CLERK|  7902| 800|    20|  1985-01-17|      2022-01-07|  Level3|1985|   01| 17|  2|
| 7499| ALLEN|SALESMAN|  7698|1600|    30|  1985-01-20|      2022-01-08|  Level4|1985|   01| 20|  2|
| 7566| JONES| MANAGER|  7839|2975|    20|  1986-01-04|      2021-01-01|  Level2|1986|   01| 04|  2|
| 7654|MARTIN|SALESMAN|  7698|1250|    30|  1986-01-21|      2021-01-02|  Level4|1986|   01| 21|  2|
| 7698|   SGR| MANAGER|  7839|2850|    30|  1986-01-05|      2021-01-03|  Level2|1986|   01| 05|  2|
| 7782|  RAVI| MANAGER|  7839|2450|    10|  1981-01-06|      2021-01-04|  Level2|1981|   01| 06|  2|
| 7844|TURNER|SALESMAN|  7698|1500|    30|  1981-01-09|      2021-01-07|  Level4|1981|   01| 09|  2|
| 7876| ADAMS|   CLERK|  7788|1100|    20|  1987-01-23|      2021-01-08|  Level3|1987|   01| 23|  2|
| 7934|MILLER|   CLERK|  7782|1300|    10|  1982-01-01|      2021-01-02|  Level3|1982|   01| 01|  2|
+-----+------+--------+------+----+------+------------+----------------+--------+----+-----+---+---+

# how to add/generate sequence id /surrogate key as a column
monotonically_increasing_id()

crc32 - generate random numbers

md5 - hash key generater function

sha2 -hash key generate function

row_number() - window function

In [40]:
#monotonically_increasing_id
df_mono = df_csv.withColumn('mono_key',monotonically_increasing_id())
df_mono.show()

# from custom id
df_mono1 = df_csv.withColumn('mono_id',monotonically_increasing_id()+1)
df_mono1.show()

+-----+------+--------+------+----+------+------------+----------------+--------+----+-----+---+--------+
|EMPNO| ENAME|     JOB|Manger| SAL|DEPTNO|New_HIREDATE|New_UPDATED_DATE|Position|year|month|day|mono_key|
+-----+------+--------+------+----+------+------------+----------------+--------+----+-----+---+--------+
| 7369| SMITH|   CLERK|  7902| 800|    20|  1980-01-17|      2022-01-01|  Level3|1980|   01| 17|       0|
| 7499| ALLEN|SALESMAN|  7698|1600|    30|  1980-01-20|      2022-01-02|  Level4|1980|   01| 20|       1|
| 7521|  WARD|SALESMAN|  7698|1250|    30|  1980-01-22|      2022-01-03|  Level4|1980|   01| 22|       2|
| 7566| JONES| MANAGER|  7839|2975|    20|  1981-01-04|      2022-01-04|  Level2|1981|   01| 04|       3|
| 7654|MARTIN|SALESMAN|  7698|1250|    30|  1981-01-21|      2022-01-05|  Level4|1981|   01| 21|       4|
| 7698|   SGR| MANAGER|  7839|2850|    30|  1981-01-05|      2022-01-06|  Level2|1981|   01| 05|       5|
| 7782|  RAVI| MANAGER|  7839|2450|    10|  1982-01-06|      2022-01-07|  Level2|1982|   01| 06|       6|
| 7844|TURNER|SALESMAN|  7698|1500|    30|  1982-01-09|      2022-01-01|  Level4|1982|   01| 09|       7|
| 7876| ADAMS|   CLERK|  7788|1100|    20|  1987-01-23|      2022-01-02|  Level3|1987|   01| 23|       8|
| 7900| JAMES|   CLERK|  7698| 950|    30|  1987-01-12|      2022-01-03|  Level3|1987|   01| 12|       9|
| 7934|MILLER|   CLERK|  7782|1300|    10|  1987-01-01|      2022-01-05|  Level3|1987|   01| 01|      10|
| 7369| SMITH|   CLERK|  7902| 800|    20|  1985-01-17|      2022-01-07|  Level3|1985|   01| 17|      11|
| 7499| ALLEN|SALESMAN|  7698|1600|    30|  1985-01-20|      2022-01-08|  Level4|1985|   01| 20|      12|
| 7566| JONES| MANAGER|  7839|2975|    20|  1986-01-04|      2021-01-01|  Level2|1986|   01| 04|      13|
| 7654|MARTIN|SALESMAN|  7698|1250|    30|  1986-01-21|      2021-01-02|  Level4|1986|   01| 21|      14|
| 7698|   SGR| MANAGER|  7839|2850|    30|  1986-01-05|      2021-01-03|  Level2|1986|   01| 05|      15|
| 7782|  RAVI| MANAGER|  7839|2450|    10|  1981-01-06|      2021-01-04|  Level2|1981|   01| 06|      16|
| 7844|TURNER|SALESMAN|  7698|1500|    30|  1981-01-09|      2021-01-07|  Level4|1981|   01| 09|      17|
| 7876| ADAMS|   CLERK|  7788|1100|    20|  1987-01-23|      2021-01-08|  Level3|1987|   01| 23|      18|
| 7934|MILLER|   CLERK|  7782|1300|    10|  1982-01-01|      2021-01-02|  Level3|1982|   01| 01|      19|
+-----+------+--------+------+----+------+------------+----------------+--------+----+-----+---+--------+

+-----+------+--------+------+----+------+------------+----------------+--------+----+-----+---+-------+
|EMPNO| ENAME|     JOB|Manger| SAL|DEPTNO|New_HIREDATE|New_UPDATED_DATE|Position|year|month|day|mono_id|
+-----+------+--------+------+----+------+------------+----------------+--------+----+-----+---+-------+
| 7369| SMITH|   CLERK|  7902| 800|    20|  1980-01-17|      2022-01-01|  Level3|1980|   01| 17|      1|
| 7499| ALLEN|SALESMAN|  7698|1600|    30|  1980-01-20|      2022-01-02|  Level4|1980|   01| 20|      2|
| 7521|  WARD|SALESMAN|  7698|1250|    30|  1980-01-22|      2022-01-03|  Level4|1980|   01| 22|      3|
| 7566| JONES| MANAGER|  7839|2975|    20|  1981-01-04|      2022-01-04|  Level2|1981|   01| 04|      4|
| 7654|MARTIN|SALESMAN|  7698|1250|    30|  1981-01-21|      2022-01-05|  Level4|1981|   01| 21|      5|
| 7698|   SGR| MANAGER|  7839|2850|    30|  1981-01-05|      2022-01-06|  Level2|1981|   01| 05|      6|
| 7782|  RAVI| MANAGER|  7839|2450|    10|  1982-01-06|      2022-01-07|  Level2|1982|   01| 06|      7|
| 7844|TURNER|SALESMAN|  7698|1500|    30|  1982-01-09|      2022-01-01|  Level4|1982|   01| 09|      8|
| 7876| ADAMS|   CLERK|  7788|1100|    20|  1987-01-23|      2022-01-02|  Level3|1987|   01| 23|      9|
| 7900| JAMES|   CLERK|  7698| 950|    30|  1987-01-12|      2022-01-03|  Level3|1987|   01| 12|     10|
| 7934|MILLER|   CLERK|  7782|1300|    10|  1987-01-01|      2022-01-05|  Level3|1987|   01| 01|     11|
| 7369| SMITH|   CLERK|  7902| 800|    20|  1985-01-17|      2022-01-07|  Level3|1985|   01| 17|     12|
| 7499| ALLEN|SALESMAN|  7698|1600|    30|  1985-01-20|      2022-01-08|  Level4|1985|   01| 20|     13|
| 7566| JONES| MANAGER|  7839|2975|    20|  1986-01-04|      2021-01-01|  Level2|1986|   01| 04|     14|
| 7654|MARTIN|SALESMAN|  7698|1250|    30|  1986-01-21|      2021-01-02|  Level4|1986|   01| 21|     15|
| 7698|   SGR| MANAGER|  7839|2850|    30|  1986-01-05|      2021-01-03|  Level2|1986|   01| 05|     16|
| 7782|  RAVI| MANAGER|  7839|2450|    10|  1981-01-06|      2021-01-04|  Level2|1981|   01| 06|     17|
| 7844|TURNER|SALESMAN|  7698|1500|    30|  1981-01-09|      2021-01-07|  Level4|1981|   01| 09|     18|
| 7876| ADAMS|   CLERK|  7788|1100|    20|  1987-01-23|      2021-01-08|  Level3|1987|   01| 23|     19|
| 7934|MILLER|   CLERK|  7782|1300|    10|  1982-01-01|      2021-01-02|  Level3|1982|   01| 01|     20|
+-----+------+--------+------+----+------+------------+----------------+--------+----+-----+---+-------+

In [41]:
# crc32 hash key
#1.generate random numbers - it is works only on string data type

#2.We should not use crc32 surrogate key generation on larger table because it can generate duplicate sequence if more than 100k/1M records
df_crc = df_csv.withColumn('crc_key',crc32( col('EMPNO').cast('string')))
df_crc.show(10,truncate = False)

+-----+------+--------+------+----+------+------------+----------------+--------+----+-----+---+----------+
|EMPNO|ENAME |JOB     |Manger|SAL |DEPTNO|New_HIREDATE|New_UPDATED_DATE|Position|year|month|day|crc_key   |
+-----+------+--------+------+----+------+------------+----------------+--------+----+-----+---+----------+
|7369 |SMITH |CLERK   |7902  |800 |20    |1980-01-17  |2022-01-01      |Level3  |1980|01   |17 |3163315632|
|7499 |ALLEN |SALESMAN|7698  |1600|30    |1980-01-20  |2022-01-02      |Level4  |1980|01   |20 |1046173690|
|7521 |WARD  |SALESMAN|7698  |1250|30    |1980-01-22  |2022-01-03      |Level4  |1980|01   |22 |3535170612|
|7566 |JONES |MANAGER |7839  |2975|20    |1981-01-04  |2022-01-04      |Level2  |1981|01   |04 |683555987 |
|7654 |MARTIN|SALESMAN|7698  |1250|30    |1981-01-21  |2022-01-05      |Level4  |1981|01   |21 |4024152101|
|7698 |SGR   |MANAGER |7839  |2850|30    |1981-01-05  |2022-01-06      |Level2  |1981|01   |05 |1255715586|
|7782 |RAVI  |MANAGER |7839  |2450|10    |1982-01-06  |2022-01-07      |Level2  |1982|01   |06 |3000238442|
|7844 |TURNER|SALESMAN|7698  |1500|30    |1982-01-09  |2022-01-01      |Level4  |1982|01   |09 |4234062958|
|7876 |ADAMS |CLERK   |7788  |1100|20    |1987-01-23  |2022-01-02      |Level3  |1987|01   |23 |964533889 |
|7900 |JAMES |CLERK   |7698  |950 |30    |1987-01-12  |2022-01-03      |Level3  |1987|01   |12 |2661140292|
+-----+------+--------+------+----+------+------------+----------------+--------+----+-----+---+----------+
only showing top 10 rows

In [42]:
# md5 - 32 bit hash key
# not suggeted for if records more than 1 Million it can generate duplicates
df_md = df_csv.withColumn('md_key', md5( col('EMPNO').cast('string') ))
df_md.show(10,truncate = False)

+-----+------+--------+------+----+------+------------+----------------+--------+----+-----+---+--------------------------------+
|EMPNO|ENAME |JOB     |Manger|SAL |DEPTNO|New_HIREDATE|New_UPDATED_DATE|Position|year|month|day|md_key                          |
+-----+------+--------+------+----+------+------------+----------------+--------+----+-----+---+--------------------------------+
|7369 |SMITH |CLERK   |7902  |800 |20    |1980-01-17  |2022-01-01      |Level3  |1980|01   |17 |0d7f9017fbda691900187b22404b8a1f|
|7499 |ALLEN |SALESMAN|7698  |1600|30    |1980-01-20  |2022-01-02      |Level4  |1980|01   |20 |7a2b33c672ce223b2aa5789171ddde2f|
|7521 |WARD  |SALESMAN|7698  |1250|30    |1980-01-22  |2022-01-03      |Level4  |1980|01   |22 |e1e1f667ce4596e5644be6fab627c226|
|7566 |JONES |MANAGER |7839  |2975|20    |1981-01-04  |2022-01-04      |Level2  |1981|01   |04 |b937384a573b94c4d7cc6004c496f919|
|7654 |MARTIN|SALESMAN|7698  |1250|30    |1981-01-21  |2022-01-05      |Level4  |1981|01   |21 |e2a7555f7cabd6e31aef45cb8cda4999|
|7698 |SGR   |MANAGER |7839  |2850|30    |1981-01-05  |2022-01-06      |Level2  |1981|01   |05 |c570c225d1fb8a72ad79995dd17a77bc|
|7782 |RAVI  |MANAGER |7839  |2450|10    |1982-01-06  |2022-01-07      |Level2  |1982|01   |06 |ac5c482277858d6fe45065d0a3f92b0c|
|7844 |TURNER|SALESMAN|7698  |1500|30    |1982-01-09  |2022-01-01      |Level4  |1982|01   |09 |b356e7aed7ee82589e54a466e0dca157|
|7876 |ADAMS |CLERK   |7788  |1100|20    |1987-01-23  |2022-01-02      |Level3  |1987|01   |23 |42dab56861d81108ee356d037190c315|
|7900 |JAMES |CLERK   |7698  |950 |30    |1987-01-12  |2022-01-03      |Level3  |1987|01   |12 |400c3241004b5db7ca7f5abfef2794f2|
+-----+------+--------+------+----+------+------------+----------------+--------+----+-----+---+--------------------------------+
only showing top 10 rows

In [43]:
#sha2 - hash key value
#suggeted for huge data 256 0r 512 bits
df_sha_256 = df_csv.withColumn('sha_key',sha2( col('EMPNO').cast('string'),256))
df_sha_256.show(10,truncate = False)
df_sha_512 = df_csv.withColumn('sha_key',sha2( col('EMPNO').cast('string'),512 ))
df_sha_512.show(10,truncate = False)

+-----+------+--------+------+----+------+------------+----------------+--------+----+-----+---+----------------------------------------------------------------+
|EMPNO|ENAME |JOB     |Manger|SAL |DEPTNO|New_HIREDATE|New_UPDATED_DATE|Position|year|month|day|sha_key                                                         |
+-----+------+--------+------+----+------+------------+----------------+--------+----+-----+---+----------------------------------------------------------------+
|7369 |SMITH |CLERK   |7902  |800 |20    |1980-01-17  |2022-01-01      |Level3  |1980|01   |17 |c59f438f16c5a409eb2a040b299e82de37503321b9cbfec4fb351547261dd1b1|
|7499 |ALLEN |SALESMAN|7698  |1600|30    |1980-01-20  |2022-01-02      |Level4  |1980|01   |20 |4427dc2e32a1d099dbe2e3c093a8726e0ea72b9422c36a99915dae1d31e9385f|
|7521 |WARD  |SALESMAN|7698  |1250|30    |1980-01-22  |2022-01-03      |Level4  |1980|01   |22 |74ed8ca63e8b4fb8b8ac06e8df400f098b0b09cf1b89c8a331e72e1919b57bd4|
|7566 |JONES |MANAGER |7839  |2975|20    |1981-01-04  |2022-01-04      |Level2  |1981|01   |04 |b2ca4f93866dc5f5aa73f9df7a8c8d7ce03d296a3ccb5eec5fc28717f2de4874|
|7654 |MARTIN|SALESMAN|7698  |1250|30    |1981-01-21  |2022-01-05      |Level4  |1981|01   |21 |b969b01c158ebfecd0ac568aee526cb1ff8811fcdc77b4d682dab89146ad9891|
|7698 |SGR   |MANAGER |7839  |2850|30    |1981-01-05  |2022-01-06      |Level2  |1981|01   |05 |83f9d8d707524a4f56447204e344a997fff07b23b11f206eb5d02eac91385251|
|7782 |RAVI  |MANAGER |7839  |2450|10    |1982-01-06  |2022-01-07      |Level2  |1982|01   |06 |d7b6fab9aa91943de418ecbacefa4b276e82fbbb07bae1f7296775cc59a6f323|
|7844 |TURNER|SALESMAN|7698  |1500|30    |1982-01-09  |2022-01-01      |Level4  |1982|01   |09 |b513a7ff5978b95883e4e6f83d4d991de3b8a22827d2f5bc58986e3cee03c6b1|
|7876 |ADAMS |CLERK   |7788  |1100|20    |1987-01-23  |2022-01-02      |Level3  |1987|01   |23 |05a4cd58579909328296060a91fa22242c6449980486c196868a007bc4ccd455|
|7900 |JAMES |CLERK   |7698  |950 |30    |1987-01-12  |2022-01-03      |Level3  |1987|01   |12 |22191a9215264bb24037d3fa2e7d1516c97813abb7aa0a417e5a157910fb0af7|
+-----+------+--------+------+----+------+------------+----------------+--------+----+-----+---+----------------------------------------------------------------+
only showing top 10 rows

+-----+------+--------+------+----+------+------------+----------------+--------+----+-----+---+--------------------------------------------------------------------------------------------------------------------------------+
|EMPNO|ENAME |JOB     |Manger|SAL |DEPTNO|New_HIREDATE|New_UPDATED_DATE|Position|year|month|day|sha_key                                                                                                                         |
+-----+------+--------+------+----+------+------------+----------------+--------+----+-----+---+--------------------------------------------------------------------------------------------------------------------------------+
|7369 |SMITH |CLERK   |7902  |800 |20    |1980-01-17  |2022-01-01      |Level3  |1980|01   |17 |22930c98e9d90f9abae586704aa8576e81bcc8a33e485b36b74593864479854600726a61a5a8d7c0c7c0a8a4209b5079398d171d679cef2817c8cd9db64f2275|
|7499 |ALLEN |SALESMAN|7698  |1600|30    |1980-01-20  |2022-01-02      |Level4  |1980|01   |20 |c35f154d8a448e86bc767b131cfbf91655a293b5366c1dc0a1182757f8d0e421595f4d564c3c62996a7ad1f14768458d3f9d8ccff736637ae22b957e9f69d9fe|
|7521 |WARD  |SALESMAN|7698  |1250|30    |1980-01-22  |2022-01-03      |Level4  |1980|01   |22 |a850b37e31d80e084a966d1aa936e7a48e887867cde7b19110e74a6d5c036dbaba8c102ed053d0d1d6353ccbaaa02092aa94063a814b0f18affd15e2df0d7e9a|
|7566 |JONES |MANAGER |7839  |2975|20    |1981-01-04  |2022-01-04      |Level2  |1981|01   |04 |94d6415a845f551d7cb76343d6faa77cd3eec1d286e72c52afd73b7e0a60f96468495f229bc49e752d4d222894fc9ba4d60ac69a2e96442d06253b25246b6341|
|7654 |MARTIN|SALESMAN|7698  |1250|30    |1981-01-21  |2022-01-05      |Level4  |1981|01   |21 |9866bb24a2c180ce14775b5139b76371ba61c051b76cf3cb081cc0f3cd87597cc285f82ffc54bddecbe4f591b294777ea47f539631300d9416e3ed89d26fdf5a|
|7698 |SGR   |MANAGER |7839  |2850|30    |1981-01-05  |2022-01-06      |Level2  |1981|01   |05 |a60ba1bc5f3226a27410b9be198fdc34886754e6f91aadec7eb5ed9ffde505d8d457ba027a9665d641d2114ab0bfe5c4dd0e45c029674a53d2bd1b255be56e23|
|7782 |RAVI  |MANAGER |7839  |2450|10    |1982-01-06  |2022-01-07      |Level2  |1982|01   |06 |29a69280492d1cff60cc692e1820e293303cd899d2a137147783d9a6e6f89ea32a15f9339449631070158e8cd8cb7f37980b52126a58f346c6c4da1f1652f259|
|7844 |TURNER|SALESMAN|7698  |1500|30    |1982-01-09  |2022-01-01      |Level4  |1982|01   |09 |686a63a5e9155342fe55933f3f331bcb914c34ab43a9fa2487288b6d1e35618b2bf41ad29ae55304de39bbec34d6bdf35b1df1efe888be25fbbc3be1db5b8d3f|
|7876 |ADAMS |CLERK   |7788  |1100|20    |1987-01-23  |2022-01-02      |Level3  |1987|01   |23 |d79f1bccb79b6240dc80a83801f69995bd2eee2812ac13086e53c2722dca16661a115f4d889d5f57539c02db15f7e03b9fbde88fe00d349d7c157aeef30024f5|
|7900 |JAMES |CLERK   |7698  |950 |30    |1987-01-12  |2022-01-03      |Level3  |1987|01   |12 |e0c1742585621c7ac3f3dfb643c475e26f99d5db4a1d98dc62222712bb87e6ed42f24fa5ea5586a1b5f002f5fac58678453fc34f63e2a78ac3a14b9c557dca05|
+-----+------+--------+------+----+------+------------+----------------+--------+----+-----+---+--------------------------------------------------------------------------------------------------------------------------------+
only showing top 10 rows

In [44]:
#row_number
from pyspark.sql.window import *
df_row = df_csv.withColumn('row_number',row_number().over(Window.partitionBy(lit('')).orderBy(lit(''))))
df_row.show()

+-----+------+--------+------+----+------+------------+----------------+--------+----+-----+---+----------+
|EMPNO| ENAME|     JOB|Manger| SAL|DEPTNO|New_HIREDATE|New_UPDATED_DATE|Position|year|month|day|row_number|
+-----+------+--------+------+----+------+------------+----------------+--------+----+-----+---+----------+
| 7369| SMITH|   CLERK|  7902| 800|    20|  1980-01-17|      2022-01-01|  Level3|1980|   01| 17|         1|
| 7499| ALLEN|SALESMAN|  7698|1600|    30|  1980-01-20|      2022-01-02|  Level4|1980|   01| 20|         2|
| 7521|  WARD|SALESMAN|  7698|1250|    30|  1980-01-22|      2022-01-03|  Level4|1980|   01| 22|         3|
| 7566| JONES| MANAGER|  7839|2975|    20|  1981-01-04|      2022-01-04|  Level2|1981|   01| 04|         4|
| 7654|MARTIN|SALESMAN|  7698|1250|    30|  1981-01-21|      2022-01-05|  Level4|1981|   01| 21|         5|
| 7698|   SGR| MANAGER|  7839|2850|    30|  1981-01-05|      2022-01-06|  Level2|1981|   01| 05|         6|
| 7782|  RAVI| MANAGER|  7839|2450|    10|  1982-01-06|      2022-01-07|  Level2|1982|   01| 06|         7|
| 7844|TURNER|SALESMAN|  7698|1500|    30|  1982-01-09|      2022-01-01|  Level4|1982|   01| 09|         8|
| 7876| ADAMS|   CLERK|  7788|1100|    20|  1987-01-23|      2022-01-02|  Level3|1987|   01| 23|         9|
| 7900| JAMES|   CLERK|  7698| 950|    30|  1987-01-12|      2022-01-03|  Level3|1987|   01| 12|        10|
| 7934|MILLER|   CLERK|  7782|1300|    10|  1987-01-01|      2022-01-05|  Level3|1987|   01| 01|        11|
| 7369| SMITH|   CLERK|  7902| 800|    20|  1985-01-17|      2022-01-07|  Level3|1985|   01| 17|        12|
| 7499| ALLEN|SALESMAN|  7698|1600|    30|  1985-01-20|      2022-01-08|  Level4|1985|   01| 20|        13|
| 7566| JONES| MANAGER|  7839|2975|    20|  1986-01-04|      2021-01-01|  Level2|1986|   01| 04|        14|
| 7654|MARTIN|SALESMAN|  7698|1250|    30|  1986-01-21|      2021-01-02|  Level4|1986|   01| 21|        15|
| 7698|   SGR| MANAGER|  7839|2850|    30|  1986-01-05|      2021-01-03|  Level2|1986|   01| 05|        16|
| 7782|  RAVI| MANAGER|  7839|2450|    10|  1981-01-06|      2021-01-04|  Level2|1981|   01| 06|        17|
| 7844|TURNER|SALESMAN|  7698|1500|    30|  1981-01-09|      2021-01-07|  Level4|1981|   01| 09|        18|
| 7876| ADAMS|   CLERK|  7788|1100|    20|  1987-01-23|      2021-01-08|  Level3|1987|   01| 23|        19|
| 7934|MILLER|   CLERK|  7782|1300|    10|  1982-01-01|      2021-01-02|  Level3|1982|   01| 01|        20|
+-----+------+--------+------+----+------+------------+----------------+--------+----+-----+---+----------+

# Incremental loading

loading data from source (daily)  ----> Tansform -----> loading warehouse

In [45]:
# read data of day0 file

day0 = spark.read.format('csv').option('header',True).option('inferSchema',True).option('nullValue','null').load('/content/employee_day0.csv')

day0.show(10)

+-----+------+---------+----+----+----+------+
|EMPNO| ENAME|      JOB| MGR| SAL|COMM|DEPTNO|
+-----+------+---------+----+----+----+------+
| 7369| SMITH|    CLERK|7902| 800| 100|    20|
| 7499| ALLEN| SALESMAN|7698|1600| 300|    30|
| 7521|  WARD| SALESMAN|7698|1250| 500|    30|
| 7566| JONES|  MANAGER|7839|2975| 200|    20|
| 7654|MARTIN| SALESMAN|7698|1250| 600|    30|
| 7698|   SGR|  MANAGER|7839|2850| 500|    30|
| 7782|  RAVI|  MANAGER|7839|2450| 500|    10|
| 7788| SCOTT|  ANALYST|7566|3000|1200|    20|
| 7839|  KING|PRESIDENT|7998|5000|1000|    10|
| 7844|TURNER| SALESMAN|7698|1500|  10|    30|
+-----+------+---------+----+----+----+------+
only showing top 10 rows

In [46]:
# write partitioned data into warhouse employee table
day0.write.partitionBy('DEPTNO').saveAsTable('emp_dept')

In [47]:
# query warhouse tables
spark.sql('select * from emp_dept').show()
spark.sql('select count(*) from emp_dept').show()

+-----+------+---------+----+----+----+------+
|EMPNO| ENAME|      JOB| MGR| SAL|COMM|DEPTNO|
+-----+------+---------+----+----+----+------+
| 7499| ALLEN| SALESMAN|7698|1600| 300|    30|
| 7521|  WARD| SALESMAN|7698|1250| 500|    30|
| 7654|MARTIN| SALESMAN|7698|1250| 600|    30|
| 7698|   SGR|  MANAGER|7839|2850| 500|    30|
| 7844|TURNER| SALESMAN|7698|1500|  10|    30|
| 7900| JAMES|    CLERK|7698| 950| 890|    30|
| 7369| SMITH|    CLERK|7902| 800| 100|    20|
| 7566| JONES|  MANAGER|7839|2975| 200|    20|
| 7788| SCOTT|  ANALYST|7566|3000|1200|    20|
| 7876| ADAMS|    CLERK|7788|1100| 100|    20|
| 7902|  FORD|  ANALYST|7566|3000| 400|    20|
| 7782|  RAVI|  MANAGER|7839|2450| 500|    10|
| 7839|  KING|PRESIDENT|7998|5000|1000|    10|
| 7934|MILLER|    CLERK|7782|1300| 740|    10|
+-----+------+---------+----+----+----+------+

+--------+
|count(1)|
+--------+
|      14|
+--------+

In [48]:
# read data of day1 file
day1 = spark.read.format('csv').option('header',True).option('inferSchema',True).option('nullValue','null').load('/content/employee_day1.csv')
day1.show(10)

+-----+------+---------+----+----+----+------+
|EMPNO| ENAME|      JOB| MGR| SAL|COMM|DEPTNO|
+-----+------+---------+----+----+----+------+
| 1234|SEKHAR|   doctor|7777| 667|  78|    80|
| 7369| SMITH|    CLERK|7902| 800|  90|    20|
| 7499| ALLEN| SALESMAN|7698|1600| 300|    30|
| 7521|  WARD| SALESMAN|7698|1250| 500|    30|
| 7566| JONES|  MANAGER|7839|2975| 100|    20|
| 7654|MARTIN| SALESMAN|7698|1250|1400|    30|
| 7698|   SGR|  MANAGER|7839|2850| 200|    30|
| 7782|  RAVI|  MANAGER|7839|2450|  14|    10|
| 7788| SCOTT|  ANALYST|7566|3000| 180|    20|
| 7839|  KING|PRESIDENT|7888|5000| 140|    10|
+-----+------+---------+----+----+----+------+
only showing top 10 rows

In [49]:
# write partitioned data into warhouse employee table
day1.write.partitionBy('DEPTNO').mode('append').saveAsTable('emp_dept')

In [50]:
# query warhouse tables
spark.sql('select * from emp_dept').show()
spark.sql('select count(*) from emp_dept').show()

+-----+------+--------+----+----+----+------+
|EMPNO| ENAME|     JOB| MGR| SAL|COMM|DEPTNO|
+-----+------+--------+----+----+----+------+
| 7499| ALLEN|SALESMAN|7698|1600| 300|    30|
| 7521|  WARD|SALESMAN|7698|1250| 500|    30|
| 7654|MARTIN|SALESMAN|7698|1250| 600|    30|
| 7698|   SGR| MANAGER|7839|2850| 500|    30|
| 7844|TURNER|SALESMAN|7698|1500|  10|    30|
| 7900| JAMES|   CLERK|7698| 950| 890|    30|
| 7499| ALLEN|SALESMAN|7698|1600| 300|    30|
| 7521|  WARD|SALESMAN|7698|1250| 500|    30|
| 7654|MARTIN|SALESMAN|7698|1250|1400|    30|
| 7698|   SGR| MANAGER|7839|2850| 200|    30|
| 7844|TURNER|SALESMAN|7698|1500|  10|    30|
| 7900| JAMES|   CLERK|7698| 950| 400|    30|
| 7369| SMITH|   CLERK|7902| 800| 100|    20|
| 7566| JONES| MANAGER|7839|2975| 200|    20|
| 7788| SCOTT| ANALYST|7566|3000|1200|    20|
| 7876| ADAMS|   CLERK|7788|1100| 100|    20|
| 7902|  FORD| ANALYST|7566|3000| 400|    20|
| 7369| SMITH|   CLERK|7902| 800|  90|    20|
| 7566| JONES| MANAGER|7839|2975| 100|    20|
| 7788| SCOTT| ANALYST|7566|3000| 180|    20|
+-----+------+--------+----+----+----+------+
only showing top 20 rows

+--------+
|count(1)|
+--------+
|      30|
+--------+

# how to read all files from a single directory

In [51]:
df_dic = spark.read.format('parquet').option('header',True).option('nullValue','null').option('inferSchema',True).load('/content/spark-warehouse/emp_dept')
df_dic.show(10)
df_dic.count()

+-----+------+--------+----+----+----+------+
|EMPNO| ENAME|     JOB| MGR| SAL|COMM|DEPTNO|
+-----+------+--------+----+----+----+------+
| 7499| ALLEN|SALESMAN|7698|1600| 300|    30|
| 7521|  WARD|SALESMAN|7698|1250| 500|    30|
| 7654|MARTIN|SALESMAN|7698|1250| 600|    30|
| 7698|   SGR| MANAGER|7839|2850| 500|    30|
| 7844|TURNER|SALESMAN|7698|1500|  10|    30|
| 7900| JAMES|   CLERK|7698| 950| 890|    30|
| 7499| ALLEN|SALESMAN|7698|1600| 300|    30|
| 7521|  WARD|SALESMAN|7698|1250| 500|    30|
| 7654|MARTIN|SALESMAN|7698|1250|1400|    30|
| 7698|   SGR| MANAGER|7839|2850| 200|    30|
+-----+------+--------+----+----+----+------+
only showing top 10 rows

30

# print file name with location

In [52]:
file_name = df_csv.withColumn('file_Location',input_file_name())

file_name.show(truncate = False)

+-----+------+--------+------+----+------+------------+----------------+--------+----+-----+---+----------------------------+
|EMPNO|ENAME |JOB     |Manger|SAL |DEPTNO|New_HIREDATE|New_UPDATED_DATE|Position|year|month|day|file_Location               |
+-----+------+--------+------+----+------+------------+----------------+--------+----+-----+---+----------------------------+
|7369 |SMITH |CLERK   |7902  |800 |20    |1980-01-17  |2022-01-01      |Level3  |1980|01   |17 |file:///content/employee.csv|
|7499 |ALLEN |SALESMAN|7698  |1600|30    |1980-01-20  |2022-01-02      |Level4  |1980|01   |20 |file:///content/employee.csv|
|7521 |WARD  |SALESMAN|7698  |1250|30    |1980-01-22  |2022-01-03      |Level4  |1980|01   |22 |file:///content/employee.csv|
|7566 |JONES |MANAGER |7839  |2975|20    |1981-01-04  |2022-01-04      |Level2  |1981|01   |04 |file:///content/employee.csv|
|7654 |MARTIN|SALESMAN|7698  |1250|30    |1981-01-21  |2022-01-05      |Level4  |1981|01   |21 |file:///content/employee.csv|
|7698 |SGR   |MANAGER |7839  |2850|30    |1981-01-05  |2022-01-06      |Level2  |1981|01   |05 |file:///content/employee.csv|
|7782 |RAVI  |MANAGER |7839  |2450|10    |1982-01-06  |2022-01-07      |Level2  |1982|01   |06 |file:///content/employee.csv|
|7844 |TURNER|SALESMAN|7698  |1500|30    |1982-01-09  |2022-01-01      |Level4  |1982|01   |09 |file:///content/employee.csv|
|7876 |ADAMS |CLERK   |7788  |1100|20    |1987-01-23  |2022-01-02      |Level3  |1987|01   |23 |file:///content/employee.csv|
|7900 |JAMES |CLERK   |7698  |950 |30    |1987-01-12  |2022-01-03      |Level3  |1987|01   |12 |file:///content/employee.csv|
|7934 |MILLER|CLERK   |7782  |1300|10    |1987-01-01  |2022-01-05      |Level3  |1987|01   |01 |file:///content/employee.csv|
|7369 |SMITH |CLERK   |7902  |800 |20    |1985-01-17  |2022-01-07      |Level3  |1985|01   |17 |file:///content/employee.csv|
|7499 |ALLEN |SALESMAN|7698  |1600|30    |1985-01-20  |2022-01-08      |Level4  |1985|01   |20 |file:///content/employee.csv|
|7566 |JONES |MANAGER |7839  |2975|20    |1986-01-04  |2021-01-01      |Level2  |1986|01   |04 |file:///content/employee.csv|
|7654 |MARTIN|SALESMAN|7698  |1250|30    |1986-01-21  |2021-01-02      |Level4  |1986|01   |21 |file:///content/employee.csv|
|7698 |SGR   |MANAGER |7839  |2850|30    |1986-01-05  |2021-01-03      |Level2  |1986|01   |05 |file:///content/employee.csv|
|7782 |RAVI  |MANAGER |7839  |2450|10    |1981-01-06  |2021-01-04      |Level2  |1981|01   |06 |file:///content/employee.csv|
|7844 |TURNER|SALESMAN|7698  |1500|30    |1981-01-09  |2021-01-07      |Level4  |1981|01   |09 |file:///content/employee.csv|
|7876 |ADAMS |CLERK   |7788  |1100|20    |1987-01-23  |2021-01-08      |Level3  |1987|01   |23 |file:///content/employee.csv|
|7934 |MILLER|CLERK   |7782  |1300|10    |1982-01-01  |2021-01-02      |Level3  |1982|01   |01 |file:///content/employee.csv|
+-----+------+--------+------+----+------+------------+----------------+--------+----+-----+---+----------------------------+

# how to get no.of rows for each file

In [53]:
df_file = spark.read.format('parquet').load('/content/spark-warehouse/emp_dept')

df_file = df_file.withColumn('file_Location',input_file_name())

df_file.groupBy('file_Location').count().show(truncate=False)

+----------------------------------------------------------------------------------------------------------------------+-----+
|file_Location                                                                                                         |count|
+----------------------------------------------------------------------------------------------------------------------+-----+
|file:///content/spark-warehouse/emp_dept/DEPTNO=80/part-00000-3ed50cc7-e286-4d9c-a738-36b066040c8b.c000.snappy.parquet|2    |
|file:///content/spark-warehouse/emp_dept/DEPTNO=10/part-00000-d3dabf16-1181-485f-a8b9-a41873f32068.c000.snappy.parquet|3    |
|file:///content/spark-warehouse/emp_dept/DEPTNO=20/part-00000-d3dabf16-1181-485f-a8b9-a41873f32068.c000.snappy.parquet|5    |
|file:///content/spark-warehouse/emp_dept/DEPTNO=10/part-00000-3ed50cc7-e286-4d9c-a738-36b066040c8b.c000.snappy.parquet|3    |
|file:///content/spark-warehouse/emp_dept/DEPTNO=30/part-00000-d3dabf16-1181-485f-a8b9-a41873f32068.c000.snappy.parquet|6    |
|file:///content/spark-warehouse/emp_dept/DEPTNO=30/part-00000-3ed50cc7-e286-4d9c-a738-36b066040c8b.c000.snappy.parquet|6    |
|file:///content/spark-warehouse/emp_dept/DEPTNO=20/part-00000-3ed50cc7-e286-4d9c-a738-36b066040c8b.c000.snappy.parquet|5    |
+----------------------------------------------------------------------------------------------------------------------+-----+