#Installing Pyspark in Googlecolab

In [79]:
!pip install pyspark py4j

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.4.1)
Requirement already satisfied: py4j in /usr/local/lib/python3.10/dist-packages (0.10.9.7)

In [80]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.master('local').appName('DataFrame').getOrCreate()

# Creating new SparkSession

In [81]:

from pyspark.sql import SparkSession
spark = SparkSession.builder.master('local').appName('DataFrame').getOrCreate()

spark

# Creating dataFrame from hdfs Location
reading data from hdfs remote server



df_hdfs = spark.read.format('csv').load('hdfs://172.16.38.131.8020/bigdata/cse/app_prod/cse.app_prod.csv')

# Reading CSV data into dataframe without header, schema?

In [82]:
df_csv = spark.read.format('csv').load('/content/sample_data/california_housing_test.csv')
df_csv.show(10)

+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+
|        _c0|      _c1|               _c2|        _c3|           _c4|        _c5|       _c6|          _c7|               _c8|
+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+
|  longitude| latitude|housing_median_age|total_rooms|total_bedrooms| population|households|median_income|median_house_value|
|-122.050000|37.370000|         27.000000|3885.000000|    661.000000|1537.000000|606.000000|     6.608500|     344700.000000|
|-118.300000|34.260000|         43.000000|1510.000000|    310.000000| 809.000000|277.000000|     3.599000|     176500.000000|
|-117.810000|33.780000|         27.000000|3589.000000|    507.000000|1484.000000|495.000000|     5.793400|     270500.000000|
|-118.360000|33.820000|         28.000000|  67.000000|     15.000000|  49.000000| 11.000000|     6.135900|     330000.000000|
|-119.670000|36.330000|         19.000000|1241.000000|    244.000000| 850.000000|237.000000|     2.937500|      81700.000000|
|-119.560000|36.510000|         37.000000|1018.000000|    213.000000| 663.000000|204.000000|     1.663500|      67000.000000|
|-121.430000|38.630000|         43.000000|1009.000000|    225.000000| 604.000000|218.000000|     1.664100|      67000.000000|
|-120.650000|35.480000|         19.000000|2310.000000|    471.000000|1341.000000|441.000000|     3.225000|     166900.000000|
|-122.840000|38.400000|         15.000000|3080.000000|    617.000000|1446.000000|599.000000|     3.669600|     194400.000000|
+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+
only showing top 10 rows

# Reading csv data into dataframe with Header and schema ,type ,show dataframe,count rows and printSchema?

In [83]:
df_csv1 = spark.read.format('csv').option('header',True).option('inferSchema',True).option('nullValue','null').load('/content/sample_data/california_housing_test.csv')

type(df_csv1)

df_csv1.show(10)

df_csv1.count()

df_csv1.printSchema()

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|  -122.05|   37.37|              27.0|     3885.0|         661.0|    1537.0|     606.0|       6.6085|          344700.0|
|   -118.3|   34.26|              43.0|     1510.0|         310.0|     809.0|     277.0|        3.599|          176500.0|
|  -117.81|   33.78|              27.0|     3589.0|         507.0|    1484.0|     495.0|       5.7934|          270500.0|
|  -118.36|   33.82|              28.0|       67.0|          15.0|      49.0|      11.0|       6.1359|          330000.0|
|  -119.67|   36.33|              19.0|     1241.0|         244.0|     850.0|     237.0|       2.9375|           81700.0|
|  -119.56|   36.51|              37.0|     1018.0|         213.0|     663.0|     204.0|       1.6635|           67000.0|
|  -121.43|   38.63|              43.0|     1009.0|         225.0|     604.0|     218.0|       1.6641|           67000.0|
|  -120.65|   35.48|              19.0|     2310.0|         471.0|    1341.0|     441.0|        3.225|          166900.0|
|  -122.84|    38.4|              15.0|     3080.0|         617.0|    1446.0|     599.0|       3.6696|          194400.0|
|  -118.02|   34.08|              31.0|     2402.0|         632.0|    2830.0|     603.0|       2.3333|          164200.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
only showing top 10 rows

root
 |-- longitude: double (nullable = true)
 |-- latitude: double (nullable = true)
 |-- housing_median_age: double (nullable = true)
 |-- total_rooms: double (nullable = true)
 |-- total_bedrooms: double (nullable = true)
 |-- population: double (nullable = true)
 |-- households: double (nullable = true)
 |-- median_income: double (nullable = true)
 |-- median_house_value: double (nullable = true)

# Reading csv data into dataframe with Header and schema-(another way) ?

In [84]:
df_another = spark.read.csv('/content/sample_data/california_housing_test.csv',header = True,inferSchema = True)

df_another.show(10)
df_another.printSchema()

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|  -122.05|   37.37|              27.0|     3885.0|         661.0|    1537.0|     606.0|       6.6085|          344700.0|
|   -118.3|   34.26|              43.0|     1510.0|         310.0|     809.0|     277.0|        3.599|          176500.0|
|  -117.81|   33.78|              27.0|     3589.0|         507.0|    1484.0|     495.0|       5.7934|          270500.0|
|  -118.36|   33.82|              28.0|       67.0|          15.0|      49.0|      11.0|       6.1359|          330000.0|
|  -119.67|   36.33|              19.0|     1241.0|         244.0|     850.0|     237.0|       2.9375|           81700.0|
|  -119.56|   36.51|              37.0|     1018.0|         213.0|     663.0|     204.0|       1.6635|           67000.0|
|  -121.43|   38.63|              43.0|     1009.0|         225.0|     604.0|     218.0|       1.6641|           67000.0|
|  -120.65|   35.48|              19.0|     2310.0|         471.0|    1341.0|     441.0|        3.225|          166900.0|
|  -122.84|    38.4|              15.0|     3080.0|         617.0|    1446.0|     599.0|       3.6696|          194400.0|
|  -118.02|   34.08|              31.0|     2402.0|         632.0|    2830.0|     603.0|       2.3333|          164200.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
only showing top 10 rows

root
 |-- longitude: double (nullable = true)
 |-- latitude: double (nullable = true)
 |-- housing_median_age: double (nullable = true)
 |-- total_rooms: double (nullable = true)
 |-- total_bedrooms: double (nullable = true)
 |-- population: double (nullable = true)
 |-- households: double (nullable = true)
 |-- median_income: double (nullable = true)
 |-- median_house_value: double (nullable = true)

# Reading csv dataframe with pipe seprated values printSchema, count rows ?

In [85]:
df_pipe = spark.read.format('csv').option('sep','|').option('header','true').option('inferSchema',True).option('nullValue','null').load('/content/emp_pipe.txt')
df_pipe.show(10)
df_pipe.printSchema()
df_pipe.count()

+-----+------+---------+----+----------+----+------+------------+
|EMPNO| ENAME|      JOB| MGR|  HIREDATE| SAL|DEPTNO|UPDATED_DATE|
+-----+------+---------+----+----------+----+------+------------+
| 7369| SMITH|    CLERK|7902|17-12-1980| 800|    20|  01-01-2022|
| 7499| ALLEN| SALESMAN|7698|20-02-1981|1600|    30|  02-01-2022|
| 7521|  WARD| SALESMAN|7698|22-02-1981|1250|    30|  03-01-2022|
| 7566| JONES|  MANAGER|null|04-02-1981|2975|    20|  04-01-2022|
| 7654|  null|     null|7698|21-09-1981|null|    30|  05-01-2022|
| 7698|   SGR|  MANAGER|7839|05-01-1981|2850|    30|  06-01-2022|
| 7782|  RAVI|     null|null|06-09-1981|2450|    10|  07-01-2022|
| 7788| SCOTT|  ANALYST|7566|19-04-1987|3000|    20|  08-01-2022|
| 7839|  null|PRESIDENT|null|      null|5000|    10|        null|
| 7844|TURNER| SALESMAN|7698|09-08-1981|1500|    30|  01-02-2022|
+-----+------+---------+----+----------+----+------+------------+
only showing top 10 rows

root
 |-- EMPNO: integer (nullable = true)
 |-- ENAME: string (nullable = true)
 |-- JOB: string (nullable = true)
 |-- MGR: integer (nullable = true)
 |-- HIREDATE: string (nullable = true)
 |-- SAL: integer (nullable = true)
 |-- DEPTNO: integer (nullable = true)
 |-- UPDATED_DATE: string (nullable = true)

30

# Reading csv dataframe with double pipe seprated valuesprintSchema, count rows ?

In [86]:
df_double = spark.read.format('csv').option('sep','||').option('header',True).option('inferSchema',True).option('nullValue','null').load('/content/emp_double_pipe.txt')

df_double.show(10)

df_double.printSchema()

df_double.count()

+-----+------+---------+----+----------+----+------+------------+
|EMPNO| ENAME|      JOB| MGR|  HIREDATE| SAL|DEPTNO|UPDATED_DATE|
+-----+------+---------+----+----------+----+------+------------+
| 7369| SMITH|    CLERK|7902|17-12-1980| 800|    20|  01-01-2022|
| 7499| ALLEN| SALESMAN|7698|20-02-1981|1600|    30|  02-01-2022|
| 7521|  WARD| SALESMAN|7698|22-02-1981|1250|    30|  03-01-2022|
| 7566| JONES|  MANAGER|7839|04-02-1981|2975|    20|  04-01-2022|
| 7654|MARTIN| SALESMAN|7698|21-09-1981|1250|    30|  05-01-2022|
| 7698|   SGR|  MANAGER|7839|05-01-1981|2850|    30|  06-01-2022|
| 7782|  RAVI|  MANAGER|7839|06-09-1981|2450|    10|  07-01-2022|
| 7788| SCOTT|  ANALYST|7566|19-04-1987|3000|    20|  08-01-2022|
| 7839|  KING|PRESIDENT|null|      null|5000|    10|        null|
| 7844|TURNER| SALESMAN|7698|09-08-1981|1500|    30|  01-02-2022|
+-----+------+---------+----+----------+----+------+------------+
only showing top 10 rows

root
 |-- EMPNO: integer (nullable = true)
 |-- ENAME: string (nullable = true)
 |-- JOB: string (nullable = true)
 |-- MGR: integer (nullable = true)
 |-- HIREDATE: string (nullable = true)
 |-- SAL: integer (nullable = true)
 |-- DEPTNO: integer (nullable = true)
 |-- UPDATED_DATE: string (nullable = true)

30

# Inspect Data

In [87]:
# display Content of df

df_csv1.show(10)

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|  -122.05|   37.37|              27.0|     3885.0|         661.0|    1537.0|     606.0|       6.6085|          344700.0|
|   -118.3|   34.26|              43.0|     1510.0|         310.0|     809.0|     277.0|        3.599|          176500.0|
|  -117.81|   33.78|              27.0|     3589.0|         507.0|    1484.0|     495.0|       5.7934|          270500.0|
|  -118.36|   33.82|              28.0|       67.0|          15.0|      49.0|      11.0|       6.1359|          330000.0|
|  -119.67|   36.33|              19.0|     1241.0|         244.0|     850.0|     237.0|       2.9375|           81700.0|
|  -119.56|   36.51|              37.0|     1018.0|         213.0|     663.0|     204.0|       1.6635|           67000.0|
|  -121.43|   38.63|              43.0|     1009.0|         225.0|     604.0|     218.0|       1.6641|           67000.0|
|  -120.65|   35.48|              19.0|     2310.0|         471.0|    1341.0|     441.0|        3.225|          166900.0|
|  -122.84|    38.4|              15.0|     3080.0|         617.0|    1446.0|     599.0|       3.6696|          194400.0|
|  -118.02|   34.08|              31.0|     2402.0|         632.0|    2830.0|     603.0|       2.3333|          164200.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
only showing top 10 rows

In [88]:
# display Schema
df_csv1.printSchema()

root
 |-- longitude: double (nullable = true)
 |-- latitude: double (nullable = true)
 |-- housing_median_age: double (nullable = true)
 |-- total_rooms: double (nullable = true)
 |-- total_bedrooms: double (nullable = true)
 |-- population: double (nullable = true)
 |-- households: double (nullable = true)
 |-- median_income: double (nullable = true)
 |-- median_house_value: double (nullable = true)

In [89]:
#first row
df_csv1.first()

Row(longitude=-122.05, latitude=37.37, housing_median_age=27.0, total_rooms=3885.0, total_bedrooms=661.0, population=1537.0, households=606.0, median_income=6.6085, median_house_value=344700.0)

In [90]:
#head values

df_csv1.head()

Row(longitude=-122.05, latitude=37.37, housing_median_age=27.0, total_rooms=3885.0, total_bedrooms=661.0, population=1537.0, households=606.0, median_income=6.6085, median_house_value=344700.0)

In [91]:
#tail values

df_csv1.tail(1)

[Row(longitude=-119.63, latitude=34.42, housing_median_age=42.0, total_rooms=1765.0, total_bedrooms=263.0, population=753.0, households=260.0, median_income=8.5608, median_house_value=500001.0)]

In [92]:
#takes some random from dataframe

df_csv1.take(2)

[Row(longitude=-122.05, latitude=37.37, housing_median_age=27.0, total_rooms=3885.0, total_bedrooms=661.0, population=1537.0, households=606.0, median_income=6.6085, median_house_value=344700.0),
 Row(longitude=-118.3, latitude=34.26, housing_median_age=43.0, total_rooms=1510.0, total_bedrooms=310.0, population=809.0, households=277.0, median_income=3.599, median_house_value=176500.0)]

In [93]:
# return column names and data types

df_csv1.dtypes

[('longitude', 'double'),
 ('latitude', 'double'),
 ('housing_median_age', 'double'),
 ('total_rooms', 'double'),
 ('total_bedrooms', 'double'),
 ('population', 'double'),
 ('households', 'double'),
 ('median_income', 'double'),
 ('median_house_value', 'double')]

In [94]:
# compute summery satistics for dataframe

df_csv1.describe().show()

+-------+-------------------+------------------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+
|summary|          longitude|          latitude|housing_median_age|      total_rooms|    total_bedrooms|        population|        households|     median_income|median_house_value|
+-------+-------------------+------------------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+
|  count|               3000|              3000|              3000|             3000|              3000|              3000|              3000|              3000|              3000|
|   mean|-119.58920000000029| 35.63538999999999|28.845333333333333|2599.578666666667| 529.9506666666666|1402.7986666666666|           489.912| 3.807271799999998|        205846.275|
| stddev| 1.9949362939550166|2.1296695233438334|12.555395554955757|2155.593331625582|415.65436813632306|1030.5430124122424|365.42270980552615|1.8545117296914775|113119.68746964622|
|    min|            -124.18|             32.56|               1.0|              6.0|               2.0|               5.0|               2.0|            0.4999|           22500.0|
|    max|            -114.49|             41.92|              52.0|          30450.0|            5419.0|           11935.0|            4930.0|           15.0001|          500001.0|
+-------+-------------------+------------------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+

In [95]:
#count no.of rows

df_csv1.count()

3000

In [96]:
#count distinct no.of rows

df_csv1.distinct().count()

3000

In [97]:
#explain physical plan and logical plan

df_csv1.explain()

== Physical Plan ==
FileScan csv [longitude#3561,latitude#3562,housing_median_age#3563,total_rooms#3564,total_bedrooms#3565,population#3566,households#3567,median_income#3568,median_house_value#3569] Batched: false, DataFilters: [], Format: CSV, Location: InMemoryFileIndex(1 paths)[file:/content/sample_data/california_housing_test.csv], PartitionFilters: [], PushedFilters: [], ReadSchema: struct<longitude:double,latitude:double,housing_median_age:double,total_rooms:double,total_bedroo...

In [98]:
#All table columns Names

df_csv1.columns

['longitude',
 'latitude',
 'housing_median_age',
 'total_rooms',
 'total_bedrooms',
 'population',
 'households',
 'median_income',
 'median_house_value']

In [99]:
df_csv1.columns

['longitude',
 'latitude',
 'housing_median_age',
 'total_rooms',
 'total_bedrooms',
 'population',
 'households',
 'median_income',
 'median_house_value']

# import functions

In [100]:
from pyspark.sql.functions import *

# select

In [101]:
df_csv1.select(col('population')/2,'total_rooms',col('median_house_value')*10).show(10)

+----------------+-----------+-------------------------+
|(population / 2)|total_rooms|(median_house_value * 10)|
+----------------+-----------+-------------------------+
|           768.5|     3885.0|                3447000.0|
|           404.5|     1510.0|                1765000.0|
|           742.0|     3589.0|                2705000.0|
|            24.5|       67.0|                3300000.0|
|           425.0|     1241.0|                 817000.0|
|           331.5|     1018.0|                 670000.0|
|           302.0|     1009.0|                 670000.0|
|           670.5|     2310.0|                1669000.0|
|           723.0|     3080.0|                1944000.0|
|          1415.0|     2402.0|                1642000.0|
+----------------+-----------+-------------------------+
only showing top 10 rows

In [102]:
df_csv1.select([col('population')/2,'total_rooms',col('median_house_value')*10]).show(10)

+----------------+-----------+-------------------------+
|(population / 2)|total_rooms|(median_house_value * 10)|
+----------------+-----------+-------------------------+
|           768.5|     3885.0|                3447000.0|
|           404.5|     1510.0|                1765000.0|
|           742.0|     3589.0|                2705000.0|
|            24.5|       67.0|                3300000.0|
|           425.0|     1241.0|                 817000.0|
|           331.5|     1018.0|                 670000.0|
|           302.0|     1009.0|                 670000.0|
|           670.5|     2310.0|                1669000.0|
|           723.0|     3080.0|                1944000.0|
|          1415.0|     2402.0|                1642000.0|
+----------------+-----------+-------------------------+
only showing top 10 rows

# Adding new columns

In [103]:
df_csv1.withColumn('new_population',col('population')/2).withColumn('house_value',col('median_house_value')*10).show(10)

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+--------------+-----------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|new_population|house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+--------------+-----------+
|  -122.05|   37.37|              27.0|     3885.0|         661.0|    1537.0|     606.0|       6.6085|          344700.0|         768.5|  3447000.0|
|   -118.3|   34.26|              43.0|     1510.0|         310.0|     809.0|     277.0|        3.599|          176500.0|         404.5|  1765000.0|
|  -117.81|   33.78|              27.0|     3589.0|         507.0|    1484.0|     495.0|       5.7934|          270500.0|         742.0|  2705000.0|
|  -118.36|   33.82|              28.0|       67.0|          15.0|      49.0|      11.0|       6.1359|          330000.0|          24.5|  3300000.0|
|  -119.67|   36.33|              19.0|     1241.0|         244.0|     850.0|     237.0|       2.9375|           81700.0|         425.0|   817000.0|
|  -119.56|   36.51|              37.0|     1018.0|         213.0|     663.0|     204.0|       1.6635|           67000.0|         331.5|   670000.0|
|  -121.43|   38.63|              43.0|     1009.0|         225.0|     604.0|     218.0|       1.6641|           67000.0|         302.0|   670000.0|
|  -120.65|   35.48|              19.0|     2310.0|         471.0|    1341.0|     441.0|        3.225|          166900.0|         670.5|  1669000.0|
|  -122.84|    38.4|              15.0|     3080.0|         617.0|    1446.0|     599.0|       3.6696|          194400.0|         723.0|  1944000.0|
|  -118.02|   34.08|              31.0|     2402.0|         632.0|    2830.0|     603.0|       2.3333|          164200.0|        1415.0|  1642000.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+--------------+-----------+
only showing top 10 rows

# dropping columns

In [104]:
df_csv1.drop('population','median_house_value').show(10)

+---------+--------+------------------+-----------+--------------+----------+-------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|households|median_income|
+---------+--------+------------------+-----------+--------------+----------+-------------+
|  -122.05|   37.37|              27.0|     3885.0|         661.0|     606.0|       6.6085|
|   -118.3|   34.26|              43.0|     1510.0|         310.0|     277.0|        3.599|
|  -117.81|   33.78|              27.0|     3589.0|         507.0|     495.0|       5.7934|
|  -118.36|   33.82|              28.0|       67.0|          15.0|      11.0|       6.1359|
|  -119.67|   36.33|              19.0|     1241.0|         244.0|     237.0|       2.9375|
|  -119.56|   36.51|              37.0|     1018.0|         213.0|     204.0|       1.6635|
|  -121.43|   38.63|              43.0|     1009.0|         225.0|     218.0|       1.6641|
|  -120.65|   35.48|              19.0|     2310.0|         471.0|     441.0|        3.225|
|  -122.84|    38.4|              15.0|     3080.0|         617.0|     599.0|       3.6696|
|  -118.02|   34.08|              31.0|     2402.0|         632.0|     603.0|       2.3333|
+---------+--------+------------------+-----------+--------------+----------+-------------+
only showing top 10 rows

# Renamed Column Names

In [105]:
df_csv1.withColumnRenamed('total_bedrooms','bedrooms').withColumnRenamed('total_rooms','rooms').show(10)

+---------+--------+------------------+------+--------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age| rooms|bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+------+--------+----------+----------+-------------+------------------+
|  -122.05|   37.37|              27.0|3885.0|   661.0|    1537.0|     606.0|       6.6085|          344700.0|
|   -118.3|   34.26|              43.0|1510.0|   310.0|     809.0|     277.0|        3.599|          176500.0|
|  -117.81|   33.78|              27.0|3589.0|   507.0|    1484.0|     495.0|       5.7934|          270500.0|
|  -118.36|   33.82|              28.0|  67.0|    15.0|      49.0|      11.0|       6.1359|          330000.0|
|  -119.67|   36.33|              19.0|1241.0|   244.0|     850.0|     237.0|       2.9375|           81700.0|
|  -119.56|   36.51|              37.0|1018.0|   213.0|     663.0|     204.0|       1.6635|           67000.0|
|  -121.43|   38.63|              43.0|1009.0|   225.0|     604.0|     218.0|       1.6641|           67000.0|
|  -120.65|   35.48|              19.0|2310.0|   471.0|    1341.0|     441.0|        3.225|          166900.0|
|  -122.84|    38.4|              15.0|3080.0|   617.0|    1446.0|     599.0|       3.6696|          194400.0|
|  -118.02|   34.08|              31.0|2402.0|   632.0|    2830.0|     603.0|       2.3333|          164200.0|
+---------+--------+------------------+------+--------+----------+----------+-------------+------------------+
only showing top 10 rows

# drop null values from dataFrame

In [106]:
# how = any ,it drops any null value in dataframe
df_pipe1 = df_pipe.dropna(how = 'any')
df_pipe1.count()

21

In [107]:
# how =all,drops only all nulls in single row
df_pipe2 = df_pipe.dropna(how = 'all')
df_pipe2.count()

30

In [108]:
#threshold
df_pipe3 = df_pipe.dropna(how = 'any',thresh= 2)

df_pipe3.count()

30

In [109]:
#subset - used to delete particular column null values

df_pipe4 = df_pipe.dropna(how = 'any',subset=["UPDATED_DATE"])
df_pipe4.count()

27

# fill null values in dataFrame

In [110]:
df_pipe11 = df_pipe.fillna('missing',['ENAME','JOB']).fillna(1,['MGR','SAL']).fillna('12-08-1995',['HIREDATE','UPDATED_DATE'])
df_pipe11.show(10)

+-----+-------+---------+----+----------+----+------+------------+
|EMPNO|  ENAME|      JOB| MGR|  HIREDATE| SAL|DEPTNO|UPDATED_DATE|
+-----+-------+---------+----+----------+----+------+------------+
| 7369|  SMITH|    CLERK|7902|17-12-1980| 800|    20|  01-01-2022|
| 7499|  ALLEN| SALESMAN|7698|20-02-1981|1600|    30|  02-01-2022|
| 7521|   WARD| SALESMAN|7698|22-02-1981|1250|    30|  03-01-2022|
| 7566|  JONES|  MANAGER|   1|04-02-1981|2975|    20|  04-01-2022|
| 7654|missing|  missing|7698|21-09-1981|   1|    30|  05-01-2022|
| 7698|    SGR|  MANAGER|7839|05-01-1981|2850|    30|  06-01-2022|
| 7782|   RAVI|  missing|   1|06-09-1981|2450|    10|  07-01-2022|
| 7788|  SCOTT|  ANALYST|7566|19-04-1987|3000|    20|  08-01-2022|
| 7839|missing|PRESIDENT|   1|12-08-1995|5000|    10|  12-08-1995|
| 7844| TURNER| SALESMAN|7698|09-08-1981|1500|    30|  01-02-2022|
+-----+-------+---------+----+----------+----+------+------------+
only showing top 10 rows

# Filter operations

In [111]:
#salary of peeple greter than 1600 -one way

df_pipe.filter('SAL>1600').show()

+-----+-----+---------+----+----------+----+------+------------+
|EMPNO|ENAME|      JOB| MGR|  HIREDATE| SAL|DEPTNO|UPDATED_DATE|
+-----+-----+---------+----+----------+----+------+------------+
| 7566|JONES|  MANAGER|null|04-02-1981|2975|    20|  04-01-2022|
| 7698|  SGR|  MANAGER|7839|05-01-1981|2850|    30|  06-01-2022|
| 7782| RAVI|     null|null|06-09-1981|2450|    10|  07-01-2022|
| 7788|SCOTT|  ANALYST|7566|19-04-1987|3000|    20|  08-01-2022|
| 7839| null|PRESIDENT|null|      null|5000|    10|        null|
| 7902| FORD|  ANALYST|7566|12-03-1981|3000|    20|  04-02-2022|
| 7566|JONES|  MANAGER|7839|04-02-1981|2975|    20|  01-02-2021|
| 7698|  SGR|  MANAGER|7839|05-01-1981|2850|    30|  03-02-2021|
| 7782| RAVI|  MANAGER|7839|06-09-1981|2450|    10|  04-02-2021|
| 7788|SCOTT|  ANALYST|7566|19-04-1987|3000|    20|  05-02-2021|
| 7839| KING|PRESIDENT|null|01-11-1981|5000|    10|  06-02-2021|
| 7902| FORD|  ANALYST|7566|12-03-1981|3000|    20|  01-01-2021|
+-----+-----+---------+----+----------+----+------+------------+

In [112]:
#salary of peeple greter than 3000 -other way

df_pipe.filter(col('SAL')>3000).show()

+-----+-----+---------+----+----------+----+------+------------+
|EMPNO|ENAME|      JOB| MGR|  HIREDATE| SAL|DEPTNO|UPDATED_DATE|
+-----+-----+---------+----+----------+----+------+------------+
| 7839| null|PRESIDENT|null|      null|5000|    10|        null|
| 7839| KING|PRESIDENT|null|01-11-1981|5000|    10|  06-02-2021|
+-----+-----+---------+----+----------+----+------+------------+

In [113]:
#not operator

df_pipe.filter(~(col('SAL')>2000)).show(10)

+-----+------+--------+----+----------+----+------+------------+
|EMPNO| ENAME|     JOB| MGR|  HIREDATE| SAL|DEPTNO|UPDATED_DATE|
+-----+------+--------+----+----------+----+------+------------+
| 7369| SMITH|   CLERK|7902|17-12-1980| 800|    20|  01-01-2022|
| 7499| ALLEN|SALESMAN|7698|20-02-1981|1600|    30|  02-01-2022|
| 7521|  WARD|SALESMAN|7698|22-02-1981|1250|    30|  03-01-2022|
| 7844|TURNER|SALESMAN|7698|09-08-1981|1500|    30|  01-02-2022|
| 7876| ADAMS|   CLERK|7788|23-05-1987|1100|    20|  02-02-2022|
| 7900| JAMES|   CLERK|7698|12-03-1981| 950|    30|  03-02-2022|
| 7934|MILLER|   CLERK|7782|01-03-1982|1300|    10|  05-02-2022|
| 1234|SEKHAR|  doctor|7777|      null| 667|    80|  06-02-2022|
| 7369| SMITH|   CLERK|7902|17-12-1980| 800|    20|  07-02-2022|
| 7499| ALLEN|SALESMAN|7698|20-02-1981|1600|    30|  08-02-2022|
+-----+------+--------+----+----------+----+------+------------+
only showing top 10 rows

In [114]:
# & operator
#show employee details who's salary less than 3000 and salary should be greater than 2000

df_pipe.filter( (col('SAL')>2000) & (col('SAL')<3000)).show(10)

+-----+-----+-------+----+----------+----+------+------------+
|EMPNO|ENAME|    JOB| MGR|  HIREDATE| SAL|DEPTNO|UPDATED_DATE|
+-----+-----+-------+----+----------+----+------+------------+
| 7566|JONES|MANAGER|null|04-02-1981|2975|    20|  04-01-2022|
| 7698|  SGR|MANAGER|7839|05-01-1981|2850|    30|  06-01-2022|
| 7782| RAVI|   null|null|06-09-1981|2450|    10|  07-01-2022|
| 7566|JONES|MANAGER|7839|04-02-1981|2975|    20|  01-02-2021|
| 7698|  SGR|MANAGER|7839|05-01-1981|2850|    30|  03-02-2021|
| 7782| RAVI|MANAGER|7839|06-09-1981|2450|    10|  04-02-2021|
+-----+-----+-------+----+----------+----+------+------------+

In [115]:
# & operator
#show clark employee details who's salary greater than 1000

df_pipe.filter( (col('JOB') == 'CLERK') & (col('SAL')>1000)).show(10)

+-----+------+-----+----+----------+----+------+------------+
|EMPNO| ENAME|  JOB| MGR|  HIREDATE| SAL|DEPTNO|UPDATED_DATE|
+-----+------+-----+----+----------+----+------+------------+
| 7876| ADAMS|CLERK|7788|23-05-1987|1100|    20|  02-02-2022|
| 7934|MILLER|CLERK|7782|01-03-1982|1300|    10|  05-02-2022|
| 7876| ADAMS|CLERK|7788|23-05-1987|1100|    20|  08-02-2021|
| 7934|MILLER|CLERK|7782|01-03-1982|1300|    10|  02-01-2021|
+-----+------+-----+----+----------+----+------+------------+

In [116]:
# | operator
#show employee details who's salary less than 3000 or salary should be greater than 2000

df_pipe.filter( (col('SAL')>2000) | (col('SAL')<3000)).show(10)

+-----+------+---------+----+----------+----+------+------------+
|EMPNO| ENAME|      JOB| MGR|  HIREDATE| SAL|DEPTNO|UPDATED_DATE|
+-----+------+---------+----+----------+----+------+------------+
| 7369| SMITH|    CLERK|7902|17-12-1980| 800|    20|  01-01-2022|
| 7499| ALLEN| SALESMAN|7698|20-02-1981|1600|    30|  02-01-2022|
| 7521|  WARD| SALESMAN|7698|22-02-1981|1250|    30|  03-01-2022|
| 7566| JONES|  MANAGER|null|04-02-1981|2975|    20|  04-01-2022|
| 7698|   SGR|  MANAGER|7839|05-01-1981|2850|    30|  06-01-2022|
| 7782|  RAVI|     null|null|06-09-1981|2450|    10|  07-01-2022|
| 7788| SCOTT|  ANALYST|7566|19-04-1987|3000|    20|  08-01-2022|
| 7839|  null|PRESIDENT|null|      null|5000|    10|        null|
| 7844|TURNER| SALESMAN|7698|09-08-1981|1500|    30|  01-02-2022|
| 7876| ADAMS|    CLERK|7788|23-05-1987|1100|    20|  02-02-2022|
+-----+------+---------+----+----------+----+------+------------+
only showing top 10 rows

# GroupBy operations

In [117]:
#groupby job role and people count
df_pipe.groupby('JOB').count().show()

+---------+-----+
|      JOB|count|
+---------+-----+
|  ANALYST|    4|
| SALESMAN|    7|
|    CLERK|    9|
|     null|    2|
|  MANAGER|    5|
|PRESIDENT|    2|
|   doctor|    1|
+---------+-----+

In [118]:
#Group by job role and sum of salaries
df_pipe.groupBy('JOB').sum('SAL').show()

+---------+--------+
|      JOB|sum(SAL)|
+---------+--------+
|  ANALYST|   12000|
| SALESMAN|    9950|
|    CLERK|    8794|
|     null|    2450|
|  MANAGER|   14100|
|PRESIDENT|   10000|
|   doctor|     667|
+---------+--------+

In [119]:
#groupby deptno and people count
df_pipe.groupBy('DEPTNO').count().show()

+------+-----+
|DEPTNO|count|
+------+-----+
|    20|   10|
|    10|    6|
|    80|    2|
|    30|   12|
+------+-----+

In [120]:
#groupby deptno and sum salary
df_pipe.groupBy('DEPTNO').sum('SAL').show()

+------+--------+
|DEPTNO|sum(SAL)|
+------+--------+
|    20|   21750|
|    10|   17500|
|    80|    1161|
|    30|   17550|
+------+--------+

# Difference Between sort and order by
Spark_sql : orderBy will do sorting an entire data ,sortby will do Partition wise sorting in sparksql .


pyspark : orderBy and sort are same pyspark.sortwithinpartitions same as sortby ( it will do Partition wise sorting)

#sort operations

In [121]:
# sort salary data in  high to low
df_pipe.sort( col('SAL').desc()).show(10)

+-----+-----+---------+----+----------+----+------+------------+
|EMPNO|ENAME|      JOB| MGR|  HIREDATE| SAL|DEPTNO|UPDATED_DATE|
+-----+-----+---------+----+----------+----+------+------------+
| 7839| null|PRESIDENT|null|      null|5000|    10|        null|
| 7839| KING|PRESIDENT|null|01-11-1981|5000|    10|  06-02-2021|
| 7788|SCOTT|  ANALYST|7566|19-04-1987|3000|    20|  08-01-2022|
| 7902| FORD|  ANALYST|7566|12-03-1981|3000|    20|  04-02-2022|
| 7788|SCOTT|  ANALYST|7566|19-04-1987|3000|    20|  05-02-2021|
| 7902| FORD|  ANALYST|7566|12-03-1981|3000|    20|  01-01-2021|
| 7566|JONES|  MANAGER|null|04-02-1981|2975|    20|  04-01-2022|
| 7566|JONES|  MANAGER|7839|04-02-1981|2975|    20|  01-02-2021|
| 7698|  SGR|  MANAGER|7839|05-01-1981|2850|    30|  06-01-2022|
| 7698|  SGR|  MANAGER|7839|05-01-1981|2850|    30|  03-02-2021|
+-----+-----+---------+----+----------+----+------+------------+
only showing top 10 rows

# OrderBy operations

In [122]:
#In Pyspark - orderBy and sort are same pyspark
# order salary data in high to low
df_pipe.orderBy( col('SAL').desc()).show(10)

+-----+-----+---------+----+----------+----+------+------------+
|EMPNO|ENAME|      JOB| MGR|  HIREDATE| SAL|DEPTNO|UPDATED_DATE|
+-----+-----+---------+----+----------+----+------+------------+
| 7839| null|PRESIDENT|null|      null|5000|    10|        null|
| 7839| KING|PRESIDENT|null|01-11-1981|5000|    10|  06-02-2021|
| 7788|SCOTT|  ANALYST|7566|19-04-1987|3000|    20|  08-01-2022|
| 7902| FORD|  ANALYST|7566|12-03-1981|3000|    20|  04-02-2022|
| 7788|SCOTT|  ANALYST|7566|19-04-1987|3000|    20|  05-02-2021|
| 7902| FORD|  ANALYST|7566|12-03-1981|3000|    20|  01-01-2021|
| 7566|JONES|  MANAGER|null|04-02-1981|2975|    20|  04-01-2022|
| 7566|JONES|  MANAGER|7839|04-02-1981|2975|    20|  01-02-2021|
| 7698|  SGR|  MANAGER|7839|05-01-1981|2850|    30|  06-01-2022|
| 7698|  SGR|  MANAGER|7839|05-01-1981|2850|    30|  03-02-2021|
+-----+-----+---------+----+----------+----+------+------------+
only showing top 10 rows

# SortWithinpartition

In [123]:
#sortWithinPartitions -sortwithinpartitions same as sortby ( it will do Partition wise sorting)
df_pipe.sortWithinPartitions('SAL').show(10)

+-----+------+--------+----+----------+----+------+------------+
|EMPNO| ENAME|     JOB| MGR|  HIREDATE| SAL|DEPTNO|UPDATED_DATE|
+-----+------+--------+----+----------+----+------+------------+
| 7654|  null|    null|7698|21-09-1981|null|    30|  05-01-2022|
| 1234|   RAM|   CLERK|7457|      null| 494|    80|  03-01-2021|
| 1234|SEKHAR|  doctor|7777|      null| 667|    80|  06-02-2022|
| 7369| SMITH|   CLERK|7902|17-12-1980| 800|    20|  01-01-2022|
| 7369| SMITH|   CLERK|7902|17-12-1980| 800|    20|  07-02-2022|
| 7900| JAMES|   CLERK|7698|12-03-1981| 950|    30|  03-02-2022|
| 7900| JAMES|   CLERK|7698|      null| 950|    30|        null|
| 7876| ADAMS|   CLERK|7788|23-05-1987|1100|    20|  02-02-2022|
| 7876| ADAMS|   CLERK|7788|23-05-1987|1100|    20|  08-02-2021|
| 7521|  WARD|SALESMAN|7698|22-02-1981|1250|    30|  03-01-2022|
+-----+------+--------+----+----------+----+------+------------+
only showing top 10 rows

# coalesce
coalesce : is a Narrow transformation : adjust data in existing partition,No shuffling ,By defult it will used for decrease the partitions.

In [124]:
df_pipe.rdd.getNumPartitions()

1

In [125]:
df_pipe.coalesce(3).withColumn('partition_id',spark_partition_id()).show()

+-----+------+---------+----+----------+----+------+------------+------------+
|EMPNO| ENAME|      JOB| MGR|  HIREDATE| SAL|DEPTNO|UPDATED_DATE|partition_id|
+-----+------+---------+----+----------+----+------+------------+------------+
| 7369| SMITH|    CLERK|7902|17-12-1980| 800|    20|  01-01-2022|           0|
| 7499| ALLEN| SALESMAN|7698|20-02-1981|1600|    30|  02-01-2022|           0|
| 7521|  WARD| SALESMAN|7698|22-02-1981|1250|    30|  03-01-2022|           0|
| 7566| JONES|  MANAGER|null|04-02-1981|2975|    20|  04-01-2022|           0|
| 7654|  null|     null|7698|21-09-1981|null|    30|  05-01-2022|           0|
| 7698|   SGR|  MANAGER|7839|05-01-1981|2850|    30|  06-01-2022|           0|
| 7782|  RAVI|     null|null|06-09-1981|2450|    10|  07-01-2022|           0|
| 7788| SCOTT|  ANALYST|7566|19-04-1987|3000|    20|  08-01-2022|           0|
| 7839|  null|PRESIDENT|null|      null|5000|    10|        null|           0|
| 7844|TURNER| SALESMAN|7698|09-08-1981|1500|    30|  01-02-2022|           0|
| 7876| ADAMS|    CLERK|7788|23-05-1987|1100|    20|  02-02-2022|           0|
| 7900| JAMES|    CLERK|7698|12-03-1981| 950|    30|  03-02-2022|           0|
| 7902|  FORD|  ANALYST|7566|12-03-1981|3000|    20|  04-02-2022|           0|
| 7934|MILLER|    CLERK|7782|01-03-1982|1300|    10|  05-02-2022|           0|
| 1234|SEKHAR|   doctor|7777|      null| 667|    80|  06-02-2022|           0|
| 7369| SMITH|    CLERK|7902|17-12-1980| 800|    20|  07-02-2022|           0|
| 7499| ALLEN| SALESMAN|7698|20-02-1981|1600|    30|  08-02-2022|           0|
| 7521|  WARD| SALESMAN|7698|22-02-1981|1250|    30|        null|           0|
| 7566| JONES|  MANAGER|7839|04-02-1981|2975|    20|  01-02-2021|           0|
| 7654|MARTIN| SALESMAN|7698|21-09-1981|1250|    30|  02-02-2021|           0|
+-----+------+---------+----+----------+----+------+------------+------------+
only showing top 20 rows

# repartition
repartition : is a wide transformation : create new partitions,Data shuffle will happen,used for increase/decrease the partitions, we can repartition based on column specific to increse the performence

In [126]:
df_pipe.rdd.getNumPartitions()

1

In [127]:
df_pipe.repartition(3).withColumn('partition',spark_partition_id()).show()

+-----+------+---------+----+----------+----+------+------------+---------+
|EMPNO| ENAME|      JOB| MGR|  HIREDATE| SAL|DEPTNO|UPDATED_DATE|partition|
+-----+------+---------+----+----------+----+------+------------+---------+
| 7934|MILLER|    CLERK|7782|01-03-1982|1300|    10|  02-01-2021|        0|
| 7876| ADAMS|    CLERK|7788|23-05-1987|1100|    20|  02-02-2022|        0|
| 7369| SMITH|    CLERK|7902|17-12-1980| 800|    20|  01-01-2022|        0|
| 7698|   SGR|  MANAGER|7839|05-01-1981|2850|    30|  06-01-2022|        0|
| 7844|TURNER| SALESMAN|7698|09-08-1981|1500|    30|  07-02-2021|        0|
| 7521|  WARD| SALESMAN|7698|22-02-1981|1250|    30|  03-01-2022|        0|
| 7839|  null|PRESIDENT|null|      null|5000|    10|        null|        0|
| 7839|  KING|PRESIDENT|null|01-11-1981|5000|    10|  06-02-2021|        0|
| 7499| ALLEN| SALESMAN|7698|20-02-1981|1600|    30|  02-01-2022|        0|
| 1234|   RAM|    CLERK|7457|      null| 494|    80|  03-01-2021|        0|
| 1234|SEKHAR|   doctor|7777|      null| 667|    80|  06-02-2022|        1|
| 7566| JONES|  MANAGER|null|04-02-1981|2975|    20|  04-01-2022|        1|
| 7521|  WARD| SALESMAN|7698|22-02-1981|1250|    30|        null|        1|
| 7654|MARTIN| SALESMAN|7698|21-09-1981|1250|    30|  02-02-2021|        1|
| 7844|TURNER| SALESMAN|7698|09-08-1981|1500|    30|  01-02-2022|        1|
| 7902|  FORD|  ANALYST|7566|12-03-1981|3000|    20|  01-01-2021|        1|
| 7902|  FORD|  ANALYST|7566|12-03-1981|3000|    20|  04-02-2022|        1|
| 7900| JAMES|    CLERK|7698|12-03-1981| 950|    30|  03-02-2022|        1|
| 7499| ALLEN| SALESMAN|7698|20-02-1981|1600|    30|  08-02-2022|        1|
| 7782|  RAVI|     null|null|06-09-1981|2450|    10|  07-01-2022|        1|
+-----+------+---------+----+----------+----+------+------------+---------+
only showing top 20 rows

# joining two dataframes

In [128]:
product = spark.read.format('csv').option('header',True).option('inferSchema',True).option('nullValue','null').load('/content/product_info_2.csv')
product.show(10)

+-----+----------+--------------------+----------+
|sl_no|product_id|        product_name|unit_price|
+-----+----------+--------------------+----------+
|    1|         1|        Asus Watch 2|       100|
|    2|         2|  Impex 8975 speaker|       120|
|    3|         3|         Asus R558UQ|       100|
|    4|         4|           Iphone 11|      1000|
|    5|         5| Samsung Galaxy Buds|       100|
|    6|         6|           Iphone 12|      3000|
|    7|         7|Samsung galaxy phone|      3000|
|    8|         8|             Airpods|       100|
|    9|         9|     Sony headphones|       100|
|   10|        10|        Sandisk SSD |       500|
+-----+----------+--------------------+----------+

In [129]:
sale = spark.read.format('csv').option('header',True).option('inferSchema',True).option('nullValue','null').load('/content/sales_data_2.csv')
sale.show(10)

+-----+----------+---+----+
|sl_no|product_id|qty|year|
+-----+----------+---+----+
|    1|         1| 65|2020|
|    2|         2| 19|2020|
|    3|         3| 44|2020|
|    4|         4|  5|2020|
|    5|         5| 98|2020|
|    6|         5|168|2015|
|    7|         3| 40|2016|
|    8|         1| 78|2018|
|    9|         1|987|2019|
|   10|         4|100|2019|
+-----+----------+---+----+
only showing top 10 rows

In [130]:
#Joining Two Data frames
# BY using drop function avoid duplicate columns after join
product_sale = sale.join(product, product.product_id == sale.product_id,'inner').drop(product.product_id,product.sl_no)
product_sale.show()

+-----+----------+---+----+-------------------+----------+
|sl_no|product_id|qty|year|       product_name|unit_price|
+-----+----------+---+----+-------------------+----------+
|    1|         1| 65|2020|       Asus Watch 2|       100|
|    2|         2| 19|2020| Impex 8975 speaker|       120|
|    3|         3| 44|2020|        Asus R558UQ|       100|
|    4|         4|  5|2020|          Iphone 11|      1000|
|    5|         5| 98|2020|Samsung Galaxy Buds|       100|
|    6|         5|168|2015|Samsung Galaxy Buds|       100|
|    7|         3| 40|2016|        Asus R558UQ|       100|
|    8|         1| 78|2018|       Asus Watch 2|       100|
|    9|         1|987|2019|       Asus Watch 2|       100|
|   10|         4|100|2019|          Iphone 11|      1000|
|   11|         1| 43|2020|       Asus Watch 2|       100|
|   12|         5|100|2020|Samsung Galaxy Buds|       100|
|   13|         8| 50|2021|            Airpods|       100|
|   14|         9|100|2021|    Sony headphones|       100|
|   15|        10| 20|2021|       Sandisk SSD |       500|
|   16|         8| 30|2021|            Airpods|       100|
|   17|         8| 11|2021|            Airpods|       100|
|   18|         9| 20|2021|    Sony headphones|       100|
|   19|        10| 30|2021|       Sandisk SSD |       500|
|   20|         4| 40|2021|          Iphone 11|      1000|
+-----+----------+---+----+-------------------+----------+
only showing top 20 rows

In [133]:
#new Revenue Column
product_sale = product_sale.withColumn('Revenue',col('qty') * col('unit_price'))
product_sale.show()

+-----+----------+---+----+-------------------+----------+-------+
|sl_no|product_id|qty|year|       product_name|unit_price|Revenue|
+-----+----------+---+----+-------------------+----------+-------+
|    1|         1| 65|2020|       Asus Watch 2|       100|   6500|
|    2|         2| 19|2020| Impex 8975 speaker|       120|   2280|
|    3|         3| 44|2020|        Asus R558UQ|       100|   4400|
|    4|         4|  5|2020|          Iphone 11|      1000|   5000|
|    5|         5| 98|2020|Samsung Galaxy Buds|       100|   9800|
|    6|         5|168|2015|Samsung Galaxy Buds|       100|  16800|
|    7|         3| 40|2016|        Asus R558UQ|       100|   4000|
|    8|         1| 78|2018|       Asus Watch 2|       100|   7800|
|    9|         1|987|2019|       Asus Watch 2|       100|  98700|
|   10|         4|100|2019|          Iphone 11|      1000| 100000|
|   11|         1| 43|2020|       Asus Watch 2|       100|   4300|
|   12|         5|100|2020|Samsung Galaxy Buds|       100|  10000|
|   13|         8| 50|2021|            Airpods|       100|   5000|
|   14|         9|100|2021|    Sony headphones|       100|  10000|
|   15|        10| 20|2021|       Sandisk SSD |       500|  10000|
|   16|         8| 30|2021|            Airpods|       100|   3000|
|   17|         8| 11|2021|            Airpods|       100|   1100|
|   18|         9| 20|2021|    Sony headphones|       100|   2000|
|   19|        10| 30|2021|       Sandisk SSD |       500|  15000|
|   20|         4| 40|2021|          Iphone 11|      1000|  40000|
+-----+----------+---+----+-------------------+----------+-------+
only showing top 20 rows

# Pivot Table

In [134]:
product_sale.groupBy('year').pivot('product_name').sum('Revenue').show()

+----+-------+-----------+------------+------------------+---------+-------------------+--------------------+------------+---------------+
|year|Airpods|Asus R558UQ|Asus Watch 2|Impex 8975 speaker|Iphone 11|Samsung Galaxy Buds|Samsung galaxy phone|Sandisk SSD |Sony headphones|
+----+-------+-----------+------------+------------------+---------+-------------------+--------------------+------------+---------------+
|2018|   null|       null|        7800|              null|     null|               null|                null|        null|           null|
|2015|   null|       null|        null|              null|     null|              16800|                null|        null|           null|
|2019|   null|       null|       98700|              null|   100000|               null|                null|        null|           null|
|2020|   null|       4400|       10800|              2280|     5000|              19800|                null|        null|           null|
|2016|   null|       4000|        null|              null|     null|               null|                null|        null|           null|
|2021|   9100|       null|        1000|              1200|    40000|               5500|               60000|       25000|          12000|
+----+-------+-----------+------------+------------------+---------+-------------------+--------------------+------------+---------------+

# inner Join

In [135]:
df_inner = product.join(sale,product.product_id == sale.product_id,'inner')

df_inner.show(truncate = False)
df_inner.count()

+-----+----------+-------------------+----------+-----+----------+---+----+
|sl_no|product_id|product_name       |unit_price|sl_no|product_id|qty|year|
+-----+----------+-------------------+----------+-----+----------+---+----+
|1    |1         |Asus Watch 2       |100       |1    |1         |65 |2020|
|2    |2         |Impex 8975 speaker |120       |2    |2         |19 |2020|
|3    |3         |Asus R558UQ        |100       |3    |3         |44 |2020|
|4    |4         |Iphone 11          |1000      |4    |4         |5  |2020|
|5    |5         |Samsung Galaxy Buds|100       |5    |5         |98 |2020|
|5    |5         |Samsung Galaxy Buds|100       |6    |5         |168|2015|
|3    |3         |Asus R558UQ        |100       |7    |3         |40 |2016|
|1    |1         |Asus Watch 2       |100       |8    |1         |78 |2018|
|1    |1         |Asus Watch 2       |100       |9    |1         |987|2019|
|4    |4         |Iphone 11          |1000      |10   |4         |100|2019|
|1    |1         |Asus Watch 2       |100       |11   |1         |43 |2020|
|5    |5         |Samsung Galaxy Buds|100       |12   |5         |100|2020|
|8    |8         |Airpods            |100       |13   |8         |50 |2021|
|9    |9         |Sony headphones    |100       |14   |9         |100|2021|
|10   |10        |Sandisk SSD        |500       |15   |10        |20 |2021|
|8    |8         |Airpods            |100       |16   |8         |30 |2021|
|8    |8         |Airpods            |100       |17   |8         |11 |2021|
|9    |9         |Sony headphones    |100       |18   |9         |20 |2021|
|10   |10        |Sandisk SSD        |500       |19   |10        |30 |2021|
|4    |4         |Iphone 11          |1000      |20   |4         |40 |2021|
+-----+----------+-------------------+----------+-----+----------+---+----+
only showing top 20 rows

24

# left join

In [136]:
df_left = product.join(sale,product.product_id == sale.product_id,'left')
df_left.show(truncate = False)
df_left.count()

+-----+----------+--------------------+----------+-----+----------+----+----+
|sl_no|product_id|product_name        |unit_price|sl_no|product_id|qty |year|
+-----+----------+--------------------+----------+-----+----------+----+----+
|1    |1         |Asus Watch 2        |100       |23   |1         |10  |2021|
|1    |1         |Asus Watch 2        |100       |11   |1         |43  |2020|
|1    |1         |Asus Watch 2        |100       |9    |1         |987 |2019|
|1    |1         |Asus Watch 2        |100       |8    |1         |78  |2018|
|1    |1         |Asus Watch 2        |100       |1    |1         |65  |2020|
|2    |2         |Impex 8975 speaker  |120       |22   |2         |10  |2021|
|2    |2         |Impex 8975 speaker  |120       |2    |2         |19  |2020|
|3    |3         |Asus R558UQ         |100       |7    |3         |40  |2016|
|3    |3         |Asus R558UQ         |100       |3    |3         |44  |2020|
|4    |4         |Iphone 11           |1000      |20   |4         |40  |2021|
|4    |4         |Iphone 11           |1000      |10   |4         |100 |2019|
|4    |4         |Iphone 11           |1000      |4    |4         |5   |2020|
|5    |5         |Samsung Galaxy Buds |100       |21   |5         |55  |2021|
|5    |5         |Samsung Galaxy Buds |100       |12   |5         |100 |2020|
|5    |5         |Samsung Galaxy Buds |100       |6    |5         |168 |2015|
|5    |5         |Samsung Galaxy Buds |100       |5    |5         |98  |2020|
|6    |6         |Iphone 12           |3000      |null |null      |null|null|
|7    |7         |Samsung galaxy phone|3000      |24   |7         |20  |2021|
|8    |8         |Airpods             |100       |17   |8         |11  |2021|
|8    |8         |Airpods             |100       |16   |8         |30  |2021|
+-----+----------+--------------------+----------+-----+----------+----+----+
only showing top 20 rows

25

# right join

In [137]:
df_right = product.join(sale,product.product_id == sale.product_id,'right')

df_right.show(truncate = False)

+-----+----------+-------------------+----------+-----+----------+---+----+
|sl_no|product_id|product_name       |unit_price|sl_no|product_id|qty|year|
+-----+----------+-------------------+----------+-----+----------+---+----+
|1    |1         |Asus Watch 2       |100       |1    |1         |65 |2020|
|2    |2         |Impex 8975 speaker |120       |2    |2         |19 |2020|
|3    |3         |Asus R558UQ        |100       |3    |3         |44 |2020|
|4    |4         |Iphone 11          |1000      |4    |4         |5  |2020|
|5    |5         |Samsung Galaxy Buds|100       |5    |5         |98 |2020|
|5    |5         |Samsung Galaxy Buds|100       |6    |5         |168|2015|
|3    |3         |Asus R558UQ        |100       |7    |3         |40 |2016|
|1    |1         |Asus Watch 2       |100       |8    |1         |78 |2018|
|1    |1         |Asus Watch 2       |100       |9    |1         |987|2019|
|4    |4         |Iphone 11          |1000      |10   |4         |100|2019|
|1    |1         |Asus Watch 2       |100       |11   |1         |43 |2020|
|5    |5         |Samsung Galaxy Buds|100       |12   |5         |100|2020|
|8    |8         |Airpods            |100       |13   |8         |50 |2021|
|9    |9         |Sony headphones    |100       |14   |9         |100|2021|
|10   |10        |Sandisk SSD        |500       |15   |10        |20 |2021|
|8    |8         |Airpods            |100       |16   |8         |30 |2021|
|8    |8         |Airpods            |100       |17   |8         |11 |2021|
|9    |9         |Sony headphones    |100       |18   |9         |20 |2021|
|10   |10        |Sandisk SSD        |500       |19   |10        |30 |2021|
|4    |4         |Iphone 11          |1000      |20   |4         |40 |2021|
+-----+----------+-------------------+----------+-----+----------+---+----+
only showing top 20 rows

# Save Dataframe into hive table

In [139]:
product_sale.write.partitionBy('product_name').saveAsTable('product_Sale')

# Read Dataframe from Hive table

In [140]:
ps = spark.read.table('product_Sale')

ps.show()

+-----+----------+---+----+----------+-------+-------------------+
|sl_no|product_id|qty|year|unit_price|Revenue|       product_name|
+-----+----------+---+----+----------+-------+-------------------+
|    1|         1| 65|2020|       100|   6500|       Asus Watch 2|
|    8|         1| 78|2018|       100|   7800|       Asus Watch 2|
|    9|         1|987|2019|       100|  98700|       Asus Watch 2|
|   11|         1| 43|2020|       100|   4300|       Asus Watch 2|
|   23|         1| 10|2021|       100|   1000|       Asus Watch 2|
|   13|         8| 50|2021|       100|   5000|            Airpods|
|   16|         8| 30|2021|       100|   3000|            Airpods|
|   17|         8| 11|2021|       100|   1100|            Airpods|
|    5|         5| 98|2020|       100|   9800|Samsung Galaxy Buds|
|    6|         5|168|2015|       100|  16800|Samsung Galaxy Buds|
|   12|         5|100|2020|       100|  10000|Samsung Galaxy Buds|
|   21|         5| 55|2021|       100|   5500|Samsung Galaxy Buds|
|   14|         9|100|2021|       100|  10000|    Sony headphones|
|   18|         9| 20|2021|       100|   2000|    Sony headphones|
|   15|        10| 20|2021|       500|  10000|       Sandisk SSD |
|   19|        10| 30|2021|       500|  15000|       Sandisk SSD |
|    4|         4|  5|2020|      1000|   5000|          Iphone 11|
|   10|         4|100|2019|      1000| 100000|          Iphone 11|
|   20|         4| 40|2021|      1000|  40000|          Iphone 11|
|    2|         2| 19|2020|       120|   2280| Impex 8975 speaker|
+-----+----------+---+----+----------+-------+-------------------+
only showing top 20 rows