#Installing Pyspark in Googlecolab

In [4]:
!pip install pyspark py4j

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.4.0)
Requirement already satisfied: py4j in /usr/local/lib/python3.10/dist-packages (0.10.9.7)

In [5]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.master('local').appName('DataFrame').getOrCreate()

# Creating new SparkSession

In [6]:

from pyspark.sql import SparkSession
spark = SparkSession.builder.master('local').appName('DataFrame').getOrCreate()

spark

# Creating dataFrame from hdfs Location
reading data from hdfs remote server



df_hdfs = spark.read.format('csv').load('hdfs://172.16.38.131.8020/bigdata/cse/app_prod/cse.app_prod.csv')

# Reading CSV data into dataframe without header, schema?

In [7]:
df_csv = spark.read.format('csv').load('/content/sample_data/california_housing_test.csv')
df_csv.show(10)

+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+
|        _c0|      _c1|               _c2|        _c3|           _c4|        _c5|       _c6|          _c7|               _c8|
+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+
|  longitude| latitude|housing_median_age|total_rooms|total_bedrooms| population|households|median_income|median_house_value|
|-122.050000|37.370000|         27.000000|3885.000000|    661.000000|1537.000000|606.000000|     6.608500|     344700.000000|
|-118.300000|34.260000|         43.000000|1510.000000|    310.000000| 809.000000|277.000000|     3.599000|     176500.000000|
|-117.810000|33.780000|         27.000000|3589.000000|    507.000000|1484.000000|495.000000|     5.793400|     270500.000000|
|-118.360000|33.820000|         28.000000|  67.000000|     15.000000|  49.000000| 11.000000|     6.135900|     330000.000000|
|-119.670000|36.330000|         19.000000|1241.000000|    244.000000| 850.000000|237.000000|     2.937500|      81700.000000|
|-119.560000|36.510000|         37.000000|1018.000000|    213.000000| 663.000000|204.000000|     1.663500|      67000.000000|
|-121.430000|38.630000|         43.000000|1009.000000|    225.000000| 604.000000|218.000000|     1.664100|      67000.000000|
|-120.650000|35.480000|         19.000000|2310.000000|    471.000000|1341.000000|441.000000|     3.225000|     166900.000000|
|-122.840000|38.400000|         15.000000|3080.000000|    617.000000|1446.000000|599.000000|     3.669600|     194400.000000|
+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+
only showing top 10 rows

# Reading csv data into dataframe with Header and schema ?
# print dataframe type ,show dataframe,count rows and printSchema?

In [9]:
df_csv1 = spark.read.format('csv').option('header',True).option('inferSchema',True).option('nullValue','null').load('/content/sample_data/california_housing_test.csv')

type(df_csv1)

df_csv1.show(10)

df_csv1.count()

df_csv1.printSchema()

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|  -122.05|   37.37|              27.0|     3885.0|         661.0|    1537.0|     606.0|       6.6085|          344700.0|
|   -118.3|   34.26|              43.0|     1510.0|         310.0|     809.0|     277.0|        3.599|          176500.0|
|  -117.81|   33.78|              27.0|     3589.0|         507.0|    1484.0|     495.0|       5.7934|          270500.0|
|  -118.36|   33.82|              28.0|       67.0|          15.0|      49.0|      11.0|       6.1359|          330000.0|
|  -119.67|   36.33|              19.0|     1241.0|         244.0|     850.0|     237.0|       2.9375|           81700.0|
|  -119.56|   36.51|              37.0|     1018.0|         213.0|     663.0|     204.0|       1.6635|           67000.0|
|  -121.43|   38.63|              43.0|     1009.0|         225.0|     604.0|     218.0|       1.6641|           67000.0|
|  -120.65|   35.48|              19.0|     2310.0|         471.0|    1341.0|     441.0|        3.225|          166900.0|
|  -122.84|    38.4|              15.0|     3080.0|         617.0|    1446.0|     599.0|       3.6696|          194400.0|
|  -118.02|   34.08|              31.0|     2402.0|         632.0|    2830.0|     603.0|       2.3333|          164200.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
only showing top 10 rows

root
 |-- longitude: double (nullable = true)
 |-- latitude: double (nullable = true)
 |-- housing_median_age: double (nullable = true)
 |-- total_rooms: double (nullable = true)
 |-- total_bedrooms: double (nullable = true)
 |-- population: double (nullable = true)
 |-- households: double (nullable = true)
 |-- median_income: double (nullable = true)
 |-- median_house_value: double (nullable = true)

# Reading csv data into dataframe with Header and schema-(another way) ?

In [10]:
df_another = spark.read.csv('/content/sample_data/california_housing_test.csv',header = True,inferSchema = True)

df_another.show(10)
df_another.printSchema()

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|  -122.05|   37.37|              27.0|     3885.0|         661.0|    1537.0|     606.0|       6.6085|          344700.0|
|   -118.3|   34.26|              43.0|     1510.0|         310.0|     809.0|     277.0|        3.599|          176500.0|
|  -117.81|   33.78|              27.0|     3589.0|         507.0|    1484.0|     495.0|       5.7934|          270500.0|
|  -118.36|   33.82|              28.0|       67.0|          15.0|      49.0|      11.0|       6.1359|          330000.0|
|  -119.67|   36.33|              19.0|     1241.0|         244.0|     850.0|     237.0|       2.9375|           81700.0|
|  -119.56|   36.51|              37.0|     1018.0|         213.0|     663.0|     204.0|       1.6635|           67000.0|
|  -121.43|   38.63|              43.0|     1009.0|         225.0|     604.0|     218.0|       1.6641|           67000.0|
|  -120.65|   35.48|              19.0|     2310.0|         471.0|    1341.0|     441.0|        3.225|          166900.0|
|  -122.84|    38.4|              15.0|     3080.0|         617.0|    1446.0|     599.0|       3.6696|          194400.0|
|  -118.02|   34.08|              31.0|     2402.0|         632.0|    2830.0|     603.0|       2.3333|          164200.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
only showing top 10 rows

root
 |-- longitude: double (nullable = true)
 |-- latitude: double (nullable = true)
 |-- housing_median_age: double (nullable = true)
 |-- total_rooms: double (nullable = true)
 |-- total_bedrooms: double (nullable = true)
 |-- population: double (nullable = true)
 |-- households: double (nullable = true)
 |-- median_income: double (nullable = true)
 |-- median_house_value: double (nullable = true)

# Reading csv dataframe with pipe seprated values ?
# show data frame,printSchema, count rows ?

In [123]:
df_pipe = spark.read.format('csv').option('sep','|').option('header','true').option('inferSchema',True).option('nullValue','null').load('/content/emp_pipe.txt')
df_pipe.show(10)
df_pipe.printSchema()
df_pipe.count()

+-----+------+---------+----+----------+----+------+------------+
|EMPNO| ENAME|      JOB| MGR|  HIREDATE| SAL|DEPTNO|UPDATED_DATE|
+-----+------+---------+----+----------+----+------+------------+
| 7369| SMITH|    CLERK|7902|17-12-1980| 800|    20|  01-01-2022|
| 7499| ALLEN| SALESMAN|7698|20-02-1981|1600|    30|  02-01-2022|
| 7521|  WARD| SALESMAN|7698|22-02-1981|1250|    30|  03-01-2022|
| 7566| JONES|  MANAGER|null|04-02-1981|2975|    20|  04-01-2022|
| 7654|  null|     null|7698|21-09-1981|null|    30|  05-01-2022|
| 7698|   SGR|  MANAGER|7839|05-01-1981|2850|    30|  06-01-2022|
| 7782|  RAVI|     null|null|06-09-1981|2450|    10|  07-01-2022|
| 7788| SCOTT|  ANALYST|7566|19-04-1987|3000|    20|  08-01-2022|
| 7839|  null|PRESIDENT|null|      null|5000|    10|        null|
| 7844|TURNER| SALESMAN|7698|09-08-1981|1500|    30|  01-02-2022|
+-----+------+---------+----+----------+----+------+------------+
only showing top 10 rows

root
 |-- EMPNO: integer (nullable = true)
 |-- ENAME: string (nullable = true)
 |-- JOB: string (nullable = true)
 |-- MGR: integer (nullable = true)
 |-- HIREDATE: string (nullable = true)
 |-- SAL: integer (nullable = true)
 |-- DEPTNO: integer (nullable = true)
 |-- UPDATED_DATE: string (nullable = true)

30

# how to handle double delimiter files

# Reading csv dataframe with double pipe seprated values ?
# show data frame,printSchema, count rows ?

In [12]:
df_double = spark.read.format('csv').option('sep','||').option('header',True).option('inferSchema',True).option('nullValue','null').load('/content/emp_double_pipe.txt')

df_double.show(10)

df_double.printSchema()

df_double.count()

+-----+------+---------+----+----------+----+------+------------+
|EMPNO| ENAME|      JOB| MGR|  HIREDATE| SAL|DEPTNO|UPDATED_DATE|
+-----+------+---------+----+----------+----+------+------------+
| 7369| SMITH|    CLERK|7902|17-12-1980| 800|    20|  01-01-2022|
| 7499| ALLEN| SALESMAN|7698|20-02-1981|1600|    30|  02-01-2022|
| 7521|  WARD| SALESMAN|7698|22-02-1981|1250|    30|  03-01-2022|
| 7566| JONES|  MANAGER|7839|04-02-1981|2975|    20|  04-01-2022|
| 7654|MARTIN| SALESMAN|7698|21-09-1981|1250|    30|  05-01-2022|
| 7698|   SGR|  MANAGER|7839|05-01-1981|2850|    30|  06-01-2022|
| 7782|  RAVI|  MANAGER|7839|06-09-1981|2450|    10|  07-01-2022|
| 7788| SCOTT|  ANALYST|7566|19-04-1987|3000|    20|  08-01-2022|
| 7839|  KING|PRESIDENT|null|      null|5000|    10|        null|
| 7844|TURNER| SALESMAN|7698|09-08-1981|1500|    30|  01-02-2022|
+-----+------+---------+----+----------+----+------+------------+
only showing top 10 rows

root
 |-- EMPNO: integer (nullable = true)
 |-- ENAME: string (nullable = true)
 |-- JOB: string (nullable = true)
 |-- MGR: integer (nullable = true)
 |-- HIREDATE: string (nullable = true)
 |-- SAL: integer (nullable = true)
 |-- DEPTNO: integer (nullable = true)
 |-- UPDATED_DATE: string (nullable = true)

30

# Inspect Data

In [13]:
# display Content of df

df_csv1.show(10)

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|  -122.05|   37.37|              27.0|     3885.0|         661.0|    1537.0|     606.0|       6.6085|          344700.0|
|   -118.3|   34.26|              43.0|     1510.0|         310.0|     809.0|     277.0|        3.599|          176500.0|
|  -117.81|   33.78|              27.0|     3589.0|         507.0|    1484.0|     495.0|       5.7934|          270500.0|
|  -118.36|   33.82|              28.0|       67.0|          15.0|      49.0|      11.0|       6.1359|          330000.0|
|  -119.67|   36.33|              19.0|     1241.0|         244.0|     850.0|     237.0|       2.9375|           81700.0|
|  -119.56|   36.51|              37.0|     1018.0|         213.0|     663.0|     204.0|       1.6635|           67000.0|
|  -121.43|   38.63|              43.0|     1009.0|         225.0|     604.0|     218.0|       1.6641|           67000.0|
|  -120.65|   35.48|              19.0|     2310.0|         471.0|    1341.0|     441.0|        3.225|          166900.0|
|  -122.84|    38.4|              15.0|     3080.0|         617.0|    1446.0|     599.0|       3.6696|          194400.0|
|  -118.02|   34.08|              31.0|     2402.0|         632.0|    2830.0|     603.0|       2.3333|          164200.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
only showing top 10 rows

In [14]:
# display Schema
df_csv1.printSchema()

root
 |-- longitude: double (nullable = true)
 |-- latitude: double (nullable = true)
 |-- housing_median_age: double (nullable = true)
 |-- total_rooms: double (nullable = true)
 |-- total_bedrooms: double (nullable = true)
 |-- population: double (nullable = true)
 |-- households: double (nullable = true)
 |-- median_income: double (nullable = true)
 |-- median_house_value: double (nullable = true)

In [15]:
#first row
df_csv1.first()

Row(longitude=-122.05, latitude=37.37, housing_median_age=27.0, total_rooms=3885.0, total_bedrooms=661.0, population=1537.0, households=606.0, median_income=6.6085, median_house_value=344700.0)

In [16]:
#head values

df_csv1.head()

Row(longitude=-122.05, latitude=37.37, housing_median_age=27.0, total_rooms=3885.0, total_bedrooms=661.0, population=1537.0, households=606.0, median_income=6.6085, median_house_value=344700.0)

In [17]:
#tail values

df_csv1.tail(1)

[Row(longitude=-119.63, latitude=34.42, housing_median_age=42.0, total_rooms=1765.0, total_bedrooms=263.0, population=753.0, households=260.0, median_income=8.5608, median_house_value=500001.0)]

In [18]:
#takes some random from dataframe

df_csv1.take(2)

[Row(longitude=-122.05, latitude=37.37, housing_median_age=27.0, total_rooms=3885.0, total_bedrooms=661.0, population=1537.0, households=606.0, median_income=6.6085, median_house_value=344700.0),
 Row(longitude=-118.3, latitude=34.26, housing_median_age=43.0, total_rooms=1510.0, total_bedrooms=310.0, population=809.0, households=277.0, median_income=3.599, median_house_value=176500.0)]

In [19]:
# return column names and data types

df_csv1.dtypes

[('longitude', 'double'),
 ('latitude', 'double'),
 ('housing_median_age', 'double'),
 ('total_rooms', 'double'),
 ('total_bedrooms', 'double'),
 ('population', 'double'),
 ('households', 'double'),
 ('median_income', 'double'),
 ('median_house_value', 'double')]

In [20]:
# compute summery satistics for dataframe

df_csv1.describe().show()

+-------+-------------------+------------------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+
|summary|          longitude|          latitude|housing_median_age|      total_rooms|    total_bedrooms|        population|        households|     median_income|median_house_value|
+-------+-------------------+------------------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+
|  count|               3000|              3000|              3000|             3000|              3000|              3000|              3000|              3000|              3000|
|   mean|-119.58920000000029| 35.63538999999999|28.845333333333333|2599.578666666667| 529.9506666666666|1402.7986666666666|           489.912| 3.807271799999998|        205846.275|
| stddev| 1.9949362939550166|2.1296695233438334|12.555395554955757|2155.593331625582|415.65436813632306|1030.5430124122424|365.42270980552615|1.8545117296914775|113119.68746964622|
|    min|            -124.18|             32.56|               1.0|              6.0|               2.0|               5.0|               2.0|            0.4999|           22500.0|
|    max|            -114.49|             41.92|              52.0|          30450.0|            5419.0|           11935.0|            4930.0|           15.0001|          500001.0|
+-------+-------------------+------------------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+

In [21]:
#count no.of rows

df_csv1.count()

3000

In [22]:
#count distinct no.of rows

df_csv1.distinct().count()

3000

In [23]:
#explain physical plan and logical plan

df_csv1.explain()

== Physical Plan ==
FileScan csv [longitude#181,latitude#182,housing_median_age#183,total_rooms#184,total_bedrooms#185,population#186,households#187,median_income#188,median_house_value#189] Batched: false, DataFilters: [], Format: CSV, Location: InMemoryFileIndex(1 paths)[file:/content/sample_data/california_housing_test.csv], PartitionFilters: [], PushedFilters: [], ReadSchema: struct<longitude:double,latitude:double,housing_median_age:double,total_rooms:double,total_bedroo...

In [26]:
#All table columns Names

df_csv1.columns

['longitude',
 'latitude',
 'housing_median_age',
 'total_rooms',
 'total_bedrooms',
 'population',
 'households',
 'median_income',
 'median_house_value']

In [48]:
df_csv1.columns

['longitude',
 'latitude',
 'housing_median_age',
 'total_rooms',
 'total_bedrooms',
 'population',
 'households',
 'median_income',
 'median_house_value']

# import functions

In [ ]:
from pyspark.sql.functions import *

# select

In [85]:
df_csv1.select(col('population')/2,'total_rooms',col('median_house_value')*10).show(10)

+----------------+-----------+-------------------------+
|(population / 2)|total_rooms|(median_house_value * 10)|
+----------------+-----------+-------------------------+
|           768.5|     3885.0|                3447000.0|
|           404.5|     1510.0|                1765000.0|
|           742.0|     3589.0|                2705000.0|
|            24.5|       67.0|                3300000.0|
|           425.0|     1241.0|                 817000.0|
|           331.5|     1018.0|                 670000.0|
|           302.0|     1009.0|                 670000.0|
|           670.5|     2310.0|                1669000.0|
|           723.0|     3080.0|                1944000.0|
|          1415.0|     2402.0|                1642000.0|
+----------------+-----------+-------------------------+
only showing top 10 rows

In [86]:
df_csv1.select([col('population')/2,'total_rooms',col('median_house_value')*10]).show(10)

+----------------+-----------+-------------------------+
|(population / 2)|total_rooms|(median_house_value * 10)|
+----------------+-----------+-------------------------+
|           768.5|     3885.0|                3447000.0|
|           404.5|     1510.0|                1765000.0|
|           742.0|     3589.0|                2705000.0|
|            24.5|       67.0|                3300000.0|
|           425.0|     1241.0|                 817000.0|
|           331.5|     1018.0|                 670000.0|
|           302.0|     1009.0|                 670000.0|
|           670.5|     2310.0|                1669000.0|
|           723.0|     3080.0|                1944000.0|
|          1415.0|     2402.0|                1642000.0|
+----------------+-----------+-------------------------+
only showing top 10 rows

# Adding new columns

In [88]:
df_csv1.withColumn('new_population',col('population')/2).withColumn('house_value',col('median_house_value')*10).show(10)

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+--------------+-----------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|new_population|house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+--------------+-----------+
|  -122.05|   37.37|              27.0|     3885.0|         661.0|    1537.0|     606.0|       6.6085|          344700.0|         768.5|  3447000.0|
|   -118.3|   34.26|              43.0|     1510.0|         310.0|     809.0|     277.0|        3.599|          176500.0|         404.5|  1765000.0|
|  -117.81|   33.78|              27.0|     3589.0|         507.0|    1484.0|     495.0|       5.7934|          270500.0|         742.0|  2705000.0|
|  -118.36|   33.82|              28.0|       67.0|          15.0|      49.0|      11.0|       6.1359|          330000.0|          24.5|  3300000.0|
|  -119.67|   36.33|              19.0|     1241.0|         244.0|     850.0|     237.0|       2.9375|           81700.0|         425.0|   817000.0|
|  -119.56|   36.51|              37.0|     1018.0|         213.0|     663.0|     204.0|       1.6635|           67000.0|         331.5|   670000.0|
|  -121.43|   38.63|              43.0|     1009.0|         225.0|     604.0|     218.0|       1.6641|           67000.0|         302.0|   670000.0|
|  -120.65|   35.48|              19.0|     2310.0|         471.0|    1341.0|     441.0|        3.225|          166900.0|         670.5|  1669000.0|
|  -122.84|    38.4|              15.0|     3080.0|         617.0|    1446.0|     599.0|       3.6696|          194400.0|         723.0|  1944000.0|
|  -118.02|   34.08|              31.0|     2402.0|         632.0|    2830.0|     603.0|       2.3333|          164200.0|        1415.0|  1642000.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+--------------+-----------+
only showing top 10 rows

# dropping columns

In [89]:
df_csv1.drop('population','median_house_value').show(10)

+---------+--------+------------------+-----------+--------------+----------+-------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|households|median_income|
+---------+--------+------------------+-----------+--------------+----------+-------------+
|  -122.05|   37.37|              27.0|     3885.0|         661.0|     606.0|       6.6085|
|   -118.3|   34.26|              43.0|     1510.0|         310.0|     277.0|        3.599|
|  -117.81|   33.78|              27.0|     3589.0|         507.0|     495.0|       5.7934|
|  -118.36|   33.82|              28.0|       67.0|          15.0|      11.0|       6.1359|
|  -119.67|   36.33|              19.0|     1241.0|         244.0|     237.0|       2.9375|
|  -119.56|   36.51|              37.0|     1018.0|         213.0|     204.0|       1.6635|
|  -121.43|   38.63|              43.0|     1009.0|         225.0|     218.0|       1.6641|
|  -120.65|   35.48|              19.0|     2310.0|         471.0|     441.0|        3.225|
|  -122.84|    38.4|              15.0|     3080.0|         617.0|     599.0|       3.6696|
|  -118.02|   34.08|              31.0|     2402.0|         632.0|     603.0|       2.3333|
+---------+--------+------------------+-----------+--------------+----------+-------------+
only showing top 10 rows

# Renamed Column Names

In [94]:
df_csv1.withColumnRenamed('total_bedrooms','bedrooms').withColumnRenamed('total_rooms','rooms').show(10)

+---------+--------+------------------+------+--------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age| rooms|bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+------+--------+----------+----------+-------------+------------------+
|  -122.05|   37.37|              27.0|3885.0|   661.0|    1537.0|     606.0|       6.6085|          344700.0|
|   -118.3|   34.26|              43.0|1510.0|   310.0|     809.0|     277.0|        3.599|          176500.0|
|  -117.81|   33.78|              27.0|3589.0|   507.0|    1484.0|     495.0|       5.7934|          270500.0|
|  -118.36|   33.82|              28.0|  67.0|    15.0|      49.0|      11.0|       6.1359|          330000.0|
|  -119.67|   36.33|              19.0|1241.0|   244.0|     850.0|     237.0|       2.9375|           81700.0|
|  -119.56|   36.51|              37.0|1018.0|   213.0|     663.0|     204.0|       1.6635|           67000.0|
|  -121.43|   38.63|              43.0|1009.0|   225.0|     604.0|     218.0|       1.6641|           67000.0|
|  -120.65|   35.48|              19.0|2310.0|   471.0|    1341.0|     441.0|        3.225|          166900.0|
|  -122.84|    38.4|              15.0|3080.0|   617.0|    1446.0|     599.0|       3.6696|          194400.0|
|  -118.02|   34.08|              31.0|2402.0|   632.0|    2830.0|     603.0|       2.3333|          164200.0|
+---------+--------+------------------+------+--------+----------+----------+-------------+------------------+
only showing top 10 rows

# drop null values from dataFrame

In [112]:
# how = any ,it drops any null value in dataframe
df_pipe1 = df_pipe.dropna(how = 'any')
df_pipe1.count()

24

In [105]:
# how =all,drops only all nulls in single row
df_pipe2 = df_pipe.dropna(how = 'all')
df_pipe2.count()

30

In [106]:
#threshold
df_pipe3 = df_pipe.dropna(how = 'any',thresh= 2)

df_pipe3.count()

30

In [109]:
#subset - used to delete particular column null values

df_pipe4 = df_pipe.dropna(how = 'any',subset=["UPDATED_DATE"])
df_pipe4.count()

27

# fill null values in dataFrame

In [127]:
df_pipe11 = df_pipe.fillna('missing',['ENAME','JOB']).fillna(1,['MGR','SAL']).fillna('12-08-1995',['HIREDATE','UPDATED_DATE'])
df_pipe11.show(10)

+-----+-------+---------+----+----------+----+------+------------+
|EMPNO|  ENAME|      JOB| MGR|  HIREDATE| SAL|DEPTNO|UPDATED_DATE|
+-----+-------+---------+----+----------+----+------+------------+
| 7369|  SMITH|    CLERK|7902|17-12-1980| 800|    20|  01-01-2022|
| 7499|  ALLEN| SALESMAN|7698|20-02-1981|1600|    30|  02-01-2022|
| 7521|   WARD| SALESMAN|7698|22-02-1981|1250|    30|  03-01-2022|
| 7566|  JONES|  MANAGER|   1|04-02-1981|2975|    20|  04-01-2022|
| 7654|missing|  missing|7698|21-09-1981|   1|    30|  05-01-2022|
| 7698|    SGR|  MANAGER|7839|05-01-1981|2850|    30|  06-01-2022|
| 7782|   RAVI|  missing|   1|06-09-1981|2450|    10|  07-01-2022|
| 7788|  SCOTT|  ANALYST|7566|19-04-1987|3000|    20|  08-01-2022|
| 7839|missing|PRESIDENT|   1|12-08-1995|5000|    10|  12-08-1995|
| 7844| TURNER| SALESMAN|7698|09-08-1981|1500|    30|  01-02-2022|
+-----+-------+---------+----+----------+----+------+------------+
only showing top 10 rows

# Filter operations

In [ ]:
#salary of peeple greter than 1600 -one way

df_pipe.filter('SAL>1600').show()

In [136]:
#salary of peeple greter than 3000 -other way

df_pipe.filter(col('SAL')>3000).show()

+-----+-----+---------+----+----------+----+------+------------+
|EMPNO|ENAME|      JOB| MGR|  HIREDATE| SAL|DEPTNO|UPDATED_DATE|
+-----+-----+---------+----+----------+----+------+------------+
| 7839| null|PRESIDENT|null|      null|5000|    10|        null|
| 7839| KING|PRESIDENT|null|01-11-1981|5000|    10|  06-02-2021|
+-----+-----+---------+----+----------+----+------+------------+

In [152]:
#not operator

df_pipe.filter(~(col('SAL')>2000)).show(10)

+-----+------+--------+----+----------+----+------+------------+
|EMPNO| ENAME|     JOB| MGR|  HIREDATE| SAL|DEPTNO|UPDATED_DATE|
+-----+------+--------+----+----------+----+------+------------+
| 7369| SMITH|   CLERK|7902|17-12-1980| 800|    20|  01-01-2022|
| 7499| ALLEN|SALESMAN|7698|20-02-1981|1600|    30|  02-01-2022|
| 7521|  WARD|SALESMAN|7698|22-02-1981|1250|    30|  03-01-2022|
| 7844|TURNER|SALESMAN|7698|09-08-1981|1500|    30|  01-02-2022|
| 7876| ADAMS|   CLERK|7788|23-05-1987|1100|    20|  02-02-2022|
| 7900| JAMES|   CLERK|7698|12-03-1981| 950|    30|  03-02-2022|
| 7934|MILLER|   CLERK|7782|01-03-1982|1300|    10|  05-02-2022|
| 1234|SEKHAR|  doctor|7777|      null| 667|    80|  06-02-2022|
| 7369| SMITH|   CLERK|7902|17-12-1980| 800|    20|  07-02-2022|
| 7499| ALLEN|SALESMAN|7698|20-02-1981|1600|    30|  08-02-2022|
+-----+------+--------+----+----------+----+------+------------+
only showing top 10 rows

In [158]:
# & operator
#show employee details who's salary less than 3000 and salary should be greater than 2000

df_pipe.filter( (col('SAL')>2000) & (col('SAL')<3000)).show(10)

df_pipe.filter( (col('JOB') == 'CLERK') & (col('SAL')>1000)).show(10)

+-----+-----+-------+----+----------+----+------+------------+
|EMPNO|ENAME|    JOB| MGR|  HIREDATE| SAL|DEPTNO|UPDATED_DATE|
+-----+-----+-------+----+----------+----+------+------------+
| 7566|JONES|MANAGER|null|04-02-1981|2975|    20|  04-01-2022|
| 7698|  SGR|MANAGER|7839|05-01-1981|2850|    30|  06-01-2022|
| 7782| RAVI|   null|null|06-09-1981|2450|    10|  07-01-2022|
| 7566|JONES|MANAGER|7839|04-02-1981|2975|    20|  01-02-2021|
| 7698|  SGR|MANAGER|7839|05-01-1981|2850|    30|  03-02-2021|
| 7782| RAVI|MANAGER|7839|06-09-1981|2450|    10|  04-02-2021|
+-----+-----+-------+----+----------+----+------+------------+

+-----+------+-----+----+----------+----+------+------------+
|EMPNO| ENAME|  JOB| MGR|  HIREDATE| SAL|DEPTNO|UPDATED_DATE|
+-----+------+-----+----+----------+----+------+------------+
| 7876| ADAMS|CLERK|7788|23-05-1987|1100|    20|  02-02-2022|
| 7934|MILLER|CLERK|7782|01-03-1982|1300|    10|  05-02-2022|
| 7876| ADAMS|CLERK|7788|23-05-1987|1100|    20|  08-02-2021|
| 7934|MILLER|CLERK|7782|01-03-1982|1300|    10|  02-01-2021|
+-----+------+-----+----+----------+----+------+------------+

In [150]:
# | operator
#show employee details who's salary less than 3000 or salary should be greater than 2000

df_pipe.filter( (col('SAL')>2000) | (col('SAL')<3000)).show(10)

+-----+------+---------+----+----------+----+------+------------+
|EMPNO| ENAME|      JOB| MGR|  HIREDATE| SAL|DEPTNO|UPDATED_DATE|
+-----+------+---------+----+----------+----+------+------------+
| 7369| SMITH|    CLERK|7902|17-12-1980| 800|    20|  01-01-2022|
| 7499| ALLEN| SALESMAN|7698|20-02-1981|1600|    30|  02-01-2022|
| 7521|  WARD| SALESMAN|7698|22-02-1981|1250|    30|  03-01-2022|
| 7566| JONES|  MANAGER|null|04-02-1981|2975|    20|  04-01-2022|
| 7698|   SGR|  MANAGER|7839|05-01-1981|2850|    30|  06-01-2022|
| 7782|  RAVI|     null|null|06-09-1981|2450|    10|  07-01-2022|
| 7788| SCOTT|  ANALYST|7566|19-04-1987|3000|    20|  08-01-2022|
| 7839|  null|PRESIDENT|null|      null|5000|    10|        null|
| 7844|TURNER| SALESMAN|7698|09-08-1981|1500|    30|  01-02-2022|
| 7876| ADAMS|    CLERK|7788|23-05-1987|1100|    20|  02-02-2022|
+-----+------+---------+----+----------+----+------+------------+
only showing top 10 rows

# GroupBy operations

In [168]:
#find job role and people count
df_pipe.groupby('JOB').count().show()

+---------+-----+
|      JOB|count|
+---------+-----+
|  ANALYST|    4|
| SALESMAN|    7|
|    CLERK|    9|
|     null|    2|
|  MANAGER|    5|
|PRESIDENT|    2|
|   doctor|    1|
+---------+-----+

In [171]:
#Group by job role and sum of salaries
df_pipe.groupBy('JOB').sum('SAL').show()

+---------+--------+
|      JOB|sum(SAL)|
+---------+--------+
|  ANALYST|   12000|
| SALESMAN|    9950|
|    CLERK|    8794|
|     null|    2450|
|  MANAGER|   14100|
|PRESIDENT|   10000|
|   doctor|     667|
+---------+--------+

In [173]:
#find deptno and people count
df_pipe.groupBy('DEPTNO').count().show()

+------+-----+
|DEPTNO|count|
+------+-----+
|    20|   10|
|    10|    6|
|    80|    2|
|    30|   12|
+------+-----+

In [172]:
#find job deptno and sum salary
df_pipe.groupBy('DEPTNO').sum('SAL').show()

+------+--------+
|DEPTNO|sum(SAL)|
+------+--------+
|    20|   21750|
|    10|   17500|
|    80|    1161|
|    30|   17550|
+------+--------+

#sort operations

In [177]:
# sort salary data in low to high
df_pipe.sort(df_pipe.SAL.asc()).show(10)

+-----+------+--------+----+----------+----+------+------------+
|EMPNO| ENAME|     JOB| MGR|  HIREDATE| SAL|DEPTNO|UPDATED_DATE|
+-----+------+--------+----+----------+----+------+------------+
| 7654|  null|    null|7698|21-09-1981|null|    30|  05-01-2022|
| 1234|   RAM|   CLERK|7457|      null| 494|    80|  03-01-2021|
| 1234|SEKHAR|  doctor|7777|      null| 667|    80|  06-02-2022|
| 7369| SMITH|   CLERK|7902|17-12-1980| 800|    20|  01-01-2022|
| 7369| SMITH|   CLERK|7902|17-12-1980| 800|    20|  07-02-2022|
| 7900| JAMES|   CLERK|7698|12-03-1981| 950|    30|  03-02-2022|
| 7900| JAMES|   CLERK|7698|      null| 950|    30|        null|
| 7876| ADAMS|   CLERK|7788|23-05-1987|1100|    20|  02-02-2022|
| 7876| ADAMS|   CLERK|7788|23-05-1987|1100|    20|  08-02-2021|
| 7521|  WARD|SALESMAN|7698|22-02-1981|1250|    30|  03-01-2022|
+-----+------+--------+----+----------+----+------+------------+
only showing top 10 rows

In [178]:
# sort salary data in high to low
df_pipe.sort(df_pipe.SAL.desc()).show(10)

+-----+-----+---------+----+----------+----+------+------------+
|EMPNO|ENAME|      JOB| MGR|  HIREDATE| SAL|DEPTNO|UPDATED_DATE|
+-----+-----+---------+----+----------+----+------+------------+
| 7839| null|PRESIDENT|null|      null|5000|    10|        null|
| 7839| KING|PRESIDENT|null|01-11-1981|5000|    10|  06-02-2021|
| 7788|SCOTT|  ANALYST|7566|19-04-1987|3000|    20|  08-01-2022|
| 7902| FORD|  ANALYST|7566|12-03-1981|3000|    20|  04-02-2022|
| 7788|SCOTT|  ANALYST|7566|19-04-1987|3000|    20|  05-02-2021|
| 7902| FORD|  ANALYST|7566|12-03-1981|3000|    20|  01-01-2021|
| 7566|JONES|  MANAGER|null|04-02-1981|2975|    20|  04-01-2022|
| 7566|JONES|  MANAGER|7839|04-02-1981|2975|    20|  01-02-2021|
| 7698|  SGR|  MANAGER|7839|05-01-1981|2850|    30|  06-01-2022|
| 7698|  SGR|  MANAGER|7839|05-01-1981|2850|    30|  03-02-2021|
+-----+-----+---------+----+----------+----+------+------------+
only showing top 10 rows

# OrderBy operations

In [182]:
df_pipe.orderBy(df_pipe.SAL.asc()).show(10)

+-----+------+--------+----+----------+----+------+------------+
|EMPNO| ENAME|     JOB| MGR|  HIREDATE| SAL|DEPTNO|UPDATED_DATE|
+-----+------+--------+----+----------+----+------+------------+
| 7654|  null|    null|7698|21-09-1981|null|    30|  05-01-2022|
| 1234|   RAM|   CLERK|7457|      null| 494|    80|  03-01-2021|
| 1234|SEKHAR|  doctor|7777|      null| 667|    80|  06-02-2022|
| 7369| SMITH|   CLERK|7902|17-12-1980| 800|    20|  01-01-2022|
| 7369| SMITH|   CLERK|7902|17-12-1980| 800|    20|  07-02-2022|
| 7900| JAMES|   CLERK|7698|12-03-1981| 950|    30|  03-02-2022|
| 7900| JAMES|   CLERK|7698|      null| 950|    30|        null|
| 7876| ADAMS|   CLERK|7788|23-05-1987|1100|    20|  02-02-2022|
| 7876| ADAMS|   CLERK|7788|23-05-1987|1100|    20|  08-02-2021|
| 7521|  WARD|SALESMAN|7698|22-02-1981|1250|    30|  03-01-2022|
+-----+------+--------+----+----------+----+------+------------+
only showing top 10 rows

# joins

In [199]:
product = spark.read.format('csv').option('header',True).option('inferSchema',True).option('nullValue','null').load('/content/product_info_1.csv')
product.show()
product.printSchema()

+----------+-------------------+----------+
|product_id|       product_name|unit_price|
+----------+-------------------+----------+
|         1|       Asus Watch 2|       100|
|         2| Impex 8975 speaker|       120|
|         3|        Asus R558UQ|       500|
|         4|          Iphone 11|      1500|
|         5|Samsung Galaxy Buds|       100|
+----------+-------------------+----------+

root
 |-- product_id: integer (nullable = true)
 |-- product_name: string (nullable = true)
 |-- unit_price: integer (nullable = true)

In [200]:
sale = spark.read.format('csv').option('header',True).option('inferSchema',True).option('nullValue','null').load('/content/sales_data_1.csv')
sale.show()
sale.printSchema()

+----------+---+----+
|product_id|qty|year|
+----------+---+----+
|         1| 65|2020|
|         2| 19|2020|
|         3| 44|2020|
|         4|  5|2020|
|         5| 98|2020|
|         5|168|2015|
|         3| 40|2016|
|         1| 78|2018|
|         1|987|2019|
|         4|100|2019|
|         1| 43|2020|
|         5|100|2020|
+----------+---+----+

root
 |-- product_id: integer (nullable = true)
 |-- qty: integer (nullable = true)
 |-- year: integer (nullable = true)

# inner Join

In [203]:
df_inner = product.join(sale,product.product_id == sale.product_id,'inner')

df_inner.show(truncate = False)
df_inner.count()

+----------+-------------------+----------+----------+---+----+
|product_id|product_name       |unit_price|product_id|qty|year|
+----------+-------------------+----------+----------+---+----+
|1         |Asus Watch 2       |100       |1         |65 |2020|
|2         |Impex 8975 speaker |120       |2         |19 |2020|
|3         |Asus R558UQ        |500       |3         |44 |2020|
|4         |Iphone 11          |1500      |4         |5  |2020|
|5         |Samsung Galaxy Buds|100       |5         |98 |2020|
|5         |Samsung Galaxy Buds|100       |5         |168|2015|
|3         |Asus R558UQ        |500       |3         |40 |2016|
|1         |Asus Watch 2       |100       |1         |78 |2018|
|1         |Asus Watch 2       |100       |1         |987|2019|
|4         |Iphone 11          |1500      |4         |100|2019|
|1         |Asus Watch 2       |100       |1         |43 |2020|
|5         |Samsung Galaxy Buds|100       |5         |100|2020|
+----------+-------------------+----------+----------+---+----+

12

# left join

In [202]:
df_left = product.join(sale,product.product_id == sale.product_id,'left')
df_left.show(truncate = False)
df_left.count()

+----------+-------------------+----------+----------+---+----+
|product_id|product_name       |unit_price|product_id|qty|year|
+----------+-------------------+----------+----------+---+----+
|1         |Asus Watch 2       |100       |1         |43 |2020|
|1         |Asus Watch 2       |100       |1         |987|2019|
|1         |Asus Watch 2       |100       |1         |78 |2018|
|1         |Asus Watch 2       |100       |1         |65 |2020|
|2         |Impex 8975 speaker |120       |2         |19 |2020|
|3         |Asus R558UQ        |500       |3         |40 |2016|
|3         |Asus R558UQ        |500       |3         |44 |2020|
|4         |Iphone 11          |1500      |4         |100|2019|
|4         |Iphone 11          |1500      |4         |5  |2020|
|5         |Samsung Galaxy Buds|100       |5         |100|2020|
|5         |Samsung Galaxy Buds|100       |5         |168|2015|
|5         |Samsung Galaxy Buds|100       |5         |98 |2020|
+----------+-------------------+----------+----------+---+----+

12

# right join

In [206]:
df_right = product.join(sale,product.product_id == sale.product_id,'right')

df_right.show(truncate = False)

+----------+-------------------+----------+----------+---+----+
|product_id|product_name       |unit_price|product_id|qty|year|
+----------+-------------------+----------+----------+---+----+
|1         |Asus Watch 2       |100       |1         |65 |2020|
|2         |Impex 8975 speaker |120       |2         |19 |2020|
|3         |Asus R558UQ        |500       |3         |44 |2020|
|4         |Iphone 11          |1500      |4         |5  |2020|
|5         |Samsung Galaxy Buds|100       |5         |98 |2020|
|5         |Samsung Galaxy Buds|100       |5         |168|2015|
|3         |Asus R558UQ        |500       |3         |40 |2016|
|1         |Asus Watch 2       |100       |1         |78 |2018|
|1         |Asus Watch 2       |100       |1         |987|2019|
|4         |Iphone 11          |1500      |4         |100|2019|
|1         |Asus Watch 2       |100       |1         |43 |2020|
|5         |Samsung Galaxy Buds|100       |5         |100|2020|
+----------+-------------------+----------+----------+---+----+