#1.Installing Pyspark and Creating new SparkSession


!pip install pyspark py4j

from pyspark.sql import SparkSession

spark = SparkSession.bulider.master('yarn/local').appName('dataframe').getOrCreate()

#2.Creating dataFrame from hdfs Location

df_hdfs = spark.read.format('csv').option().load('hdfs://172.16.38.131.8020/bigdata/cse/app_prod/cse.app_prod.csv')

#3.Read CSV data into dataframe without header, schema

In [0]:
spark.read.format('csv').load('dbfs:/FileStore/shared_uploads/nookala382@gmail.com/employee.csv').show(10)

+-----+------+---------+------+----------+----+------+------------+
|  _c0|   _c1|      _c2|   _c3|       _c4| _c5|   _c6|         _c7|
+-----+------+---------+------+----------+----+------+------------+
|EMPNO| ENAME|      JOB|Manger|  HIREDATE| SAL|DEPTNO|UPDATED_DATE|
| 7369| SMITH|    CLERK|  7902|17-12-1980| 800|    20|  01-01-2022|
| 7499| ALLEN| SALESMAN|  7698|20-02-1980|1600|    30|  02-01-2022|
| 7521|  WARD| SALESMAN|  7698|22-02-1980|1250|    30|  03-01-2022|
| 7566| JONES|  MANAGER|  7839|04-02-1981|2975|    20|  04-01-2022|
| 7654|MARTIN| SALESMAN|  7698|21-09-1981|1250|    30|  05-01-2022|
| 7698|   SGR|  MANAGER|  7839|05-01-1981|2850|    30|  06-01-2022|
| 7782|  RAVI|  MANAGER|  7839|06-09-1982|2450|    10|  07-01-2022|
| 7788| SCOTT|  ANALYST|  7566|19-04-1982|3000|    20|  08-01-2022|
| 7839|  KING|PRESIDENT|  null|      null|5000|    10|        null|
+-----+------+---------+------+----------+----+------+------------+
only showing top 10 rows

#4.Read csv data into dataframe with Header and schema.Fetch type,row count,10 rows and printSchema

In [0]:
df_csv = spark.read.format('csv').option('header',True).option('inferSchema',True).option('nullValue','null').load('dbfs:/FileStore/shared_uploads/nookala382@gmail.com/employee.csv')

#ten rows
df_csv.show(10)

#printSchema?
df_csv.printSchema()

#count
df_csv.count()

#show type
type(df_csv)

+-----+------+---------+------+----------+----+------+------------+
|EMPNO| ENAME|      JOB|Manger|  HIREDATE| SAL|DEPTNO|UPDATED_DATE|
+-----+------+---------+------+----------+----+------+------------+
| 7369| SMITH|    CLERK|  7902|1980-12-17| 800|    20|  01-01-2022|
| 7499| ALLEN| SALESMAN|  7698|1980-02-20|1600|    30|  02-01-2022|
| 7521|  WARD| SALESMAN|  7698|1980-02-22|1250|    30|  03-01-2022|
| 7566| JONES|  MANAGER|  7839|1981-02-04|2975|    20|  04-01-2022|
| 7654|MARTIN| SALESMAN|  7698|1981-09-21|1250|    30|  05-01-2022|
| 7698|   SGR|  MANAGER|  7839|1981-01-05|2850|    30|  06-01-2022|
| 7782|  RAVI|  MANAGER|  7839|1982-09-06|2450|    10|  07-01-2022|
| 7788| SCOTT|  ANALYST|  7566|1982-04-19|3000|    20|  08-01-2022|
| 7839|  KING|PRESIDENT|  null|      null|5000|    10|        null|
| 7844|TURNER| SALESMAN|  7698|1982-08-09|1500|    30|  01-02-2022|
+-----+------+---------+------+----------+----+------+------------+
only showing top 10 rows

root
 |-- EMPNO: integer (nullable = true)
 |-- ENAME: string (nullable = true)
 |-- JOB: string (nullable = true)
 |-- Manger: integer (nullable = true)
 |-- HIREDATE: date (nullable = true)
 |-- SAL: integer (nullable = true)
 |-- DEPTNO: integer (nullable = true)
 |-- UPDATED_DATE: string (nullable = true)

Out[277]: pyspark.sql.dataframe.DataFrame

#5.Read csv dataframe with pipe seprated values.Fetch row count,10 rows and printSchema

In [0]:
df_pipe = spark.read.format('csv').option('header',True).option('inferSchema',True).option('nullValue','null').option('sep','|').load('dbfs:/FileStore/shared_uploads/nookala382@gmail.com/emp_pipe.txt')

df_pipe.show(10)
df_pipe.printSchema()
df_pipe.count()

+-----+------+---------+----+----------+----+------+------------+
|EMPNO| ENAME|      JOB| MGR|  HIREDATE| SAL|DEPTNO|UPDATED_DATE|
+-----+------+---------+----+----------+----+------+------------+
| 7369| SMITH|    CLERK|7902|1980-12-17| 800|    20|  01-01-2022|
| 7499| ALLEN| SALESMAN|7698|1981-02-20|1600|    30|  02-01-2022|
| 7521|  WARD| SALESMAN|7698|1981-02-22|1250|    30|  03-01-2022|
| 7566| JONES|  MANAGER|null|1981-02-04|2975|    20|  04-01-2022|
| 7654|  null|     null|7698|1981-09-21|null|    30|  05-01-2022|
| 7698|   SGR|  MANAGER|7839|1981-01-05|2850|    30|  06-01-2022|
| 7782|  RAVI|     null|null|1981-09-06|2450|    10|  07-01-2022|
| 7788| SCOTT|  ANALYST|7566|1987-04-19|3000|    20|  08-01-2022|
| 7839|  null|PRESIDENT|null|      null|5000|    10|        null|
| 7844|TURNER| SALESMAN|7698|1981-08-09|1500|    30|  01-02-2022|
+-----+------+---------+----+----------+----+------+------------+
only showing top 10 rows

root
 |-- EMPNO: integer (nullable = true)
 |-- ENAME: string (nullable = true)
 |-- JOB: string (nullable = true)
 |-- MGR: integer (nullable = true)
 |-- HIREDATE: date (nullable = true)
 |-- SAL: integer (nullable = true)
 |-- DEPTNO: integer (nullable = true)
 |-- UPDATED_DATE: string (nullable = true)

Out[278]: 30

#6.Read csv dataframe with double pipe seprated values ,Fetch row count,10 rows and printSchema

In [0]:
df_double = spark.read.format('csv').option('header',True).option('inferSchema',True).option('nullValue','nul').option('sep','||').load('dbfs:/FileStore/shared_uploads/nookala382@gmail.com/emp_double_pipe.txt')

df_double.show(10)
df_double.count()
df_double.printSchema()

+-----+------+---------+----+----------+----+------+------------+
|EMPNO| ENAME|      JOB| MGR|  HIREDATE| SAL|DEPTNO|UPDATED_DATE|
+-----+------+---------+----+----------+----+------+------------+
| 7369| SMITH|    CLERK|7902|17-12-1980| 800|    20|  01-01-2022|
| 7499| ALLEN| SALESMAN|7698|20-02-1981|1600|    30|  02-01-2022|
| 7521|  WARD| SALESMAN|7698|22-02-1981|1250|    30|  03-01-2022|
| 7566| JONES|  MANAGER|7839|04-02-1981|2975|    20|  04-01-2022|
| 7654|MARTIN| SALESMAN|7698|21-09-1981|1250|    30|  05-01-2022|
| 7698|   SGR|  MANAGER|7839|05-01-1981|2850|    30|  06-01-2022|
| 7782|  RAVI|  MANAGER|7839|06-09-1981|2450|    10|  07-01-2022|
| 7788| SCOTT|  ANALYST|7566|19-04-1987|3000|    20|  08-01-2022|
| 7839|  KING|PRESIDENT|null|      null|5000|    10|        null|
| 7844|TURNER| SALESMAN|7698|09-08-1981|1500|    30|  01-02-2022|
+-----+------+---------+----+----------+----+------+------------+
only showing top 10 rows

root
 |-- EMPNO: integer (nullable = true)
 |-- ENAME: string (nullable = true)
 |-- JOB: string (nullable = true)
 |-- MGR: string (nullable = true)
 |-- HIREDATE: string (nullable = true)
 |-- SAL: integer (nullable = true)
 |-- DEPTNO: integer (nullable = true)
 |-- UPDATED_DATE: string (nullable = true)

#7.Inspect Data

In [0]:
#show dataframe
df_double.show(10)

#printSchema
df_double.printSchema()

+-----+------+---------+----+----------+----+------+------------+
|EMPNO| ENAME|      JOB| MGR|  HIREDATE| SAL|DEPTNO|UPDATED_DATE|
+-----+------+---------+----+----------+----+------+------------+
| 7369| SMITH|    CLERK|7902|17-12-1980| 800|    20|  01-01-2022|
| 7499| ALLEN| SALESMAN|7698|20-02-1981|1600|    30|  02-01-2022|
| 7521|  WARD| SALESMAN|7698|22-02-1981|1250|    30|  03-01-2022|
| 7566| JONES|  MANAGER|7839|04-02-1981|2975|    20|  04-01-2022|
| 7654|MARTIN| SALESMAN|7698|21-09-1981|1250|    30|  05-01-2022|
| 7698|   SGR|  MANAGER|7839|05-01-1981|2850|    30|  06-01-2022|
| 7782|  RAVI|  MANAGER|7839|06-09-1981|2450|    10|  07-01-2022|
| 7788| SCOTT|  ANALYST|7566|19-04-1987|3000|    20|  08-01-2022|
| 7839|  KING|PRESIDENT|null|      null|5000|    10|        null|
| 7844|TURNER| SALESMAN|7698|09-08-1981|1500|    30|  01-02-2022|
+-----+------+---------+----+----------+----+------+------------+
only showing top 10 rows

root
 |-- EMPNO: integer (nullable = true)
 |-- ENAME: string (nullable = true)
 |-- JOB: string (nullable = true)
 |-- MGR: string (nullable = true)
 |-- HIREDATE: string (nullable = true)
 |-- SAL: integer (nullable = true)
 |-- DEPTNO: integer (nullable = true)
 |-- UPDATED_DATE: string (nullable = true)

In [0]:
#column names
df_double.columns

Out[281]: ['EMPNO', 'ENAME', 'JOB', 'MGR', 'HIREDATE', 'SAL', 'DEPTNO', 'UPDATED_DATE']

In [0]:
#column name with datatypes
df_double.dtypes

Out[282]: [('EMPNO', 'int'),
 ('ENAME', 'string'),
 ('JOB', 'string'),
 ('MGR', 'string'),
 ('HIREDATE', 'string'),
 ('SAL', 'int'),
 ('DEPTNO', 'int'),
 ('UPDATED_DATE', 'string')]

In [0]:
#firstrow
df_double.first()

Out[283]: Row(EMPNO=7369, ENAME='SMITH', JOB='CLERK', MGR='7902', HIREDATE='17-12-1980', SAL=800, DEPTNO=20, UPDATED_DATE='01-01-2022')

In [0]:
#head - first five rows
df_double.head(5)

Out[284]: [Row(EMPNO=7369, ENAME='SMITH', JOB='CLERK', MGR='7902', HIREDATE='17-12-1980', SAL=800, DEPTNO=20, UPDATED_DATE='01-01-2022'),
 Row(EMPNO=7499, ENAME='ALLEN', JOB='SALESMAN', MGR='7698', HIREDATE='20-02-1981', SAL=1600, DEPTNO=30, UPDATED_DATE='02-01-2022'),
 Row(EMPNO=7521, ENAME='WARD', JOB='SALESMAN', MGR='7698', HIREDATE='22-02-1981', SAL=1250, DEPTNO=30, UPDATED_DATE='03-01-2022'),
 Row(EMPNO=7566, ENAME='JONES', JOB='MANAGER', MGR='7839', HIREDATE='04-02-1981', SAL=2975, DEPTNO=20, UPDATED_DATE='04-01-2022'),
 Row(EMPNO=7654, ENAME='MARTIN', JOB='SALESMAN', MGR='7698', HIREDATE='21-09-1981', SAL=1250, DEPTNO=30, UPDATED_DATE='05-01-2022')]

In [0]:
#take any random 3 rows
df_double.take(3)

Out[285]: [Row(EMPNO=7369, ENAME='SMITH', JOB='CLERK', MGR='7902', HIREDATE='17-12-1980', SAL=800, DEPTNO=20, UPDATED_DATE='01-01-2022'),
 Row(EMPNO=7499, ENAME='ALLEN', JOB='SALESMAN', MGR='7698', HIREDATE='20-02-1981', SAL=1600, DEPTNO=30, UPDATED_DATE='02-01-2022'),
 Row(EMPNO=7521, ENAME='WARD', JOB='SALESMAN', MGR='7698', HIREDATE='22-02-1981', SAL=1250, DEPTNO=30, UPDATED_DATE='03-01-2022')]

In [0]:
#count no.of rows
df_double.count()

Out[286]: 30

In [0]:
#count distinct no.of rows
df_double.distinct().count()

Out[287]: 30

In [0]:
#tail - last two rows
df_double.tail(2)

Out[288]: [Row(EMPNO=7934, ENAME='MILLER', JOB='CLERK', MGR='7782', HIREDATE='01-03-1982', SAL=1300, DEPTNO=10, UPDATED_DATE='02-01-2021'),
 Row(EMPNO=1234, ENAME='RAM', JOB='CLERK', MGR='7457', HIREDATE='null', SAL=494, DEPTNO=80, UPDATED_DATE='03-01-2021')]

In [0]:
# compute summery satistics for dataframe
df_double.describe().show()

+-------+-----------------+-----+-------+------------------+----------+------------------+------------------+------------+
|summary|            EMPNO|ENAME|    JOB|               MGR|  HIREDATE|               SAL|            DEPTNO|UPDATED_DATE|
+-------+-----------------+-----+-------+------------------+----------+------------------+------------------+------------+
|  count|               30|   30|     30|                30|        30|                30|                30|          30|
|   mean|7293.733333333334| null|   null| 7730.571428571428|      null|            1973.7|              26.0|        null|
| stddev|1655.846630690118| null|   null|111.74422797966989|      null|1182.2016908848655|16.525841832592434|        null|
|    min|             1234|ADAMS|ANALYST|              7457|01-03-1982|               494|                10|  01-01-2021|
|    max|             7934| WARD| doctor|              null|      null|              5000|                80|        null|
+-------+-----------------+-----+-------+------------------+----------+------------------+------------------+------------+

In [0]:
#explain physical plan and logical plan
df_double.explain()

== Physical Plan ==
FileScan csv [EMPNO#21383,ENAME#21384,JOB#21385,MGR#21386,HIREDATE#21387,SAL#21388,DEPTNO#21389,UPDATED_DATE#21390] Batched: false, DataFilters: [], Format: CSV, Location: InMemoryFileIndex(1 paths)[dbfs:/FileStore/shared_uploads/nookala382@gmail.com/emp_double_pipe.txt], PartitionFilters: [], PushedFilters: [], ReadSchema: struct<EMPNO:int,ENAME:string,JOB:string,MGR:string,HIREDATE:string,SAL:int,DEPTNO:int,UPDATED_DA...

#8.import functions

In [0]:
from pyspark.sql.functions import *

#9.select operations

In [0]:
df_double.select( (col('MGR')/2).alias('new_mgr'),(col('sal')*2).alias('new_salary')).show(5)

+-------+----------+
|new_mgr|new_salary|
+-------+----------+
| 3951.0|      1600|
| 3849.0|      3200|
| 3849.0|      2500|
| 3919.5|      5950|
| 3849.0|      2500|
+-------+----------+
only showing top 5 rows

#10.Adding new columns with default values

In [0]:
df_double1 = df_double.withColumn('source',lit('test'))
df_double1.show(10)

+-----+------+---------+----+----------+----+------+------------+------+
|EMPNO| ENAME|      JOB| MGR|  HIREDATE| SAL|DEPTNO|UPDATED_DATE|source|
+-----+------+---------+----+----------+----+------+------------+------+
| 7369| SMITH|    CLERK|7902|17-12-1980| 800|    20|  01-01-2022|  test|
| 7499| ALLEN| SALESMAN|7698|20-02-1981|1600|    30|  02-01-2022|  test|
| 7521|  WARD| SALESMAN|7698|22-02-1981|1250|    30|  03-01-2022|  test|
| 7566| JONES|  MANAGER|7839|04-02-1981|2975|    20|  04-01-2022|  test|
| 7654|MARTIN| SALESMAN|7698|21-09-1981|1250|    30|  05-01-2022|  test|
| 7698|   SGR|  MANAGER|7839|05-01-1981|2850|    30|  06-01-2022|  test|
| 7782|  RAVI|  MANAGER|7839|06-09-1981|2450|    10|  07-01-2022|  test|
| 7788| SCOTT|  ANALYST|7566|19-04-1987|3000|    20|  08-01-2022|  test|
| 7839|  KING|PRESIDENT|null|      null|5000|    10|        null|  test|
| 7844|TURNER| SALESMAN|7698|09-08-1981|1500|    30|  01-02-2022|  test|
+-----+------+---------+----+----------+----+------+------------+------+
only showing top 10 rows

#11.Adding new columns

In [0]:
df_double2 = df_double.withColumn('NEW_MGR', col('MGR')*2).withColumn('NEW_SAL',col('SAL')/10)
df_double2.show(10)

+-----+------+---------+----+----------+----+------+------------+-------+-------+
|EMPNO| ENAME|      JOB| MGR|  HIREDATE| SAL|DEPTNO|UPDATED_DATE|NEW_MGR|NEW_SAL|
+-----+------+---------+----+----------+----+------+------------+-------+-------+
| 7369| SMITH|    CLERK|7902|17-12-1980| 800|    20|  01-01-2022|15804.0|   80.0|
| 7499| ALLEN| SALESMAN|7698|20-02-1981|1600|    30|  02-01-2022|15396.0|  160.0|
| 7521|  WARD| SALESMAN|7698|22-02-1981|1250|    30|  03-01-2022|15396.0|  125.0|
| 7566| JONES|  MANAGER|7839|04-02-1981|2975|    20|  04-01-2022|15678.0|  297.5|
| 7654|MARTIN| SALESMAN|7698|21-09-1981|1250|    30|  05-01-2022|15396.0|  125.0|
| 7698|   SGR|  MANAGER|7839|05-01-1981|2850|    30|  06-01-2022|15678.0|  285.0|
| 7782|  RAVI|  MANAGER|7839|06-09-1981|2450|    10|  07-01-2022|15678.0|  245.0|
| 7788| SCOTT|  ANALYST|7566|19-04-1987|3000|    20|  08-01-2022|15132.0|  300.0|
| 7839|  KING|PRESIDENT|null|      null|5000|    10|        null|   null|  500.0|
| 7844|TURNER| SALESMAN|7698|09-08-1981|1500|    30|  01-02-2022|15396.0|  150.0|
+-----+------+---------+----+----------+----+------+------------+-------+-------+
only showing top 10 rows

#12.dropping columns

In [0]:
df_double3 =df_double2.drop('MGR','SAL')
df_double3.show(10)

+-----+------+---------+----------+------+------------+-------+-------+
|EMPNO| ENAME|      JOB|  HIREDATE|DEPTNO|UPDATED_DATE|NEW_MGR|NEW_SAL|
+-----+------+---------+----------+------+------------+-------+-------+
| 7369| SMITH|    CLERK|17-12-1980|    20|  01-01-2022|15804.0|   80.0|
| 7499| ALLEN| SALESMAN|20-02-1981|    30|  02-01-2022|15396.0|  160.0|
| 7521|  WARD| SALESMAN|22-02-1981|    30|  03-01-2022|15396.0|  125.0|
| 7566| JONES|  MANAGER|04-02-1981|    20|  04-01-2022|15678.0|  297.5|
| 7654|MARTIN| SALESMAN|21-09-1981|    30|  05-01-2022|15396.0|  125.0|
| 7698|   SGR|  MANAGER|05-01-1981|    30|  06-01-2022|15678.0|  285.0|
| 7782|  RAVI|  MANAGER|06-09-1981|    10|  07-01-2022|15678.0|  245.0|
| 7788| SCOTT|  ANALYST|19-04-1987|    20|  08-01-2022|15132.0|  300.0|
| 7839|  KING|PRESIDENT|      null|    10|        null|   null|  500.0|
| 7844|TURNER| SALESMAN|09-08-1981|    30|  01-02-2022|15396.0|  150.0|
+-----+------+---------+----------+------+------------+-------+-------+
only showing top 10 rows

#13.Renamed Column Names

In [0]:
df_double4= df_double3.withColumnRenamed('NEW_SAL','SALARY').withColumnRenamed('NEW_MGR','MANAGER')
df_double4.show(10)

+-----+------+---------+----------+------+------------+-------+------+
|EMPNO| ENAME|      JOB|  HIREDATE|DEPTNO|UPDATED_DATE|MANAGER|SALARY|
+-----+------+---------+----------+------+------------+-------+------+
| 7369| SMITH|    CLERK|17-12-1980|    20|  01-01-2022|15804.0|  80.0|
| 7499| ALLEN| SALESMAN|20-02-1981|    30|  02-01-2022|15396.0| 160.0|
| 7521|  WARD| SALESMAN|22-02-1981|    30|  03-01-2022|15396.0| 125.0|
| 7566| JONES|  MANAGER|04-02-1981|    20|  04-01-2022|15678.0| 297.5|
| 7654|MARTIN| SALESMAN|21-09-1981|    30|  05-01-2022|15396.0| 125.0|
| 7698|   SGR|  MANAGER|05-01-1981|    30|  06-01-2022|15678.0| 285.0|
| 7782|  RAVI|  MANAGER|06-09-1981|    10|  07-01-2022|15678.0| 245.0|
| 7788| SCOTT|  ANALYST|19-04-1987|    20|  08-01-2022|15132.0| 300.0|
| 7839|  KING|PRESIDENT|      null|    10|        null|   null| 500.0|
| 7844|TURNER| SALESMAN|09-08-1981|    30|  01-02-2022|15396.0| 150.0|
+-----+------+---------+----------+------+------------+-------+------+
only showing top 10 rows

#14.drop null values from dataFrame

In [0]:
# how = any ,it drops any null value in dataframe

df_drop_any =  df_pipe.dropna(how = 'any')

df_drop_any.count()

Out[297]: 21

In [0]:
# how =all,drops the rows with all nulls in it

df_drop_all = df_pipe.dropna(how = 'all')

df_drop_all.count()

Out[298]: 30

In [0]:
# how =all,drops the rows with custom nulls in it

df_drop_custom = df_pipe.dropna(how = 'any' ,thresh = 4)

df_drop_custom.count()

Out[299]: 30

In [0]:
#drop the specific columns null values

df_drop_column = df_pipe.dropna(how = 'any',subset=['UPDATED_DATE','HIREDATE'])
df_drop_column.count()

Out[300]: 25

#15.fill null values in dataFrame

In [0]:
df_fill = df_pipe.fillna('MISSING_VALUE',['JOB','ENAME']).fillna(7000,'MGR').fillna(1000,'SAL')
df_fill.show()

+-----+-------------+-------------+----+----------+----+------+------------+
|EMPNO|        ENAME|          JOB| MGR|  HIREDATE| SAL|DEPTNO|UPDATED_DATE|
+-----+-------------+-------------+----+----------+----+------+------------+
| 7369|        SMITH|        CLERK|7902|1980-12-17| 800|    20|  01-01-2022|
| 7499|        ALLEN|     SALESMAN|7698|1981-02-20|1600|    30|  02-01-2022|
| 7521|         WARD|     SALESMAN|7698|1981-02-22|1250|    30|  03-01-2022|
| 7566|        JONES|      MANAGER|7000|1981-02-04|2975|    20|  04-01-2022|
| 7654|MISSING_VALUE|MISSING_VALUE|7698|1981-09-21|1000|    30|  05-01-2022|
| 7698|          SGR|      MANAGER|7839|1981-01-05|2850|    30|  06-01-2022|
| 7782|         RAVI|MISSING_VALUE|7000|1981-09-06|2450|    10|  07-01-2022|
| 7788|        SCOTT|      ANALYST|7566|1987-04-19|3000|    20|  08-01-2022|
| 7839|MISSING_VALUE|    PRESIDENT|7000|      null|5000|    10|        null|
| 7844|       TURNER|     SALESMAN|7698|1981-08-09|1500|    30|  01-02-2022|
| 7876|        ADAMS|        CLERK|7788|1987-05-23|1100|    20|  02-02-2022|
| 7900|        JAMES|        CLERK|7698|1981-03-12| 950|    30|  03-02-2022|
| 7902|         FORD|      ANALYST|7566|1981-03-12|3000|    20|  04-02-2022|
| 7934|       MILLER|        CLERK|7782|1982-03-01|1300|    10|  05-02-2022|
| 1234|       SEKHAR|       doctor|7777|      null| 667|    80|  06-02-2022|
| 7369|        SMITH|        CLERK|7902|1980-12-17| 800|    20|  07-02-2022|
| 7499|        ALLEN|     SALESMAN|7698|1981-02-20|1600|    30|  08-02-2022|
| 7521|         WARD|     SALESMAN|7698|1981-02-22|1250|    30|        null|
| 7566|        JONES|      MANAGER|7839|1981-02-04|2975|    20|  01-02-2021|
| 7654|       MARTIN|     SALESMAN|7698|1981-09-21|1250|    30|  02-02-2021|
+-----+-------------+-------------+----+----------+----+------+------------+
only showing top 20 rows

#16.Filter operations

In [0]:
#salary of people greter than 4000
df_pipe.filter(col('SAL') >4000).show()

+-----+-----+---------+----+----------+----+------+------------+
|EMPNO|ENAME|      JOB| MGR|  HIREDATE| SAL|DEPTNO|UPDATED_DATE|
+-----+-----+---------+----+----------+----+------+------------+
| 7839| null|PRESIDENT|null|      null|5000|    10|        null|
| 7839| KING|PRESIDENT|null|1981-11-01|5000|    10|  06-02-2021|
+-----+-----+---------+----+----------+----+------+------------+

In [0]:
# & operator
#show employee details who's salar greater than 2500 and job is manager
df_pipe.filter( (col('JOB') == 'MANAGER') & (col('SAL') > 2500)).show()

+-----+-----+-------+----+----------+----+------+------------+
|EMPNO|ENAME|    JOB| MGR|  HIREDATE| SAL|DEPTNO|UPDATED_DATE|
+-----+-----+-------+----+----------+----+------+------------+
| 7566|JONES|MANAGER|null|1981-02-04|2975|    20|  04-01-2022|
| 7698|  SGR|MANAGER|7839|1981-01-05|2850|    30|  06-01-2022|
| 7566|JONES|MANAGER|7839|1981-02-04|2975|    20|  01-02-2021|
| 7698|  SGR|MANAGER|7839|1981-01-05|2850|    30|  03-02-2021|
+-----+-----+-------+----+----------+----+------+------------+

In [0]:
# & operator
#show employee details who's salary less than 2000 and salary should be greater than 1000
df_pipe.filter((col('SAL') <2000) & ( col('SAL')>1000)).show()

+-----+------+--------+----+----------+----+------+------------+
|EMPNO| ENAME|     JOB| MGR|  HIREDATE| SAL|DEPTNO|UPDATED_DATE|
+-----+------+--------+----+----------+----+------+------------+
| 7499| ALLEN|SALESMAN|7698|1981-02-20|1600|    30|  02-01-2022|
| 7521|  WARD|SALESMAN|7698|1981-02-22|1250|    30|  03-01-2022|
| 7844|TURNER|SALESMAN|7698|1981-08-09|1500|    30|  01-02-2022|
| 7876| ADAMS|   CLERK|7788|1987-05-23|1100|    20|  02-02-2022|
| 7934|MILLER|   CLERK|7782|1982-03-01|1300|    10|  05-02-2022|
| 7499| ALLEN|SALESMAN|7698|1981-02-20|1600|    30|  08-02-2022|
| 7521|  WARD|SALESMAN|7698|1981-02-22|1250|    30|        null|
| 7654|MARTIN|SALESMAN|7698|1981-09-21|1250|    30|  02-02-2021|
| 7844|TURNER|SALESMAN|7698|1981-08-09|1500|    30|  07-02-2021|
| 7876| ADAMS|   CLERK|7788|1987-05-23|1100|    20|  08-02-2021|
| 7934|MILLER|   CLERK|7782|1982-03-01|1300|    10|  02-01-2021|
+-----+------+--------+----+----------+----+------+------------+

In [0]:
# | operator
#show employee details who's salary less than 2000 or salary should be greater than 1000
df_pipe.filter((col('SAL')>2000) | (col('SAL')<1000)).show()

+-----+------+---------+----+----------+----+------+------------+
|EMPNO| ENAME|      JOB| MGR|  HIREDATE| SAL|DEPTNO|UPDATED_DATE|
+-----+------+---------+----+----------+----+------+------------+
| 7369| SMITH|    CLERK|7902|1980-12-17| 800|    20|  01-01-2022|
| 7566| JONES|  MANAGER|null|1981-02-04|2975|    20|  04-01-2022|
| 7698|   SGR|  MANAGER|7839|1981-01-05|2850|    30|  06-01-2022|
| 7782|  RAVI|     null|null|1981-09-06|2450|    10|  07-01-2022|
| 7788| SCOTT|  ANALYST|7566|1987-04-19|3000|    20|  08-01-2022|
| 7839|  null|PRESIDENT|null|      null|5000|    10|        null|
| 7900| JAMES|    CLERK|7698|1981-03-12| 950|    30|  03-02-2022|
| 7902|  FORD|  ANALYST|7566|1981-03-12|3000|    20|  04-02-2022|
| 1234|SEKHAR|   doctor|7777|      null| 667|    80|  06-02-2022|
| 7369| SMITH|    CLERK|7902|1980-12-17| 800|    20|  07-02-2022|
| 7566| JONES|  MANAGER|7839|1981-02-04|2975|    20|  01-02-2021|
| 7698|   SGR|  MANAGER|7839|1981-01-05|2850|    30|  03-02-2021|
| 7782|  RAVI|  MANAGER|7839|1981-09-06|2450|    10|  04-02-2021|
| 7788| SCOTT|  ANALYST|7566|1987-04-19|3000|    20|  05-02-2021|
| 7839|  KING|PRESIDENT|null|1981-11-01|5000|    10|  06-02-2021|
| 7900| JAMES|    CLERK|7698|      null| 950|    30|        null|
| 7902|  FORD|  ANALYST|7566|1981-03-12|3000|    20|  01-01-2021|
| 1234|   RAM|    CLERK|7457|      null| 494|    80|  03-01-2021|
+-----+------+---------+----+----------+----+------+------------+

In [0]:
#not operator
df_pipe.filter( ~ (col('JOB') == 'MANAGER')).show()

+-----+------+---------+----+----------+----+------+------------+
|EMPNO| ENAME|      JOB| MGR|  HIREDATE| SAL|DEPTNO|UPDATED_DATE|
+-----+------+---------+----+----------+----+------+------------+
| 7369| SMITH|    CLERK|7902|1980-12-17| 800|    20|  01-01-2022|
| 7499| ALLEN| SALESMAN|7698|1981-02-20|1600|    30|  02-01-2022|
| 7521|  WARD| SALESMAN|7698|1981-02-22|1250|    30|  03-01-2022|
| 7788| SCOTT|  ANALYST|7566|1987-04-19|3000|    20|  08-01-2022|
| 7839|  null|PRESIDENT|null|      null|5000|    10|        null|
| 7844|TURNER| SALESMAN|7698|1981-08-09|1500|    30|  01-02-2022|
| 7876| ADAMS|    CLERK|7788|1987-05-23|1100|    20|  02-02-2022|
| 7900| JAMES|    CLERK|7698|1981-03-12| 950|    30|  03-02-2022|
| 7902|  FORD|  ANALYST|7566|1981-03-12|3000|    20|  04-02-2022|
| 7934|MILLER|    CLERK|7782|1982-03-01|1300|    10|  05-02-2022|
| 1234|SEKHAR|   doctor|7777|      null| 667|    80|  06-02-2022|
| 7369| SMITH|    CLERK|7902|1980-12-17| 800|    20|  07-02-2022|
| 7499| ALLEN| SALESMAN|7698|1981-02-20|1600|    30|  08-02-2022|
| 7521|  WARD| SALESMAN|7698|1981-02-22|1250|    30|        null|
| 7654|MARTIN| SALESMAN|7698|1981-09-21|1250|    30|  02-02-2021|
| 7788| SCOTT|  ANALYST|7566|1987-04-19|3000|    20|  05-02-2021|
| 7839|  KING|PRESIDENT|null|1981-11-01|5000|    10|  06-02-2021|
| 7844|TURNER| SALESMAN|7698|1981-08-09|1500|    30|  07-02-2021|
| 7876| ADAMS|    CLERK|7788|1987-05-23|1100|    20|  08-02-2021|
| 7900| JAMES|    CLERK|7698|      null| 950|    30|        null|
+-----+------+---------+----+----------+----+------+------------+
only showing top 20 rows

#17.GroupBy operations

In [0]:
#groupby deptno and people count
df_pipe.groupby('DEPTNO').count().show()

+------+-----+
|DEPTNO|count|
+------+-----+
|    20|   10|
|    10|    6|
|    80|    2|
|    30|   12|
+------+-----+

In [0]:
#groupby deptno and avg salary

df_pipe.groupby('DEPTNO').avg('SAL').show()

+------+------------------+
|DEPTNO|          avg(SAL)|
+------+------------------+
|    20|            2175.0|
|    10|2916.6666666666665|
|    80|             580.5|
|    30|1595.4545454545455|
+------+------------------+

In [0]:
#groupby job role and people count
df_pipe.groupBy('JOB').count().show()

+---------+-----+
|      JOB|count|
+---------+-----+
|  ANALYST|    4|
| SALESMAN|    7|
|    CLERK|    9|
|     null|    2|
|  MANAGER|    5|
|PRESIDENT|    2|
|   doctor|    1|
+---------+-----+

In [0]:
#Group by job role and avg of salaries
df_pipe.groupby('JOB').avg('SAL').alias('AVG_SAL').show()

+---------+------------------+
|      JOB|          avg(SAL)|
+---------+------------------+
|  ANALYST|            3000.0|
| SALESMAN|1421.4285714285713|
|    CLERK| 977.1111111111111|
|     null|            2450.0|
|  MANAGER|            2820.0|
|PRESIDENT|            5000.0|
|   doctor|             667.0|
+---------+------------------+

#18.sort/orderby operations - In pyspark orderBy and sort are same

In [0]:
df_pipe.sort(col('SAL').desc()).show(5)
df_pipe.orderBy(col('SAL').desc()).show(5)

+-----+-----+---------+----+----------+----+------+------------+
|EMPNO|ENAME|      JOB| MGR|  HIREDATE| SAL|DEPTNO|UPDATED_DATE|
+-----+-----+---------+----+----------+----+------+------------+
| 7839| null|PRESIDENT|null|      null|5000|    10|        null|
| 7839| KING|PRESIDENT|null|1981-11-01|5000|    10|  06-02-2021|
| 7902| FORD|  ANALYST|7566|1981-03-12|3000|    20|  04-02-2022|
| 7788|SCOTT|  ANALYST|7566|1987-04-19|3000|    20|  08-01-2022|
| 7788|SCOTT|  ANALYST|7566|1987-04-19|3000|    20|  05-02-2021|
+-----+-----+---------+----+----------+----+------+------------+
only showing top 5 rows

+-----+-----+---------+----+----------+----+------+------------+
|EMPNO|ENAME|      JOB| MGR|  HIREDATE| SAL|DEPTNO|UPDATED_DATE|
+-----+-----+---------+----+----------+----+------+------------+
| 7839| null|PRESIDENT|null|      null|5000|    10|        null|
| 7839| KING|PRESIDENT|null|1981-11-01|5000|    10|  06-02-2021|
| 7902| FORD|  ANALYST|7566|1981-03-12|3000|    20|  04-02-2022|
| 7788|SCOTT|  ANALYST|7566|1987-04-19|3000|    20|  08-01-2022|
| 7788|SCOTT|  ANALYST|7566|1987-04-19|3000|    20|  05-02-2021|
+-----+-----+---------+----+----------+----+------+------------+
only showing top 5 rows

#19.sort by/sortwithinpartitions operations- In pyspark sortwithinpartitions same as sortby

In [0]:
df_pipe.sortWithinPartitions( col('SAL').desc()).show()

+-----+------+---------+----+----------+----+------+------------+
|EMPNO| ENAME|      JOB| MGR|  HIREDATE| SAL|DEPTNO|UPDATED_DATE|
+-----+------+---------+----+----------+----+------+------------+
| 7839|  null|PRESIDENT|null|      null|5000|    10|        null|
| 7839|  KING|PRESIDENT|null|1981-11-01|5000|    10|  06-02-2021|
| 7788| SCOTT|  ANALYST|7566|1987-04-19|3000|    20|  08-01-2022|
| 7902|  FORD|  ANALYST|7566|1981-03-12|3000|    20|  04-02-2022|
| 7788| SCOTT|  ANALYST|7566|1987-04-19|3000|    20|  05-02-2021|
| 7902|  FORD|  ANALYST|7566|1981-03-12|3000|    20|  01-01-2021|
| 7566| JONES|  MANAGER|null|1981-02-04|2975|    20|  04-01-2022|
| 7566| JONES|  MANAGER|7839|1981-02-04|2975|    20|  01-02-2021|
| 7698|   SGR|  MANAGER|7839|1981-01-05|2850|    30|  06-01-2022|
| 7698|   SGR|  MANAGER|7839|1981-01-05|2850|    30|  03-02-2021|
| 7782|  RAVI|     null|null|1981-09-06|2450|    10|  07-01-2022|
| 7782|  RAVI|  MANAGER|7839|1981-09-06|2450|    10|  04-02-2021|
| 7499| ALLEN| SALESMAN|7698|1981-02-20|1600|    30|  02-01-2022|
| 7499| ALLEN| SALESMAN|7698|1981-02-20|1600|    30|  08-02-2022|
| 7844|TURNER| SALESMAN|7698|1981-08-09|1500|    30|  01-02-2022|
| 7844|TURNER| SALESMAN|7698|1981-08-09|1500|    30|  07-02-2021|
| 7934|MILLER|    CLERK|7782|1982-03-01|1300|    10|  05-02-2022|
| 7934|MILLER|    CLERK|7782|1982-03-01|1300|    10|  02-01-2021|
| 7521|  WARD| SALESMAN|7698|1981-02-22|1250|    30|  03-01-2022|
| 7521|  WARD| SALESMAN|7698|1981-02-22|1250|    30|        null|
+-----+------+---------+----+----------+----+------+------------+
only showing top 20 rows

#20.repartition


repartition : is a wide transformation : create new partitions,Data shuffle will happen,used for increase/decrease the partitions, we can repartition based on column specific to increse the performence

In [0]:
df_pipe1 = df_pipe.repartition(3).withColumn('repartitions',spark_partition_id())
df_pipe1.show(10)
df_pipe1.rdd.getNumPartitions()

+-----+------+--------+----+----------+----+------+------------+------------+
|EMPNO| ENAME|     JOB| MGR|  HIREDATE| SAL|DEPTNO|UPDATED_DATE|repartitions|
+-----+------+--------+----+----------+----+------+------------+------------+
| 1234|SEKHAR|  doctor|7777|      null| 667|    80|  06-02-2022|           0|
| 7782|  RAVI| MANAGER|7839|1981-09-06|2450|    10|  04-02-2021|           0|
| 7902|  FORD| ANALYST|7566|1981-03-12|3000|    20|  01-01-2021|           0|
| 7499| ALLEN|SALESMAN|7698|1981-02-20|1600|    30|  02-01-2022|           0|
| 7566| JONES| MANAGER|null|1981-02-04|2975|    20|  04-01-2022|           0|
| 7782|  RAVI|    null|null|1981-09-06|2450|    10|  07-01-2022|           0|
| 7521|  WARD|SALESMAN|7698|1981-02-22|1250|    30|  03-01-2022|           0|
| 7566| JONES| MANAGER|7839|1981-02-04|2975|    20|  01-02-2021|           0|
| 7844|TURNER|SALESMAN|7698|1981-08-09|1500|    30|  07-02-2021|           0|
| 7521|  WARD|SALESMAN|7698|1981-02-22|1250|    30|        null|           0|
+-----+------+--------+----+----------+----+------+------------+------------+
only showing top 10 rows

Out[313]: 3

#21.coalesce

coalesce : is a Narrow transformation : adjust data in existing partition,No shuffling ,By defult it will used for decrease the partitions.

In [0]:
df_pipe2 = df_pipe1.coalesce(1).withColumn('coalesce',spark_partition_id())
df_pipe2.show()
df_pipe2.rdd.getNumPartitions()

+-----+------+--------+----+----------+----+------+------------+------------+--------+
|EMPNO| ENAME|     JOB| MGR|  HIREDATE| SAL|DEPTNO|UPDATED_DATE|repartitions|coalesce|
+-----+------+--------+----+----------+----+------+------------+------------+--------+
| 1234|SEKHAR|  doctor|7777|      null| 667|    80|  06-02-2022|           0|       0|
| 7782|  RAVI| MANAGER|7839|1981-09-06|2450|    10|  04-02-2021|           0|       0|
| 7902|  FORD| ANALYST|7566|1981-03-12|3000|    20|  01-01-2021|           0|       0|
| 7499| ALLEN|SALESMAN|7698|1981-02-20|1600|    30|  02-01-2022|           0|       0|
| 7566| JONES| MANAGER|null|1981-02-04|2975|    20|  04-01-2022|           0|       0|
| 7782|  RAVI|    null|null|1981-09-06|2450|    10|  07-01-2022|           0|       0|
| 7521|  WARD|SALESMAN|7698|1981-02-22|1250|    30|  03-01-2022|           0|       0|
| 7566| JONES| MANAGER|7839|1981-02-04|2975|    20|  01-02-2021|           0|       0|
| 7844|TURNER|SALESMAN|7698|1981-08-09|1500|    30|  07-02-2021|           0|       0|
| 7521|  WARD|SALESMAN|7698|1981-02-22|1250|    30|        null|           0|       0|
| 7698|   SGR| MANAGER|7839|1981-01-05|2850|    30|  06-01-2022|           1|       0|
| 7698|   SGR| MANAGER|7839|1981-01-05|2850|    30|  03-02-2021|           1|       0|
| 7844|TURNER|SALESMAN|7698|1981-08-09|1500|    30|  01-02-2022|           1|       0|
| 7788| SCOTT| ANALYST|7566|1987-04-19|3000|    20|  05-02-2021|           1|       0|
| 7900| JAMES|   CLERK|7698|      null| 950|    30|        null|           1|       0|
| 7369| SMITH|   CLERK|7902|1980-12-17| 800|    20|  01-01-2022|           1|       0|
| 7902|  FORD| ANALYST|7566|1981-03-12|3000|    20|  04-02-2022|           1|       0|
| 7876| ADAMS|   CLERK|7788|1987-05-23|1100|    20|  08-02-2021|           1|       0|
| 7654|MARTIN|SALESMAN|7698|1981-09-21|1250|    30|  02-02-2021|           1|       0|
| 7900| JAMES|   CLERK|7698|1981-03-12| 950|    30|  03-02-2022|           1|       0|
+-----+------+--------+----+----------+----+------+------------+------------+--------+
only showing top 20 rows

Out[314]: 1

#22.joining two dataframes - Generate Revenue Column and order by highest Revenue

In [0]:
df_product = spark.read.format('csv').option('header',True).option('inferSchema',True).option('nullValue','null').load('dbfs:/FileStore/shared_uploads/nookala382@gmail.com/product_info_1.csv')


df_sale = spark.read.format('csv').option('header',True).option('inferSchema',True).option('nullValue','null').load('dbfs:/FileStore/shared_uploads/nookala382@gmail.com/sales_data_1.csv')

df_product.show(10)
df_product.printSchema()
df_sale.show(10)
df_sale.printSchema()

+----------+-------------------+----------+
|product_id|       product_name|unit_price|
+----------+-------------------+----------+
|         1|       Asus Watch 2|       100|
|         2| Impex 8975 speaker|       120|
|         3|        Asus R558UQ|       500|
|         4|          Iphone 11|      1500|
|         5|Samsung Galaxy Buds|       100|
+----------+-------------------+----------+

root
 |-- product_id: integer (nullable = true)
 |-- product_name: string (nullable = true)
 |-- unit_price: integer (nullable = true)

+----------+---+----+
|product_id|qty|year|
+----------+---+----+
|         1| 65|2020|
|         2| 19|2020|
|         3| 44|2020|
|         4|  5|2020|
|         5| 98|2020|
|         5|168|2015|
|         3| 40|2016|
|         1| 78|2018|
|         1|987|2019|
|         4|100|2019|
+----------+---+----+
only showing top 10 rows

root
 |-- product_id: integer (nullable = true)
 |-- qty: integer (nullable = true)
 |-- year: integer (nullable = true)

In [0]:
product_sale = df_product.join(df_sale,df_product.product_id == df_sale.product_id,'inner').drop(df_sale.product_id).withColumn('Revenue', col('unit_price')*col('qty')).orderBy(col('Revenue').desc())

product_sale.show()

+----------+-------------------+----------+---+----+-------+
|product_id|       product_name|unit_price|qty|year|Revenue|
+----------+-------------------+----------+---+----+-------+
|         4|          Iphone 11|      1500|100|2019| 150000|
|         1|       Asus Watch 2|       100|987|2019|  98700|
|         3|        Asus R558UQ|       500| 44|2020|  22000|
|         3|        Asus R558UQ|       500| 40|2016|  20000|
|         5|Samsung Galaxy Buds|       100|168|2015|  16800|
|         5|Samsung Galaxy Buds|       100|100|2020|  10000|
|         5|Samsung Galaxy Buds|       100| 98|2020|   9800|
|         1|       Asus Watch 2|       100| 78|2018|   7800|
|         4|          Iphone 11|      1500|  5|2020|   7500|
|         1|       Asus Watch 2|       100| 65|2020|   6500|
|         1|       Asus Watch 2|       100| 43|2020|   4300|
|         2| Impex 8975 speaker|       120| 19|2020|   2280|
+----------+-------------------+----------+---+----+-------+

#23.Save Dataframe into hive table

In [0]:
product_sale.write.partitionBy('product_name').saveAsTable('product_sale')

#24.Read Dataframe from Hive table

In [0]:
spark.read.table('product_sale').show()

+----------+-------------------+----------+---+----+-------+
|product_id|       product_name|unit_price|qty|year|Revenue|
+----------+-------------------+----------+---+----+-------+
|         5|Samsung Galaxy Buds|       100|168|2015|  16800|
|         5|Samsung Galaxy Buds|       100|100|2020|  10000|
|         5|Samsung Galaxy Buds|       100| 98|2020|   9800|
|         1|       Asus Watch 2|       100|987|2019|  98700|
|         1|       Asus Watch 2|       100| 78|2018|   7800|
|         1|       Asus Watch 2|       100| 65|2020|   6500|
|         1|       Asus Watch 2|       100| 43|2020|   4300|
|         4|          Iphone 11|      1500|100|2019| 150000|
|         4|          Iphone 11|      1500|  5|2020|   7500|
|         3|        Asus R558UQ|       500| 44|2020|  22000|
|         3|        Asus R558UQ|       500| 40|2016|  20000|
|         2| Impex 8975 speaker|       120| 19|2020|   2280|
+----------+-------------------+----------+---+----+-------+

#25.Pivot Table : year wise each product revenue

In [0]:
product_sale.groupBy('year').pivot('product_name').sum('Revenue').show(truncate = False)

+----+-----------+------------+------------------+---------+-------------------+
|year|Asus R558UQ|Asus Watch 2|Impex 8975 speaker|Iphone 11|Samsung Galaxy Buds|
+----+-----------+------------+------------------+---------+-------------------+
|2018|null       |7800        |null              |null     |null               |
|2015|null       |null        |null              |null     |16800              |
|2019|null       |98700       |null              |150000   |null               |
|2020|22000      |10800       |2280              |7500     |19800              |
|2016|20000      |null        |null              |null     |null               |
+----+-----------+------------+------------------+---------+-------------------+