##1.read csv file data

In [0]:
df = spark.read.format('csv').option('header',True).option('inferSchema',True).option('nullValue','null').load('dbfs:/FileStore/shared_uploads/nookala382@gmail.com/employee.csv')
df.show(10)

+-----+------+---------+------+----------+----+------+------------+
|EMPNO| ENAME|      JOB|Manger|  HIREDATE| SAL|DEPTNO|UPDATED_DATE|
+-----+------+---------+------+----------+----+------+------------+
| 7369| SMITH|    CLERK|  7902|1980-12-17| 800|    20|  01-01-2022|
| 7499| ALLEN| SALESMAN|  7698|1980-02-20|1600|    30|  02-01-2022|
| 7521|  WARD| SALESMAN|  7698|1980-02-22|1250|    30|  03-01-2022|
| 7566| JONES|  MANAGER|  7839|1981-02-04|2975|    20|  04-01-2022|
| 7654|MARTIN| SALESMAN|  7698|1981-09-21|1250|    30|  05-01-2022|
| 7698|   SGR|  MANAGER|  7839|1981-01-05|2850|    30|  06-01-2022|
| 7782|  RAVI|  MANAGER|  7839|1982-09-06|2450|    10|  07-01-2022|
| 7788| SCOTT|  ANALYST|  7566|1982-04-19|3000|    20|  08-01-2022|
| 7839|  KING|PRESIDENT|  null|      null|5000|    10|        null|
| 7844|TURNER| SALESMAN|  7698|1982-08-09|1500|    30|  01-02-2022|
+-----+------+---------+------+----------+----+------+------------+
only showing top 10 rows

In [0]:
df.filter('Manger is NULL').show()

+-----+-----+---------+------+----------+----+------+------------+
|EMPNO|ENAME|      JOB|Manger|  HIREDATE| SAL|DEPTNO|UPDATED_DATE|
+-----+-----+---------+------+----------+----+------+------------+
| 7839| KING|PRESIDENT|  null|      null|5000|    10|        null|
| 7839| KING|PRESIDENT|  null|1981-11-01|5000|    10|  06-02-2021|
| null| null|     null|  null|      null|null|  null|        null|
| null| null|     null|  null|      null|null|  null|        null|
| null| null|     null|  null|      null|null|  null|        null|
+-----+-----+---------+------+----------+----+------+------------+

##2.New column with Defult values

In [0]:
from pyspark.sql.functions import *

In [0]:
df1 = df.withColumn('Source',lit('Test'))
df1.show(10)

+-----+------+---------+------+----------+----+------+------------+------+
|EMPNO| ENAME|      JOB|Manger|  HIREDATE| SAL|DEPTNO|UPDATED_DATE|Source|
+-----+------+---------+------+----------+----+------+------------+------+
| 7369| SMITH|    CLERK|  7902|1980-12-17| 800|    20|  01-01-2022|  Test|
| 7499| ALLEN| SALESMAN|  7698|1980-02-20|1600|    30|  02-01-2022|  Test|
| 7521|  WARD| SALESMAN|  7698|1980-02-22|1250|    30|  03-01-2022|  Test|
| 7566| JONES|  MANAGER|  7839|1981-02-04|2975|    20|  04-01-2022|  Test|
| 7654|MARTIN| SALESMAN|  7698|1981-09-21|1250|    30|  05-01-2022|  Test|
| 7698|   SGR|  MANAGER|  7839|1981-01-05|2850|    30|  06-01-2022|  Test|
| 7782|  RAVI|  MANAGER|  7839|1982-09-06|2450|    10|  07-01-2022|  Test|
| 7788| SCOTT|  ANALYST|  7566|1982-04-19|3000|    20|  08-01-2022|  Test|
| 7839|  KING|PRESIDENT|  null|      null|5000|    10|        null|  Test|
| 7844|TURNER| SALESMAN|  7698|1982-08-09|1500|    30|  01-02-2022|  Test|
+-----+------+---------+------+----------+----+------+------------+------+
only showing top 10 rows

##3.Concatinating two columns

In [0]:
df1.withColumn('SOUR_ENAME',concat('Source','ENAME')).show(10)

+-----+------+---------+------+----------+----+------+------------+------+----------+
|EMPNO| ENAME|      JOB|Manger|  HIREDATE| SAL|DEPTNO|UPDATED_DATE|Source|SOUR_ENAME|
+-----+------+---------+------+----------+----+------+------------+------+----------+
| 7369| SMITH|    CLERK|  7902|1980-12-17| 800|    20|  01-01-2022|  Test| TestSMITH|
| 7499| ALLEN| SALESMAN|  7698|1980-02-20|1600|    30|  02-01-2022|  Test| TestALLEN|
| 7521|  WARD| SALESMAN|  7698|1980-02-22|1250|    30|  03-01-2022|  Test|  TestWARD|
| 7566| JONES|  MANAGER|  7839|1981-02-04|2975|    20|  04-01-2022|  Test| TestJONES|
| 7654|MARTIN| SALESMAN|  7698|1981-09-21|1250|    30|  05-01-2022|  Test|TestMARTIN|
| 7698|   SGR|  MANAGER|  7839|1981-01-05|2850|    30|  06-01-2022|  Test|   TestSGR|
| 7782|  RAVI|  MANAGER|  7839|1982-09-06|2450|    10|  07-01-2022|  Test|  TestRAVI|
| 7788| SCOTT|  ANALYST|  7566|1982-04-19|3000|    20|  08-01-2022|  Test| TestSCOTT|
| 7839|  KING|PRESIDENT|  null|      null|5000|    10|        null|  Test|  TestKING|
| 7844|TURNER| SALESMAN|  7698|1982-08-09|1500|    30|  01-02-2022|  Test|TestTURNER|
+-----+------+---------+------+----------+----+------+------------+------+----------+
only showing top 10 rows

##3.Concatinating two columns with separator

In [0]:
df2 = df1.withColumn('SOUR_ENAME',concat_ws('_','Source','ENAME','SAL'))

df2.show(10)

+-----+------+---------+------+----------+----+------+------------+------+----------------+
|EMPNO| ENAME|      JOB|Manger|  HIREDATE| SAL|DEPTNO|UPDATED_DATE|Source|      SOUR_ENAME|
+-----+------+---------+------+----------+----+------+------------+------+----------------+
| 7369| SMITH|    CLERK|  7902|1980-12-17| 800|    20|  01-01-2022|  Test|  Test_SMITH_800|
| 7499| ALLEN| SALESMAN|  7698|1980-02-20|1600|    30|  02-01-2022|  Test| Test_ALLEN_1600|
| 7521|  WARD| SALESMAN|  7698|1980-02-22|1250|    30|  03-01-2022|  Test|  Test_WARD_1250|
| 7566| JONES|  MANAGER|  7839|1981-02-04|2975|    20|  04-01-2022|  Test| Test_JONES_2975|
| 7654|MARTIN| SALESMAN|  7698|1981-09-21|1250|    30|  05-01-2022|  Test|Test_MARTIN_1250|
| 7698|   SGR|  MANAGER|  7839|1981-01-05|2850|    30|  06-01-2022|  Test|   Test_SGR_2850|
| 7782|  RAVI|  MANAGER|  7839|1982-09-06|2450|    10|  07-01-2022|  Test|  Test_RAVI_2450|
| 7788| SCOTT|  ANALYST|  7566|1982-04-19|3000|    20|  08-01-2022|  Test| Test_SCOTT_3000|
| 7839|  KING|PRESIDENT|  null|      null|5000|    10|        null|  Test|  Test_KING_5000|
| 7844|TURNER| SALESMAN|  7698|1982-08-09|1500|    30|  01-02-2022|  Test|Test_TURNER_1500|
+-----+------+---------+------+----------+----+------+------------+------+----------------+
only showing top 10 rows

##4.Change data type of column

In [0]:
df2.printSchema()

root
 |-- EMPNO: integer (nullable = true)
 |-- ENAME: string (nullable = true)
 |-- JOB: string (nullable = true)
 |-- Manger: integer (nullable = true)
 |-- HIREDATE: date (nullable = true)
 |-- SAL: integer (nullable = true)
 |-- DEPTNO: integer (nullable = true)
 |-- UPDATED_DATE: string (nullable = true)
 |-- Source: string (nullable = false)
 |-- SOUR_ENAME: string (nullable = false)

In [0]:
df_cast = df2.withColumn('NEW_SAL',col('SAL').cast('string')).withColumn('NEW_EMPNO',col('EMPNO').cast('string'))
df_cast.printSchema()

root
 |-- EMPNO: integer (nullable = true)
 |-- ENAME: string (nullable = true)
 |-- JOB: string (nullable = true)
 |-- Manger: integer (nullable = true)
 |-- HIREDATE: date (nullable = true)
 |-- SAL: integer (nullable = true)
 |-- DEPTNO: integer (nullable = true)
 |-- UPDATED_DATE: string (nullable = true)
 |-- Source: string (nullable = false)
 |-- SOUR_ENAME: string (nullable = false)
 |-- NEW_SAL: string (nullable = true)
 |-- NEW_EMPNO: string (nullable = true)

##5.convert from String (dd-mm-yyyy) date format to spark date format (yyyy-mm-dd)

In [0]:
df2.show(5)

+-----+------+--------+------+----------+----+------+------------+------+----------------+
|EMPNO| ENAME|     JOB|Manger|  HIREDATE| SAL|DEPTNO|UPDATED_DATE|Source|      SOUR_ENAME|
+-----+------+--------+------+----------+----+------+------------+------+----------------+
| 7369| SMITH|   CLERK|  7902|1980-12-17| 800|    20|  01-01-2022|  Test|  Test_SMITH_800|
| 7499| ALLEN|SALESMAN|  7698|1980-02-20|1600|    30|  02-01-2022|  Test| Test_ALLEN_1600|
| 7521|  WARD|SALESMAN|  7698|1980-02-22|1250|    30|  03-01-2022|  Test|  Test_WARD_1250|
| 7566| JONES| MANAGER|  7839|1981-02-04|2975|    20|  04-01-2022|  Test| Test_JONES_2975|
| 7654|MARTIN|SALESMAN|  7698|1981-09-21|1250|    30|  05-01-2022|  Test|Test_MARTIN_1250|
+-----+------+--------+------+----------+----+------+------------+------+----------------+
only showing top 5 rows

In [0]:
df3 = df2.withColumn('UPDATED_DATE',to_date('UPDATED_DATE','dd-MM-yyyy'))
df3.show(5)

+-----+------+--------+------+----------+----+------+------------+------+----------------+
|EMPNO| ENAME|     JOB|Manger|  HIREDATE| SAL|DEPTNO|UPDATED_DATE|Source|      SOUR_ENAME|
+-----+------+--------+------+----------+----+------+------------+------+----------------+
| 7369| SMITH|   CLERK|  7902|1980-12-17| 800|    20|  2022-01-01|  Test|  Test_SMITH_800|
| 7499| ALLEN|SALESMAN|  7698|1980-02-20|1600|    30|  2022-01-02|  Test| Test_ALLEN_1600|
| 7521|  WARD|SALESMAN|  7698|1980-02-22|1250|    30|  2022-01-03|  Test|  Test_WARD_1250|
| 7566| JONES| MANAGER|  7839|1981-02-04|2975|    20|  2022-01-04|  Test| Test_JONES_2975|
| 7654|MARTIN|SALESMAN|  7698|1981-09-21|1250|    30|  2022-01-05|  Test|Test_MARTIN_1250|
+-----+------+--------+------+----------+----+------+------------+------+----------------+
only showing top 5 rows

##6.Adding new columns with different values

In [0]:

df4 = df3.withColumn('Positions',when( col('JOB') == 'SALESMAN', 'Level4')
               .when( col('JOB') == 'CLERK' ,'Level3')
               .when( col('JOB') == 'ANALYST' ,'Level3')
               .when( col('JOB') == 'doctor' ,'Level3')
               .when( col('JOB') == 'MANAGER','Level2')
               .when(  col('JOB') == 'PRESIDENT','Level1'))

df4.show(10)

+-----+------+---------+------+----------+----+------+------------+------+----------------+---------+
|EMPNO| ENAME|      JOB|Manger|  HIREDATE| SAL|DEPTNO|UPDATED_DATE|Source|      SOUR_ENAME|Positions|
+-----+------+---------+------+----------+----+------+------------+------+----------------+---------+
| 7369| SMITH|    CLERK|  7902|1980-12-17| 800|    20|  2022-01-01|  Test|  Test_SMITH_800|   Level3|
| 7499| ALLEN| SALESMAN|  7698|1980-02-20|1600|    30|  2022-01-02|  Test| Test_ALLEN_1600|   Level4|
| 7521|  WARD| SALESMAN|  7698|1980-02-22|1250|    30|  2022-01-03|  Test|  Test_WARD_1250|   Level4|
| 7566| JONES|  MANAGER|  7839|1981-02-04|2975|    20|  2022-01-04|  Test| Test_JONES_2975|   Level2|
| 7654|MARTIN| SALESMAN|  7698|1981-09-21|1250|    30|  2022-01-05|  Test|Test_MARTIN_1250|   Level4|
| 7698|   SGR|  MANAGER|  7839|1981-01-05|2850|    30|  2022-01-06|  Test|   Test_SGR_2850|   Level2|
| 7782|  RAVI|  MANAGER|  7839|1982-09-06|2450|    10|  2022-01-07|  Test|  Test_RAVI_2450|   Level2|
| 7788| SCOTT|  ANALYST|  7566|1982-04-19|3000|    20|  2022-01-08|  Test| Test_SCOTT_3000|   Level3|
| 7839|  KING|PRESIDENT|  null|      null|5000|    10|        null|  Test|  Test_KING_5000|   Level1|
| 7844|TURNER| SALESMAN|  7698|1982-08-09|1500|    30|  2022-02-01|  Test|Test_TURNER_1500|   Level4|
+-----+------+---------+------+----------+----+------+------------+------+----------------+---------+
only showing top 10 rows

##7.Adding current timestamp to dataframe

In [0]:
df5 =df4.withColumn('MODIFIED_DATE',current_date())
df5.show(10)

+-----+------+---------+------+----------+----+------+------------+------+----------------+---------+-------------+
|EMPNO| ENAME|      JOB|Manger|  HIREDATE| SAL|DEPTNO|UPDATED_DATE|Source|      SOUR_ENAME|Positions|MODIFIED_DATE|
+-----+------+---------+------+----------+----+------+------------+------+----------------+---------+-------------+
| 7369| SMITH|    CLERK|  7902|1980-12-17| 800|    20|  2022-01-01|  Test|  Test_SMITH_800|   Level3|   2024-01-24|
| 7499| ALLEN| SALESMAN|  7698|1980-02-20|1600|    30|  2022-01-02|  Test| Test_ALLEN_1600|   Level4|   2024-01-24|
| 7521|  WARD| SALESMAN|  7698|1980-02-22|1250|    30|  2022-01-03|  Test|  Test_WARD_1250|   Level4|   2024-01-24|
| 7566| JONES|  MANAGER|  7839|1981-02-04|2975|    20|  2022-01-04|  Test| Test_JONES_2975|   Level2|   2024-01-24|
| 7654|MARTIN| SALESMAN|  7698|1981-09-21|1250|    30|  2022-01-05|  Test|Test_MARTIN_1250|   Level4|   2024-01-24|
| 7698|   SGR|  MANAGER|  7839|1981-01-05|2850|    30|  2022-01-06|  Test|   Test_SGR_2850|   Level2|   2024-01-24|
| 7782|  RAVI|  MANAGER|  7839|1982-09-06|2450|    10|  2022-01-07|  Test|  Test_RAVI_2450|   Level2|   2024-01-24|
| 7788| SCOTT|  ANALYST|  7566|1982-04-19|3000|    20|  2022-01-08|  Test| Test_SCOTT_3000|   Level3|   2024-01-24|
| 7839|  KING|PRESIDENT|  null|      null|5000|    10|        null|  Test|  Test_KING_5000|   Level1|   2024-01-24|
| 7844|TURNER| SALESMAN|  7698|1982-08-09|1500|    30|  2022-02-01|  Test|Test_TURNER_1500|   Level4|   2024-01-24|
+-----+------+---------+------+----------+----+------+------------+------+----------------+---------+-------------+
only showing top 10 rows

##8.create year,month,day columns from Date Column

In [0]:
df6 = df5.withColumn('day',date_format('HIREDATE','dd')).withColumn('Month',date_format('HIREDATE','MM')).withColumn('year',date_format('HIREDATE','yyyy'))
df6.show(10)

+-----+------+---------+------+----------+----+------+------------+------+----------------+---------+-------------+----+-----+----+
|EMPNO| ENAME|      JOB|Manger|  HIREDATE| SAL|DEPTNO|UPDATED_DATE|Source|      SOUR_ENAME|Positions|MODIFIED_DATE| day|Month|year|
+-----+------+---------+------+----------+----+------+------------+------+----------------+---------+-------------+----+-----+----+
| 7369| SMITH|    CLERK|  7902|1980-12-17| 800|    20|  2022-01-01|  Test|  Test_SMITH_800|   Level3|   2024-01-24|  17|   12|1980|
| 7499| ALLEN| SALESMAN|  7698|1980-02-20|1600|    30|  2022-01-02|  Test| Test_ALLEN_1600|   Level4|   2024-01-24|  20|   02|1980|
| 7521|  WARD| SALESMAN|  7698|1980-02-22|1250|    30|  2022-01-03|  Test|  Test_WARD_1250|   Level4|   2024-01-24|  22|   02|1980|
| 7566| JONES|  MANAGER|  7839|1981-02-04|2975|    20|  2022-01-04|  Test| Test_JONES_2975|   Level2|   2024-01-24|  04|   02|1981|
| 7654|MARTIN| SALESMAN|  7698|1981-09-21|1250|    30|  2022-01-05|  Test|Test_MARTIN_1250|   Level4|   2024-01-24|  21|   09|1981|
| 7698|   SGR|  MANAGER|  7839|1981-01-05|2850|    30|  2022-01-06|  Test|   Test_SGR_2850|   Level2|   2024-01-24|  05|   01|1981|
| 7782|  RAVI|  MANAGER|  7839|1982-09-06|2450|    10|  2022-01-07|  Test|  Test_RAVI_2450|   Level2|   2024-01-24|  06|   09|1982|
| 7788| SCOTT|  ANALYST|  7566|1982-04-19|3000|    20|  2022-01-08|  Test| Test_SCOTT_3000|   Level3|   2024-01-24|  19|   04|1982|
| 7839|  KING|PRESIDENT|  null|      null|5000|    10|        null|  Test|  Test_KING_5000|   Level1|   2024-01-24|null| null|null|
| 7844|TURNER| SALESMAN|  7698|1982-08-09|1500|    30|  2022-02-01|  Test|Test_TURNER_1500|   Level4|   2024-01-24|  09|   08|1982|
+-----+------+---------+------+----------+----+------+------------+------+----------------+---------+-------------+----+-----+----+
only showing top 10 rows

##9.Create A partitioned dataframe by year,month,day and save as a parquet file

In [0]:
df6.write.partitionBy('year','month','day').mode('overwrite').parquet('dbfs:/FileStore/shared_uploads/nookala382@gmail.com/output/EMP_HIREDATE')

##10.Create A partitioned dataframe on deptno and save as a parquet file

In [0]:
df6.write.partitionBy('DEPTNO').mode('overwrite').parquet('dbfs:/FileStore/shared_uploads/nookala382@gmail.com/output/EMP_DEPTNO')

##11.print all parquet file names in folder

In [0]:
file_name = spark.read.format('parquet').load('dbfs:/FileStore/shared_uploads/nookala382@gmail.com/output/EMP_DEPTNO').withColumn('file_name',input_file_name())
file_name.select('file_name').show(truncate = False)

+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|file_name                                                                                                                                                                       |
+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|dbfs:/FileStore/shared_uploads/nookala382@gmail.com/output/EMP_DEPTNO/DEPTNO=30/part-00000-tid-316395442754821582-069db427-f7f4-4c4e-acfd-18947e9a6872-656-4.c000.snappy.parquet|
|dbfs:/FileStore/shared_uploads/nookala382@gmail.com/output/EMP_DEPTNO/DEPTNO=30/part-00000-tid-316395442754821582-069db427-f7f4-4c4e-acfd-18947e9a6872-656-4.c000.snappy.parquet|
|dbfs:/FileStore/shared_uploads/nookala382@gmail.com/output/EMP_DEPTNO/DEPTNO=30/part-00000-tid-316395442754821582-069db427-f7f4-4c4e-acfd-18947e9a6872-656-4.c000.snappy.parquet|
|dbfs:/FileStore/shared_uploads/nookala382@gmail.com/output/EMP_DEPTNO/DEPTNO=30/part-00000-tid-316395442754821582-069db427-f7f4-4c4e-acfd-18947e9a6872-656-4.c000.snappy.parquet|
|dbfs:/FileStore/shared_uploads/nookala382@gmail.com/output/EMP_DEPTNO/DEPTNO=30/part-00000-tid-316395442754821582-069db427-f7f4-4c4e-acfd-18947e9a6872-656-4.c000.snappy.parquet|
|dbfs:/FileStore/shared_uploads/nookala382@gmail.com/output/EMP_DEPTNO/DEPTNO=30/part-00000-tid-316395442754821582-069db427-f7f4-4c4e-acfd-18947e9a6872-656-4.c000.snappy.parquet|
|dbfs:/FileStore/shared_uploads/nookala382@gmail.com/output/EMP_DEPTNO/DEPTNO=30/part-00000-tid-316395442754821582-069db427-f7f4-4c4e-acfd-18947e9a6872-656-4.c000.snappy.parquet|
|dbfs:/FileStore/shared_uploads/nookala382@gmail.com/output/EMP_DEPTNO/DEPTNO=30/part-00000-tid-316395442754821582-069db427-f7f4-4c4e-acfd-18947e9a6872-656-4.c000.snappy.parquet|
|dbfs:/FileStore/shared_uploads/nookala382@gmail.com/output/EMP_DEPTNO/DEPTNO=30/part-00000-tid-316395442754821582-069db427-f7f4-4c4e-acfd-18947e9a6872-656-4.c000.snappy.parquet|
|dbfs:/FileStore/shared_uploads/nookala382@gmail.com/output/EMP_DEPTNO/DEPTNO=30/part-00000-tid-316395442754821582-069db427-f7f4-4c4e-acfd-18947e9a6872-656-4.c000.snappy.parquet|
|dbfs:/FileStore/shared_uploads/nookala382@gmail.com/output/EMP_DEPTNO/DEPTNO=30/part-00000-tid-316395442754821582-069db427-f7f4-4c4e-acfd-18947e9a6872-656-4.c000.snappy.parquet|
|dbfs:/FileStore/shared_uploads/nookala382@gmail.com/output/EMP_DEPTNO/DEPTNO=30/part-00000-tid-316395442754821582-069db427-f7f4-4c4e-acfd-18947e9a6872-656-4.c000.snappy.parquet|
|dbfs:/FileStore/shared_uploads/nookala382@gmail.com/output/EMP_DEPTNO/DEPTNO=20/part-00000-tid-316395442754821582-069db427-f7f4-4c4e-acfd-18947e9a6872-656-3.c000.snappy.parquet|
|dbfs:/FileStore/shared_uploads/nookala382@gmail.com/output/EMP_DEPTNO/DEPTNO=20/part-00000-tid-316395442754821582-069db427-f7f4-4c4e-acfd-18947e9a6872-656-3.c000.snappy.parquet|
|dbfs:/FileStore/shared_uploads/nookala382@gmail.com/output/EMP_DEPTNO/DEPTNO=20/part-00000-tid-316395442754821582-069db427-f7f4-4c4e-acfd-18947e9a6872-656-3.c000.snappy.parquet|
|dbfs:/FileStore/shared_uploads/nookala382@gmail.com/output/EMP_DEPTNO/DEPTNO=20/part-00000-tid-316395442754821582-069db427-f7f4-4c4e-acfd-18947e9a6872-656-3.c000.snappy.parquet|
|dbfs:/FileStore/shared_uploads/nookala382@gmail.com/output/EMP_DEPTNO/DEPTNO=20/part-00000-tid-316395442754821582-069db427-f7f4-4c4e-acfd-18947e9a6872-656-3.c000.snappy.parquet|
|dbfs:/FileStore/shared_uploads/nookala382@gmail.com/output/EMP_DEPTNO/DEPTNO=20/part-00000-tid-316395442754821582-069db427-f7f4-4c4e-acfd-18947e9a6872-656-3.c000.snappy.parquet|
|dbfs:/FileStore/shared_uploads/nookala382@gmail.com/output/EMP_DEPTNO/DEPTNO=20/part-00000-tid-316395442754821582-069db427-f7f4-4c4e-acfd-18947e9a6872-656-3.c000.snappy.parquet|
|dbfs:/FileStore/shared_uploads/nookala382@gmail.com/output/EMP_DEPTNO/DEPTNO=20/part-00000-tid-316395442754821582-069db427-f7f4-4c4e-acfd-18947e9a6872-656-3.c000.snappy.parquet|
+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 20 rows

##12.Ftech all parquet file row count in folder

In [0]:
file_count = spark.read.format('parquet').load('dbfs:/FileStore/shared_uploads/nookala382@gmail.com/output/EMP_DEPTNO').withColumn('file_name',input_file_name())
file_count.groupBy('file_name').count().show()

+--------------------+-----+
|           file_name|count|
+--------------------+-----+
|dbfs:/FileStore/s...|   12|
|dbfs:/FileStore/s...|   10|
|dbfs:/FileStore/s...|    6|
|dbfs:/FileStore/s...|    2|
|dbfs:/FileStore/s...|    3|
+--------------------+-----+

##13.read all files from a single directory

In [0]:
df_directory = spark.read.format('parquet').option('recursiveFileLookp',True).option('header',True).option('inferSchema',True).option('nullValue','null').load('dbfs:/FileStore/shared_uploads/nookala382@gmail.com/output/EMP_DEPTNO')

df_directory.show(10)

+-----+------+--------+------+----------+----+------------+------+----------------+---------+-------------+----+-----+----+------+
|EMPNO| ENAME|     JOB|Manger|  HIREDATE| SAL|UPDATED_DATE|Source|      SOUR_ENAME|Positions|MODIFIED_DATE| day|Month|year|DEPTNO|
+-----+------+--------+------+----------+----+------------+------+----------------+---------+-------------+----+-----+----+------+
| 7654|MARTIN|SALESMAN|  7698|1981-09-21|1250|  2022-01-05|  Test|Test_MARTIN_1250|   Level4|   2024-01-24|  21|   09|1981|    30|
| 7698|   SGR| MANAGER|  7839|1981-01-05|2850|  2022-01-06|  Test|   Test_SGR_2850|   Level2|   2024-01-24|  05|   01|1981|    30|
| 7844|TURNER|SALESMAN|  7698|1982-08-09|1500|  2022-02-01|  Test|Test_TURNER_1500|   Level4|   2024-01-24|  09|   08|1982|    30|
| 7900| JAMES|   CLERK|  7698|1987-03-12| 950|  2022-02-03|  Test|  Test_JAMES_950|   Level3|   2024-01-24|  12|   03|1987|    30|
| 7499| ALLEN|SALESMAN|  7698|1985-02-20|1600|  2022-02-08|  Test| Test_ALLEN_1600|   Level4|   2024-01-24|  20|   02|1985|    30|
| 7521|  WARD|SALESMAN|  7698|1985-02-22|1250|        null|  Test|  Test_WARD_1250|   Level4|   2024-01-24|  22|   02|1985|    30|
| 7654|MARTIN|SALESMAN|  7698|1986-09-21|1250|  2021-02-02|  Test|Test_MARTIN_1250|   Level4|   2024-01-24|  21|   09|1986|    30|
| 7698|   SGR| MANAGER|  7839|1986-01-05|2850|  2021-02-03|  Test|   Test_SGR_2850|   Level2|   2024-01-24|  05|   01|1986|    30|
| 7844|TURNER|SALESMAN|  7698|1981-08-09|1500|  2021-02-07|  Test|Test_TURNER_1500|   Level4|   2024-01-24|  09|   08|1981|    30|
| 7900| JAMES|   CLERK|  7698|      null| 950|        null|  Test|  Test_JAMES_950|   Level3|   2024-01-24|null| null|null|    30|
+-----+------+--------+------+----------+----+------------+------+----------------+---------+-------------+----+-----+----+------+
only showing top 10 rows

##14.read all parequet files from a directory inside another directory (nested/sub directory)

In [0]:
df_sub_directory = spark.read.format('parquet').option('recursiveFileLookp',True).option('header',True).option('inferSchema',True).option('nullValue','null').load('dbfs:/FileStore/shared_uploads/nookala382@gmail.com/output/EMP_DEPTNO')

df_sub_directory.show(10)

+-----+------+--------+------+----------+----+------------+------+----------------+---------+-------------+----+-----+----+------+
|EMPNO| ENAME|     JOB|Manger|  HIREDATE| SAL|UPDATED_DATE|Source|      SOUR_ENAME|Positions|MODIFIED_DATE| day|Month|year|DEPTNO|
+-----+------+--------+------+----------+----+------------+------+----------------+---------+-------------+----+-----+----+------+
| 7654|MARTIN|SALESMAN|  7698|1981-09-21|1250|  2022-01-05|  Test|Test_MARTIN_1250|   Level4|   2024-01-24|  21|   09|1981|    30|
| 7698|   SGR| MANAGER|  7839|1981-01-05|2850|  2022-01-06|  Test|   Test_SGR_2850|   Level2|   2024-01-24|  05|   01|1981|    30|
| 7844|TURNER|SALESMAN|  7698|1982-08-09|1500|  2022-02-01|  Test|Test_TURNER_1500|   Level4|   2024-01-24|  09|   08|1982|    30|
| 7900| JAMES|   CLERK|  7698|1987-03-12| 950|  2022-02-03|  Test|  Test_JAMES_950|   Level3|   2024-01-24|  12|   03|1987|    30|
| 7499| ALLEN|SALESMAN|  7698|1985-02-20|1600|  2022-02-08|  Test| Test_ALLEN_1600|   Level4|   2024-01-24|  20|   02|1985|    30|
| 7521|  WARD|SALESMAN|  7698|1985-02-22|1250|        null|  Test|  Test_WARD_1250|   Level4|   2024-01-24|  22|   02|1985|    30|
| 7654|MARTIN|SALESMAN|  7698|1986-09-21|1250|  2021-02-02|  Test|Test_MARTIN_1250|   Level4|   2024-01-24|  21|   09|1986|    30|
| 7698|   SGR| MANAGER|  7839|1986-01-05|2850|  2021-02-03|  Test|   Test_SGR_2850|   Level2|   2024-01-24|  05|   01|1986|    30|
| 7844|TURNER|SALESMAN|  7698|1981-08-09|1500|  2021-02-07|  Test|Test_TURNER_1500|   Level4|   2024-01-24|  09|   08|1981|    30|
| 7900| JAMES|   CLERK|  7698|      null| 950|        null|  Test|  Test_JAMES_950|   Level3|   2024-01-24|null| null|null|    30|
+-----+------+--------+------+----------+----+------------+------+----------------+---------+-------------+----+-----+----+------+
only showing top 10 rows

In [0]:
df6.withColumn('partition_id',spark_partition_id()).groupBy('partition_id').count().show()

+------------+-----+
|partition_id|count|
+------------+-----+
|           0|   33|
+------------+-----+

##15.Create A partitioned dataframe by year,month,day save it to Employee Hire table

In [0]:
df6.write.partitionBy('year','month','day').saveAsTable('Employee_Hire')

##16.Dataframe Write Modes

1.overwrite – mode is used to overwrite the existing file. \
2.append – To add the data to the existing file. \
3.ignore – Ignores write operation when the file already exists. \
4.error – This is a default option when the file already exists, it returns an error.

In [0]:
#overwrite – mode is used to overwrite the existing file.
df6.write.mode('overwrite').saveAsTable('Employee_Hire')
df6.count()

Out[310]: 33

In [0]:
# append – To add the data to the existing file.
df6.write.mode('append').saveAsTable('Employee_Hire')
df6.count()

Out[311]: 33

In [0]:
#ignore – Ignores write operation when the file already exists.
df6.write.mode('ignore').saveAsTable('Employee_Hire')
df6.count()

Out[312]: 33

##17.Repartition

In [0]:
df7 = df6.repartition(4).withColumn('partition_id',spark_partition_id())
df7.rdd.getNumPartitions()

Out[313]: 4

##18.how to get no.of rows in each partition

In [0]:
df7.groupBy('partition_id').count().show()

+------------+-----+
|partition_id|count|
+------------+-----+
|           0|    8|
|           1|    9|
|           2|    8|
|           3|    8|
+------------+-----+

##19.how to handle multi delimiter files

In [0]:

df_multi_deli = spark.read.format('csv').option('header',True).option('sep','||').option('inferSchema',True).option('nullValue','null').load('dbfs:/FileStore/shared_uploads/nookala382@gmail.com/input/emp_multiple_delimeter.txt')

df_multi_deli.show(truncate = False)

+-----+------+---------+----+----------+-----------------------+
|EMPNO|ENAME |JOB      |MGR |HIREDATE  |SAL                    |
+-----+------+---------+----+----------+-----------------------+
|7839 |KING  |PRESIDENT|null|null      |5000,null,10,null      |
|7844 |TURNER|SALESMAN |7698|1981-08-09|1500,0,30,01-02-2022   |
|7876 |ADAMS |CLERK    |7788|1987-05-23|1100,null,20,02-02-2022|
|7900 |JAMES |CLERK    |7698|1981-03-12|950,null,30,03-02-2022 |
|7902 |FORD  |ANALYST  |7566|1981-03-12|3000,null,20,04-02-2022|
|7934 |MILLER|CLERK    |7782|1982-03-01|1300,null,10,05-02-2022|
|1234 |SEKHAR|doctor   |7777|null      |667,78,80,06-02-2022   |
|7369 |SMITH |CLERK    |7902|1980-12-17|800,null,20,07-02-2022 |
|7499 |ALLEN |SALESMAN |7698|1981-02-20|1600,300,30,08-02-2022 |
|7521 |WARD  |SALESMAN |7698|1981-02-22|1250,500,30,null       |
|7566 |JONES |MANAGER  |7839|1981-02-04|2975,null,20,01-02-2021|
+-----+------+---------+----+----------+-----------------------+

In [0]:
df_multi_deli.withColumn('Split',split('SAL',','))\
    .withColumn('SAL', col('Split')[0])\
    .withColumn('COMM',col('split')[1])\
    .withColumn('DEPTNO',col('split')[2])\
    .withColumn('UPDATED_DATE',col('split')[3])\
    .drop('Split') \
    .show(10)

+-----+------+---------+----+----------+----+----+------+------------+
|EMPNO| ENAME|      JOB| MGR|  HIREDATE| SAL|COMM|DEPTNO|UPDATED_DATE|
+-----+------+---------+----+----------+----+----+------+------------+
| 7839|  KING|PRESIDENT|null|      null|5000|null|    10|        null|
| 7844|TURNER| SALESMAN|7698|1981-08-09|1500|   0|    30|  01-02-2022|
| 7876| ADAMS|    CLERK|7788|1987-05-23|1100|null|    20|  02-02-2022|
| 7900| JAMES|    CLERK|7698|1981-03-12| 950|null|    30|  03-02-2022|
| 7902|  FORD|  ANALYST|7566|1981-03-12|3000|null|    20|  04-02-2022|
| 7934|MILLER|    CLERK|7782|1982-03-01|1300|null|    10|  05-02-2022|
| 1234|SEKHAR|   doctor|7777|      null| 667|  78|    80|  06-02-2022|
| 7369| SMITH|    CLERK|7902|1980-12-17| 800|null|    20|  07-02-2022|
| 7499| ALLEN| SALESMAN|7698|1981-02-20|1600| 300|    30|  08-02-2022|
| 7521|  WARD| SALESMAN|7698|1981-02-22|1250| 500|    30|        null|
+-----+------+---------+----+----------+----+----+------+------------+
only showing top 10 rows

##20.Remove duplicates in dataFrame

1.distinct() \
2.dropDuplicates()/drop_duplicates() \
3.Remove duplicates using row_number()

In [0]:
#distinct

df = df.dropna()
df.distinct().count()

Out[343]: 24

In [0]:
#dropduplicates - it will keep only first record ,we will not get latest date data
#so we need to use order by function and desc to drop duplicates

df.orderBy(col('EMPNO').desc()).dropDuplicates(['EMPNO']).count()

Out[344]: 13

In [0]:
# window Function with row number

from pyspark.sql.functions import *
from pyspark.sql.window import *
win = Window.partitionBy('ENAME').orderBy(col('EMPNO'))
df_row_number = df.withColumn("row_number", row_number().over(win)) 

df_row_number.show(10)
df_row_number.count()

+-----+------+--------+------+----------+----+------+------------+----------+
|EMPNO| ENAME|     JOB|Manger|  HIREDATE| SAL|DEPTNO|UPDATED_DATE|row_number|
+-----+------+--------+------+----------+----+------+------------+----------+
| 7876| ADAMS|   CLERK|  7788|1987-05-23|1100|    20|  02-02-2022|         1|
| 7876| ADAMS|   CLERK|  7788|1987-05-23|1100|    20|  08-02-2021|         2|
| 7499| ALLEN|SALESMAN|  7698|1980-02-20|1600|    30|  02-01-2022|         1|
| 7499| ALLEN|SALESMAN|  7698|1985-02-20|1600|    30|  08-02-2022|         2|
| 7902|  FORD| ANALYST|  7566|1987-03-12|3000|    20|  04-02-2022|         1|
| 7902|  FORD| ANALYST|  7566|1981-03-12|3000|    20|  01-01-2021|         2|
| 7900| JAMES|   CLERK|  7698|1987-03-12| 950|    30|  03-02-2022|         1|
| 7566| JONES| MANAGER|  7839|1981-02-04|2975|    20|  04-01-2022|         1|
| 7566| JONES| MANAGER|  7839|1986-02-04|2975|    20|  01-02-2021|         2|
| 7654|MARTIN|SALESMAN|  7698|1981-09-21|1250|    30|  05-01-2022|         1|
+-----+------+--------+------+----------+----+------+------------+----------+
only showing top 10 rows

Out[351]: 24

In [0]:
#good data
good_data = df_row_number.filter( col('row_number') ==1 )
good_data.show(10)
good_data.count()

+-----+------+--------+------+----------+----+------+------------+----------+
|EMPNO| ENAME|     JOB|Manger|  HIREDATE| SAL|DEPTNO|UPDATED_DATE|row_number|
+-----+------+--------+------+----------+----+------+------------+----------+
| 7876| ADAMS|   CLERK|  7788|1987-05-23|1100|    20|  02-02-2022|         1|
| 7499| ALLEN|SALESMAN|  7698|1980-02-20|1600|    30|  02-01-2022|         1|
| 7902|  FORD| ANALYST|  7566|1987-03-12|3000|    20|  04-02-2022|         1|
| 7900| JAMES|   CLERK|  7698|1987-03-12| 950|    30|  03-02-2022|         1|
| 7566| JONES| MANAGER|  7839|1981-02-04|2975|    20|  04-01-2022|         1|
| 7654|MARTIN|SALESMAN|  7698|1981-09-21|1250|    30|  05-01-2022|         1|
| 7934|MILLER|   CLERK|  7782|1987-03-01|1300|    10|  05-02-2022|         1|
| 7782|  RAVI| MANAGER|  7839|1982-09-06|2450|    10|  07-01-2022|         1|
| 7788| SCOTT| ANALYST|  7566|1982-04-19|3000|    20|  08-01-2022|         1|
| 7698|   SGR| MANAGER|  7839|1981-01-05|2850|    30|  06-01-2022|         1|
+-----+------+--------+------+----------+----+------+------------+----------+
only showing top 10 rows

Out[348]: 13


##22. Save Duplicate data as data Frame

In [0]:
#Duplicate data

duplicate_data  = df_row_number.filter( col('row_number')>1)
duplicate_data.show(10)
duplicate_data.count()

+-----+------+--------+------+----------+----+------+------------+----------+
|EMPNO| ENAME|     JOB|Manger|  HIREDATE| SAL|DEPTNO|UPDATED_DATE|row_number|
+-----+------+--------+------+----------+----+------+------------+----------+
| 7876| ADAMS|   CLERK|  7788|1987-05-23|1100|    20|  08-02-2021|         2|
| 7499| ALLEN|SALESMAN|  7698|1985-02-20|1600|    30|  08-02-2022|         2|
| 7902|  FORD| ANALYST|  7566|1981-03-12|3000|    20|  01-01-2021|         2|
| 7566| JONES| MANAGER|  7839|1986-02-04|2975|    20|  01-02-2021|         2|
| 7654|MARTIN|SALESMAN|  7698|1986-09-21|1250|    30|  02-02-2021|         2|
| 7934|MILLER|   CLERK|  7782|1982-03-01|1300|    10|  02-01-2021|         2|
| 7782|  RAVI| MANAGER|  7839|1981-09-06|2450|    10|  04-02-2021|         2|
| 7788| SCOTT| ANALYST|  7566|1987-04-19|3000|    20|  05-02-2021|         2|
| 7698|   SGR| MANAGER|  7839|1986-01-05|2850|    30|  03-02-2021|         2|
| 7369| SMITH|   CLERK|  7902|1985-12-17| 800|    20|  07-02-2022|         2|
+-----+------+--------+------+----------+----+------+------------+----------+
only showing top 10 rows

Out[350]: 11

##22.Add/generate sequence id /surrogate key column

1.monotonically_increasing_id() \
2.crc32 - generate random numbers \
3.md5 - hash key generater function \
4.sha2 -hash key generate function \
5.row_number() - window function

In [0]:
#monotonically_increasing_id

df.withColumn('id',monotonically_increasing_id()).show(5,truncate = False)

# from custom id
df.withColumn('mono_id',monotonically_increasing_id()+1).show(5,truncate = False)

+-----+------+--------+------+----------+----+------+------------+---+
|EMPNO|ENAME |JOB     |Manger|HIREDATE  |SAL |DEPTNO|UPDATED_DATE|id |
+-----+------+--------+------+----------+----+------+------------+---+
|7369 |SMITH |CLERK   |7902  |1980-12-17|800 |20    |01-01-2022  |0  |
|7499 |ALLEN |SALESMAN|7698  |1980-02-20|1600|30    |02-01-2022  |1  |
|7521 |WARD  |SALESMAN|7698  |1980-02-22|1250|30    |03-01-2022  |2  |
|7566 |JONES |MANAGER |7839  |1981-02-04|2975|20    |04-01-2022  |3  |
|7654 |MARTIN|SALESMAN|7698  |1981-09-21|1250|30    |05-01-2022  |4  |
+-----+------+--------+------+----------+----+------+------------+---+
only showing top 5 rows

+-----+------+--------+------+----------+----+------+------------+-------+
|EMPNO|ENAME |JOB     |Manger|HIREDATE  |SAL |DEPTNO|UPDATED_DATE|mono_id|
+-----+------+--------+------+----------+----+------+------------+-------+
|7369 |SMITH |CLERK   |7902  |1980-12-17|800 |20    |01-01-2022  |1      |
|7499 |ALLEN |SALESMAN|7698  |1980-02-20|1600|30    |02-01-2022  |2      |
|7521 |WARD  |SALESMAN|7698  |1980-02-22|1250|30    |03-01-2022  |3      |
|7566 |JONES |MANAGER |7839  |1981-02-04|2975|20    |04-01-2022  |4      |
|7654 |MARTIN|SALESMAN|7698  |1981-09-21|1250|30    |05-01-2022  |5      |
+-----+------+--------+------+----------+----+------+------------+-------+
only showing top 5 rows

In [0]:
# crc32 hash key
#1.generate random numbers - it is works only on string data type

#2.We should not use crc32 surrogate key generation on larger table because it can generate duplicate sequence if more than 100k/1M records

df.withColumn('crc32',crc32('ENAME')).show(5)

df.withColumn('crc32',crc32( col('EMPNO').cast('string'))).show(5,truncate = False)

+-----+------+--------+------+----------+----+------+------------+----------+
|EMPNO| ENAME|     JOB|Manger|  HIREDATE| SAL|DEPTNO|UPDATED_DATE|     crc32|
+-----+------+--------+------+----------+----+------+------------+----------+
| 7369| SMITH|   CLERK|  7902|1980-12-17| 800|    20|  01-01-2022| 158606683|
| 7499| ALLEN|SALESMAN|  7698|1980-02-20|1600|    30|  02-01-2022| 395952658|
| 7521|  WARD|SALESMAN|  7698|1980-02-22|1250|    30|  03-01-2022|4294620591|
| 7566| JONES| MANAGER|  7839|1981-02-04|2975|    20|  04-01-2022| 310305882|
| 7654|MARTIN|SALESMAN|  7698|1981-09-21|1250|    30|  05-01-2022|3724087414|
+-----+------+--------+------+----------+----+------+------------+----------+
only showing top 5 rows

+-----+------+--------+------+----------+----+------+------------+----------+
|EMPNO|ENAME |JOB     |Manger|HIREDATE  |SAL |DEPTNO|UPDATED_DATE|crc32     |
+-----+------+--------+------+----------+----+------+------------+----------+
|7369 |SMITH |CLERK   |7902  |1980-12-17|800 |20    |01-01-2022  |3163315632|
|7499 |ALLEN |SALESMAN|7698  |1980-02-20|1600|30    |02-01-2022  |1046173690|
|7521 |WARD  |SALESMAN|7698  |1980-02-22|1250|30    |03-01-2022  |3535170612|
|7566 |JONES |MANAGER |7839  |1981-02-04|2975|20    |04-01-2022  |683555987 |
|7654 |MARTIN|SALESMAN|7698  |1981-09-21|1250|30    |05-01-2022  |4024152101|
+-----+------+--------+------+----------+----+------+------------+----------+
only showing top 5 rows

In [0]:
# md5 - 32 bit hash key
# not suggeted for if records more than 1 Million it can generate duplicates

df.withColumn('md5',md5( col('EMPNO').cast('string'))).show(5,truncate = False)

+-----+------+--------+------+----------+----+------+------------+--------------------------------+
|EMPNO|ENAME |JOB     |Manger|HIREDATE  |SAL |DEPTNO|UPDATED_DATE|md5                             |
+-----+------+--------+------+----------+----+------+------------+--------------------------------+
|7369 |SMITH |CLERK   |7902  |1980-12-17|800 |20    |01-01-2022  |0d7f9017fbda691900187b22404b8a1f|
|7499 |ALLEN |SALESMAN|7698  |1980-02-20|1600|30    |02-01-2022  |7a2b33c672ce223b2aa5789171ddde2f|
|7521 |WARD  |SALESMAN|7698  |1980-02-22|1250|30    |03-01-2022  |e1e1f667ce4596e5644be6fab627c226|
|7566 |JONES |MANAGER |7839  |1981-02-04|2975|20    |04-01-2022  |b937384a573b94c4d7cc6004c496f919|
|7654 |MARTIN|SALESMAN|7698  |1981-09-21|1250|30    |05-01-2022  |e2a7555f7cabd6e31aef45cb8cda4999|
+-----+------+--------+------+----------+----+------+------------+--------------------------------+
only showing top 5 rows

In [0]:
#sha2 - hash key value
#suggeted for huge data 256 0r 512 bits

df.withColumn('sha2',sha2(col('EMPNO').cast('string'),256)).show(5,truncate = False)
df.withColumn('sha2',sha2(col('EMPNO').cast('string'),512)).show(5,truncate = False)

+-----+------+--------+------+----------+----+------+------------+----------------------------------------------------------------+
|EMPNO|ENAME |JOB     |Manger|HIREDATE  |SAL |DEPTNO|UPDATED_DATE|sha2                                                            |
+-----+------+--------+------+----------+----+------+------------+----------------------------------------------------------------+
|7369 |SMITH |CLERK   |7902  |1980-12-17|800 |20    |01-01-2022  |c59f438f16c5a409eb2a040b299e82de37503321b9cbfec4fb351547261dd1b1|
|7499 |ALLEN |SALESMAN|7698  |1980-02-20|1600|30    |02-01-2022  |4427dc2e32a1d099dbe2e3c093a8726e0ea72b9422c36a99915dae1d31e9385f|
|7521 |WARD  |SALESMAN|7698  |1980-02-22|1250|30    |03-01-2022  |74ed8ca63e8b4fb8b8ac06e8df400f098b0b09cf1b89c8a331e72e1919b57bd4|
|7566 |JONES |MANAGER |7839  |1981-02-04|2975|20    |04-01-2022  |b2ca4f93866dc5f5aa73f9df7a8c8d7ce03d296a3ccb5eec5fc28717f2de4874|
|7654 |MARTIN|SALESMAN|7698  |1981-09-21|1250|30    |05-01-2022  |b969b01c158ebfecd0ac568aee526cb1ff8811fcdc77b4d682dab89146ad9891|
+-----+------+--------+------+----------+----+------+------------+----------------------------------------------------------------+
only showing top 5 rows

+-----+------+--------+------+----------+----+------+------------+--------------------------------------------------------------------------------------------------------------------------------+
|EMPNO|ENAME |JOB     |Manger|HIREDATE  |SAL |DEPTNO|UPDATED_DATE|sha2                                                                                                                            |
+-----+------+--------+------+----------+----+------+------------+--------------------------------------------------------------------------------------------------------------------------------+
|7369 |SMITH |CLERK   |7902  |1980-12-17|800 |20    |01-01-2022  |22930c98e9d90f9abae586704aa8576e81bcc8a33e485b36b74593864479854600726a61a5a8d7c0c7c0a8a4209b5079398d171d679cef2817c8cd9db64f2275|
|7499 |ALLEN |SALESMAN|7698  |1980-02-20|1600|30    |02-01-2022  |c35f154d8a448e86bc767b131cfbf91655a293b5366c1dc0a1182757f8d0e421595f4d564c3c62996a7ad1f14768458d3f9d8ccff736637ae22b957e9f69d9fe|
|7521 |WARD  |SALESMAN|7698  |1980-02-22|1250|30    |03-01-2022  |a850b37e31d80e084a966d1aa936e7a48e887867cde7b19110e74a6d5c036dbaba8c102ed053d0d1d6353ccbaaa02092aa94063a814b0f18affd15e2df0d7e9a|
|7566 |JONES |MANAGER |7839  |1981-02-04|2975|20    |04-01-2022  |94d6415a845f551d7cb76343d6faa77cd3eec1d286e72c52afd73b7e0a60f96468495f229bc49e752d4d222894fc9ba4d60ac69a2e96442d06253b25246b6341|
|7654 |MARTIN|SALESMAN|7698  |1981-09-21|1250|30    |05-01-2022  |9866bb24a2c180ce14775b5139b76371ba61c051b76cf3cb081cc0f3cd87597cc285f82ffc54bddecbe4f591b294777ea47f539631300d9416e3ed89d26fdf5a|
+-----+------+--------+------+----------+----+------+------------+--------------------------------------------------------------------------------------------------------------------------------+
only showing top 5 rows

In [0]:
#row_number

win = Window.orderBy( col('SAL').desc())

df.withColumn('row_number',row_number().over(win)).show()

+-----+------+--------+------+----------+----+------+------------+----------+
|EMPNO| ENAME|     JOB|Manger|  HIREDATE| SAL|DEPTNO|UPDATED_DATE|row_number|
+-----+------+--------+------+----------+----+------+------------+----------+
| 7788| SCOTT| ANALYST|  7566|1982-04-19|3000|    20|  08-01-2022|         1|
| 7902|  FORD| ANALYST|  7566|1987-03-12|3000|    20|  04-02-2022|         2|
| 7788| SCOTT| ANALYST|  7566|1987-04-19|3000|    20|  05-02-2021|         3|
| 7902|  FORD| ANALYST|  7566|1981-03-12|3000|    20|  01-01-2021|         4|
| 7566| JONES| MANAGER|  7839|1981-02-04|2975|    20|  04-01-2022|         5|
| 7566| JONES| MANAGER|  7839|1986-02-04|2975|    20|  01-02-2021|         6|
| 7698|   SGR| MANAGER|  7839|1981-01-05|2850|    30|  06-01-2022|         7|
| 7698|   SGR| MANAGER|  7839|1986-01-05|2850|    30|  03-02-2021|         8|
| 7782|  RAVI| MANAGER|  7839|1982-09-06|2450|    10|  07-01-2022|         9|
| 7782|  RAVI| MANAGER|  7839|1981-09-06|2450|    10|  04-02-2021|        10|
| 7499| ALLEN|SALESMAN|  7698|1980-02-20|1600|    30|  02-01-2022|        11|
| 7499| ALLEN|SALESMAN|  7698|1985-02-20|1600|    30|  08-02-2022|        12|
| 7844|TURNER|SALESMAN|  7698|1982-08-09|1500|    30|  01-02-2022|        13|
| 7844|TURNER|SALESMAN|  7698|1981-08-09|1500|    30|  07-02-2021|        14|
| 7934|MILLER|   CLERK|  7782|1987-03-01|1300|    10|  05-02-2022|        15|
| 7934|MILLER|   CLERK|  7782|1982-03-01|1300|    10|  02-01-2021|        16|
| 7521|  WARD|SALESMAN|  7698|1980-02-22|1250|    30|  03-01-2022|        17|
| 7654|MARTIN|SALESMAN|  7698|1981-09-21|1250|    30|  05-01-2022|        18|
| 7654|MARTIN|SALESMAN|  7698|1986-09-21|1250|    30|  02-02-2021|        19|
| 7876| ADAMS|   CLERK|  7788|1987-05-23|1100|    20|  02-02-2022|        20|
+-----+------+--------+------+----------+----+------+------------+----------+
only showing top 20 rows

##23.Incremental loading
loading data from source (daily) ----> Tansform -----> loading warehouse

In [0]:
# read data of day0 file

day0 = spark.read.format('csv').option('header',True).option('inferSchema',True).option('nullValue','null').load('dbfs:/FileStore/shared_uploads/nookala382@gmail.com/input/employee_day0.csv')

day0.show(5)

+-----+------+--------+----+----+----+------+
|EMPNO| ENAME|     JOB| MGR| SAL|COMM|DEPTNO|
+-----+------+--------+----+----+----+------+
| 7369| SMITH|   CLERK|7902| 800| 100|    20|
| 7499| ALLEN|SALESMAN|7698|1600| 300|    30|
| 7521|  WARD|SALESMAN|7698|1250| 500|    30|
| 7566| JONES| MANAGER|7839|2975| 200|    20|
| 7654|MARTIN|SALESMAN|7698|1250| 600|    30|
+-----+------+--------+----+----+----+------+
only showing top 5 rows

In [0]:
# write partitioned data into warhouse employee table
day0.write.partitionBy('DEPTNO').saveAsTable('emp_dept')

In [0]:
# query warhouse tables
spark.sql('select * from emp_dept').show()
spark.sql('select count(*) from emp_dept').show()

+-----+------+---------+----+----+----+------+
|EMPNO| ENAME|      JOB| MGR| SAL|COMM|DEPTNO|
+-----+------+---------+----+----+----+------+
| 7499| ALLEN| SALESMAN|7698|1600| 300|    30|
| 7521|  WARD| SALESMAN|7698|1250| 500|    30|
| 7654|MARTIN| SALESMAN|7698|1250| 600|    30|
| 7698|   SGR|  MANAGER|7839|2850| 500|    30|
| 7844|TURNER| SALESMAN|7698|1500|  10|    30|
| 7900| JAMES|    CLERK|7698| 950| 890|    30|
| 7369| SMITH|    CLERK|7902| 800| 100|    20|
| 7566| JONES|  MANAGER|7839|2975| 200|    20|
| 7788| SCOTT|  ANALYST|7566|3000|1200|    20|
| 7876| ADAMS|    CLERK|7788|1100| 100|    20|
| 7902|  FORD|  ANALYST|7566|3000| 400|    20|
| 7782|  RAVI|  MANAGER|7839|2450| 500|    10|
| 7839|  KING|PRESIDENT|7998|5000|1000|    10|
| 7934|MILLER|    CLERK|7782|1300| 740|    10|
+-----+------+---------+----+----+----+------+

+--------+
|count(1)|
+--------+
|      14|
+--------+

In [0]:
# read data of day1 file
day1 = spark.read.format('csv').option('header',True).option('inferSchema',True).option('nullValue','null').load('dbfs:/FileStore/shared_uploads/nookala382@gmail.com/input/employee_day1.csv')
day1.show(5)

+-----+------+--------+----+----+----+------+
|EMPNO| ENAME|     JOB| MGR| SAL|COMM|DEPTNO|
+-----+------+--------+----+----+----+------+
| 1234|SEKHAR|  doctor|7777| 667|  78|    80|
| 7369| SMITH|   CLERK|7902| 800|  90|    20|
| 7499| ALLEN|SALESMAN|7698|1600| 300|    30|
| 7521|  WARD|SALESMAN|7698|1250| 500|    30|
| 7566| JONES| MANAGER|7839|2975| 100|    20|
+-----+------+--------+----+----+----+------+
only showing top 5 rows

In [0]:
# write partitioned data into warhouse employee table
day1.write.mode('append').saveAsTable('emp_dept')

In [0]:
# query warhouse tables
spark.sql('select * from emp_dept').show()
spark.sql('select count(*) from emp_dept').show()

+-----+------+---------+----+----+----+------+
|EMPNO| ENAME|      JOB| MGR| SAL|COMM|DEPTNO|
+-----+------+---------+----+----+----+------+
| 7499| ALLEN| SALESMAN|7698|1600| 300|    30|
| 7521|  WARD| SALESMAN|7698|1250| 500|    30|
| 7654|MARTIN| SALESMAN|7698|1250| 600|    30|
| 7698|   SGR|  MANAGER|7839|2850| 500|    30|
| 7844|TURNER| SALESMAN|7698|1500|  10|    30|
| 7900| JAMES|    CLERK|7698| 950| 890|    30|
| 7369| SMITH|    CLERK|7902| 800| 100|    20|
| 7566| JONES|  MANAGER|7839|2975| 200|    20|
| 7788| SCOTT|  ANALYST|7566|3000|1200|    20|
| 7876| ADAMS|    CLERK|7788|1100| 100|    20|
| 7902|  FORD|  ANALYST|7566|3000| 400|    20|
| 7369| SMITH|    CLERK|7902| 800|  90|    20|
| 7566| JONES|  MANAGER|7839|2975| 100|    20|
| 7788| SCOTT|  ANALYST|7566|3000| 180|    20|
| 7876| ADAMS|    CLERK|7788|1100| 300|    20|
| 7902|  FORD|  ANALYST|7566|3000| 100|    20|
| 7782|  RAVI|  MANAGER|7839|2450| 500|    10|
| 7839|  KING|PRESIDENT|7998|5000|1000|    10|
| 7934|MILLER|    CLERK|7782|1300| 740|    10|
| 7782|  RAVI|  MANAGER|7839|2450|  14|    10|
+-----+------+---------+----+----+----+------+
only showing top 20 rows

+--------+
|count(1)|
+--------+
|      30|
+--------+

##24.fill missing data in textFile and convert into Dataframe

In [0]:
df_miss = spark.read.format('csv').option('header',True).option('sep',' ').option('nullValue','null').load('dbfs:/FileStore/shared_uploads/nookala382@gmail.com/fill_missing.txt').fillna('missing_data')
df_miss.show()

+------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+
|Spark0|      Spark1|      Spark2|      Spark3|      Spark4|      Spark5|      Spark6|      Spark7|      Spark8|      Spark9|     Spark10|        _c11|
+------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+
| Spark|       Spark|       Spark|       Spark|       Spark|       Spark|       Spark|       Spark|       Spark|       Spark|missing_data|missing_data|
| Spark|       Spark|       Spark|       Spark|       Spark|       Spark|       Spark|       Spark|       Spark|missing_data|missing_data|missing_data|
| Spark|       Spark|       Spark|       Spark|       Spark|       Spark|       Spark|       Spark|missing_data|missing_data|missing_data|missing_data|
| Spark|       Spark|       Spark|       Spark|       Spark|       Spark|       Spark|missing_data|missing_data|missing_data|missing_data|missing_data|
| Spark|       Spark|       Spark|       Spark|       Spark|       Spark|missing_data|missing_data|missing_data|missing_data|missing_data|missing_data|
| Spark|       Spark|       Spark|       Spark|       Spark|missing_data|missing_data|missing_data|missing_data|missing_data|missing_data|missing_data|
| Spark|       Spark|       Spark|       Spark|missing_data|missing_data|missing_data|missing_data|missing_data|missing_data|missing_data|missing_data|
| Spark|       Spark|       Spark|missing_data|missing_data|missing_data|missing_data|missing_data|missing_data|missing_data|missing_data|missing_data|
| Spark|       Spark|missing_data|missing_data|missing_data|missing_data|missing_data|missing_data|missing_data|missing_data|missing_data|missing_data|
| Spark|missing_data|missing_data|missing_data|missing_data|missing_data|missing_data|missing_data|missing_data|missing_data|missing_data|missing_data|
+------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+

##25.Creating Data Frame from mysql table

df_mysql = spark.read.format('jdbc')\
           .option('url','jdbc:mysql://localhost:3306')\
           .option('driver','com.mysql.jdbc.Driver')\
           .option('user','root')\
           .option('password','sandeep')\
           .option('query','select * from sandeep.emp_table')\
           .load()

##26.Creating DataFrame from Json file

In [0]:
df_json = spark.read.format('json').load('dbfs:/FileStore/shared_uploads/nookala382@gmail.com/input/emp.json')

df_json.show(10)
df_json.printSchema()
df_json.count()

+----+------+-----+------+----------+---------+----+----+------------+
|COMM|DEPTNO|EMPNO| ENAME|  HIREDATE|      JOB| MGR| SAL|UPDATED_DATE|
+----+------+-----+------+----------+---------+----+----+------------+
|  78|    80| 1234|SEKHAR|      null|   doctor|7777| 667|  2022-01-03|
|null|    20| 7369| SMITH|17-12-1980|    CLERK|7902| 800|  2022-01-01|
| 300|    30| 7499| ALLEN|20-02-1981| SALESMAN|7698|1600|  2022-01-01|
| 500|    30| 7521|  WARD|22-02-1981| SALESMAN|7698|1250|  2022-01-01|
|null|    20| 7566| JONES|04-02-1981|  MANAGER|7839|2975|  2022-01-05|
|1400|    30| 7654|MARTIN|21-09-1981| SALESMAN|7698|1250|  2022-01-03|
|null|    30| 7698|   SGR|05-01-1981|  MANAGER|7839|2850|  2022-01-04|
|null|    10| 7782|  RAVI|06-09-1981|  MANAGER|7839|2450|  2022-01-02|
|null|    20| 7788| SCOTT|19-04-1987|  ANALYST|7566|3000|  2022-01-02|
|null|    10| 7839|  KING|01-11-1981|PRESIDENT|null|5000|  2022-01-02|
+----+------+-----+------+----------+---------+----+----+------------+
only showing top 10 rows

root
 |-- COMM: string (nullable = true)
 |-- DEPTNO: string (nullable = true)
 |-- EMPNO: string (nullable = true)
 |-- ENAME: string (nullable = true)
 |-- HIREDATE: string (nullable = true)
 |-- JOB: string (nullable = true)
 |-- MGR: string (nullable = true)
 |-- SAL: string (nullable = true)
 |-- UPDATED_DATE: string (nullable = true)

Out[381]: 15

##27.Creating DataFrame from multiLine Json file

In [0]:
df_multiLine = spark.read.format('json').option('multiline',True).option('inferSchema',True).load('dbfs:/FileStore/shared_uploads/nookala382@gmail.com/input/nested_json.json')

df_multiLine.printSchema()

df_multiLine.count()

root
 |-- batters: struct (nullable = true)
 |    |-- batter: array (nullable = true)
 |    |    |-- element: struct (containsNull = true)
 |    |    |    |-- id: string (nullable = true)
 |    |    |    |-- type: string (nullable = true)
 |-- id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- ppu: double (nullable = true)
 |-- topping: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- id: string (nullable = true)
 |    |    |-- type: string (nullable = true)
 |-- type: string (nullable = true)

Out[392]: 1

In [0]:
df_multiLine1 = df_multiLine.withColumn('batters_exp',explode('batters.batter'))\
                            .withColumn('batter_id', col('batters_exp.id'))\
                            .withColumn('batter_type' ,col('batters_exp.type'))\
                            .drop('batters','batters_exp') 

df_multiLine1.show()

+----+----+----+--------------------+-----+---------+------------+
|  id|name| ppu|             topping| type|batter_id| batter_type|
+----+----+----+--------------------+-----+---------+------------+
|0001|Cake|0.55|[{5001, None}, {5...|donut|     1001|     Regular|
|0001|Cake|0.55|[{5001, None}, {5...|donut|     1002|   Chocolate|
|0001|Cake|0.55|[{5001, None}, {5...|donut|     1003|   Blueberry|
|0001|Cake|0.55|[{5001, None}, {5...|donut|     1004|Devil's Food|
+----+----+----+--------------------+-----+---------+------------+

In [0]:
df_multiLine_final = df_multiLine1.withColumn('topping_exp',explode('topping'))\
                                  .withColumn('topping_id', col('topping_exp.id'))\
                                  .withColumn('topping_type',col('topping_exp.type'))\
                                  .drop('topping','topping_exp')
            

df_multiLine_final.show()

+----+----+----+-----+---------+-----------+----------+--------------------+
|  id|name| ppu| type|batter_id|batter_type|topping_id|        topping_type|
+----+----+----+-----+---------+-----------+----------+--------------------+
|0001|Cake|0.55|donut|     1001|    Regular|      5001|                None|
|0001|Cake|0.55|donut|     1001|    Regular|      5002|              Glazed|
|0001|Cake|0.55|donut|     1001|    Regular|      5005|               Sugar|
|0001|Cake|0.55|donut|     1001|    Regular|      5007|      Powdered Sugar|
|0001|Cake|0.55|donut|     1001|    Regular|      5006|Chocolate with Sp...|
|0001|Cake|0.55|donut|     1001|    Regular|      5003|           Chocolate|
|0001|Cake|0.55|donut|     1001|    Regular|      5004|               Maple|
|0001|Cake|0.55|donut|     1002|  Chocolate|      5001|                None|
|0001|Cake|0.55|donut|     1002|  Chocolate|      5002|              Glazed|
|0001|Cake|0.55|donut|     1002|  Chocolate|      5005|               Sugar|
|0001|Cake|0.55|donut|     1002|  Chocolate|      5007|      Powdered Sugar|
|0001|Cake|0.55|donut|     1002|  Chocolate|      5006|Chocolate with Sp...|
|0001|Cake|0.55|donut|     1002|  Chocolate|      5003|           Chocolate|
|0001|Cake|0.55|donut|     1002|  Chocolate|      5004|               Maple|
|0001|Cake|0.55|donut|     1003|  Blueberry|      5001|                None|
|0001|Cake|0.55|donut|     1003|  Blueberry|      5002|              Glazed|
|0001|Cake|0.55|donut|     1003|  Blueberry|      5005|               Sugar|
|0001|Cake|0.55|donut|     1003|  Blueberry|      5007|      Powdered Sugar|
|0001|Cake|0.55|donut|     1003|  Blueberry|      5006|Chocolate with Sp...|
|0001|Cake|0.55|donut|     1003|  Blueberry|      5003|           Chocolate|
+----+----+----+-----+---------+-----------+----------+--------------------+
only showing top 20 rows