#Installing Pyspark in Googlecolab

In [81]:
!pip install pyspark py4j

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyspark in /usr/local/lib/python3.9/dist-packages (3.3.2)
Requirement already satisfied: py4j in /usr/local/lib/python3.9/dist-packages (0.10.9.5)

# Creating new SparkSession

In [82]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("Practice").getOrCreate()

In [83]:
spark

#Reading CSV data into df dataframe without header and schema

In [84]:
wh = spark.read.format('csv').load("/content/sample_data/california_housing_test.csv")
wh.show(10)

+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+
|        _c0|      _c1|               _c2|        _c3|           _c4|        _c5|       _c6|          _c7|               _c8|
+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+
|  longitude| latitude|housing_median_age|total_rooms|total_bedrooms| population|households|median_income|median_house_value|
|-122.050000|37.370000|         27.000000|3885.000000|    661.000000|1537.000000|606.000000|     6.608500|     344700.000000|
|-118.300000|34.260000|         43.000000|1510.000000|    310.000000| 809.000000|277.000000|     3.599000|     176500.000000|
|-117.810000|33.780000|         27.000000|3589.000000|    507.000000|1484.000000|495.000000|     5.793400|     270500.000000|
|-118.360000|33.820000|         28.000000|  67.000000|     15.000000|  49.000000| 11.000000|     6.135900|     330000.000000|
|-119.670000|36.330000|         19.000000|1241.000000|    244.000000| 850.000000|237.000000|     2.937500|      81700.000000|
|-119.560000|36.510000|         37.000000|1018.000000|    213.000000| 663.000000|204.000000|     1.663500|      67000.000000|
|-121.430000|38.630000|         43.000000|1009.000000|    225.000000| 604.000000|218.000000|     1.664100|      67000.000000|
|-120.650000|35.480000|         19.000000|2310.000000|    471.000000|1341.000000|441.000000|     3.225000|     166900.000000|
|-122.840000|38.400000|         15.000000|3080.000000|    617.000000|1446.000000|599.000000|     3.669600|     194400.000000|
+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+
only showing top 10 rows

In [85]:
wh.printSchema()
type(wh)

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)
 |-- _c7: string (nullable = true)
 |-- _c8: string (nullable = true)

pyspark.sql.dataframe.DataFrame

# Reading csv data into df1 dataframe with Header and schema

In [86]:
df = spark.read.format('csv').option('header','true').option('inferSchema','true').load("/content/sample_data/california_housing_test.csv")
df.show(10)

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|  -122.05|   37.37|              27.0|     3885.0|         661.0|    1537.0|     606.0|       6.6085|          344700.0|
|   -118.3|   34.26|              43.0|     1510.0|         310.0|     809.0|     277.0|        3.599|          176500.0|
|  -117.81|   33.78|              27.0|     3589.0|         507.0|    1484.0|     495.0|       5.7934|          270500.0|
|  -118.36|   33.82|              28.0|       67.0|          15.0|      49.0|      11.0|       6.1359|          330000.0|
|  -119.67|   36.33|              19.0|     1241.0|         244.0|     850.0|     237.0|       2.9375|           81700.0|
|  -119.56|   36.51|              37.0|     1018.0|         213.0|     663.0|     204.0|       1.6635|           67000.0|
|  -121.43|   38.63|              43.0|     1009.0|         225.0|     604.0|     218.0|       1.6641|           67000.0|
|  -120.65|   35.48|              19.0|     2310.0|         471.0|    1341.0|     441.0|        3.225|          166900.0|
|  -122.84|    38.4|              15.0|     3080.0|         617.0|    1446.0|     599.0|       3.6696|          194400.0|
|  -118.02|   34.08|              31.0|     2402.0|         632.0|    2830.0|     603.0|       2.3333|          164200.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
only showing top 10 rows

# Reading csv data into df2 dataframe with Header and schema- (another way)

In [87]:
df2= spark.read.csv("/content/sample_data/california_housing_test.csv",header=True,inferSchema=True)
df2.show(10)

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|  -122.05|   37.37|              27.0|     3885.0|         661.0|    1537.0|     606.0|       6.6085|          344700.0|
|   -118.3|   34.26|              43.0|     1510.0|         310.0|     809.0|     277.0|        3.599|          176500.0|
|  -117.81|   33.78|              27.0|     3589.0|         507.0|    1484.0|     495.0|       5.7934|          270500.0|
|  -118.36|   33.82|              28.0|       67.0|          15.0|      49.0|      11.0|       6.1359|          330000.0|
|  -119.67|   36.33|              19.0|     1241.0|         244.0|     850.0|     237.0|       2.9375|           81700.0|
|  -119.56|   36.51|              37.0|     1018.0|         213.0|     663.0|     204.0|       1.6635|           67000.0|
|  -121.43|   38.63|              43.0|     1009.0|         225.0|     604.0|     218.0|       1.6641|           67000.0|
|  -120.65|   35.48|              19.0|     2310.0|         471.0|    1341.0|     441.0|        3.225|          166900.0|
|  -122.84|    38.4|              15.0|     3080.0|         617.0|    1446.0|     599.0|       3.6696|          194400.0|
|  -118.02|   34.08|              31.0|     2402.0|         632.0|    2830.0|     603.0|       2.3333|          164200.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
only showing top 10 rows

# Inspect Data

In [88]:
# display Content of df

df.show()

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|  -122.05|   37.37|              27.0|     3885.0|         661.0|    1537.0|     606.0|       6.6085|          344700.0|
|   -118.3|   34.26|              43.0|     1510.0|         310.0|     809.0|     277.0|        3.599|          176500.0|
|  -117.81|   33.78|              27.0|     3589.0|         507.0|    1484.0|     495.0|       5.7934|          270500.0|
|  -118.36|   33.82|              28.0|       67.0|          15.0|      49.0|      11.0|       6.1359|          330000.0|
|  -119.67|   36.33|              19.0|     1241.0|         244.0|     850.0|     237.0|       2.9375|           81700.0|
|  -119.56|   36.51|              37.0|     1018.0|         213.0|     663.0|     204.0|       1.6635|           67000.0|
|  -121.43|   38.63|              43.0|     1009.0|         225.0|     604.0|     218.0|       1.6641|           67000.0|
|  -120.65|   35.48|              19.0|     2310.0|         471.0|    1341.0|     441.0|        3.225|          166900.0|
|  -122.84|    38.4|              15.0|     3080.0|         617.0|    1446.0|     599.0|       3.6696|          194400.0|
|  -118.02|   34.08|              31.0|     2402.0|         632.0|    2830.0|     603.0|       2.3333|          164200.0|
|  -118.24|   33.98|              45.0|      972.0|         249.0|    1288.0|     261.0|       2.2054|          125000.0|
|  -119.12|   35.85|              37.0|      736.0|         166.0|     564.0|     138.0|       2.4167|           58300.0|
|  -121.93|   37.25|              36.0|     1089.0|         182.0|     535.0|     170.0|         4.69|          252600.0|
|  -117.03|   32.97|              16.0|     3936.0|         694.0|    1935.0|     659.0|       4.5625|          231200.0|
|  -117.97|   33.73|              27.0|     2097.0|         325.0|    1217.0|     331.0|       5.7121|          222500.0|
|  -117.99|   33.81|              42.0|      161.0|          40.0|     157.0|      50.0|          2.2|          153100.0|
|  -120.81|   37.53|              15.0|      570.0|         123.0|     189.0|     107.0|        1.875|          181300.0|
|   -121.2|   38.69|              26.0|     3077.0|         607.0|    1603.0|     595.0|       2.7174|          137500.0|
|  -118.88|   34.21|              26.0|     1590.0|         196.0|     654.0|     199.0|       6.5851|          300000.0|
|  -122.59|   38.01|              35.0|     8814.0|        1307.0|    3450.0|    1258.0|       6.1724|          414300.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
only showing top 20 rows

In [89]:
# display Schema
df.printSchema()

root
 |-- longitude: double (nullable = true)
 |-- latitude: double (nullable = true)
 |-- housing_median_age: double (nullable = true)
 |-- total_rooms: double (nullable = true)
 |-- total_bedrooms: double (nullable = true)
 |-- population: double (nullable = true)
 |-- households: double (nullable = true)
 |-- median_income: double (nullable = true)
 |-- median_house_value: double (nullable = true)

In [90]:
#first row

df.first()

Row(longitude=-122.05, latitude=37.37, housing_median_age=27.0, total_rooms=3885.0, total_bedrooms=661.0, population=1537.0, households=606.0, median_income=6.6085, median_house_value=344700.0)

In [91]:
#head values

df.head()

Row(longitude=-122.05, latitude=37.37, housing_median_age=27.0, total_rooms=3885.0, total_bedrooms=661.0, population=1537.0, households=606.0, median_income=6.6085, median_house_value=344700.0)

In [92]:
#tail values

df.tail(1)

[Row(longitude=-119.63, latitude=34.42, housing_median_age=42.0, total_rooms=1765.0, total_bedrooms=263.0, population=753.0, households=260.0, median_income=8.5608, median_house_value=500001.0)]

In [93]:
#takes some random any values

df.take(2)

[Row(longitude=-122.05, latitude=37.37, housing_median_age=27.0, total_rooms=3885.0, total_bedrooms=661.0, population=1537.0, households=606.0, median_income=6.6085, median_house_value=344700.0),
 Row(longitude=-118.3, latitude=34.26, housing_median_age=43.0, total_rooms=1510.0, total_bedrooms=310.0, population=809.0, households=277.0, median_income=3.599, median_house_value=176500.0)]

In [94]:
# return column names and data types

df.dtypes

[('longitude', 'double'),
 ('latitude', 'double'),
 ('housing_median_age', 'double'),
 ('total_rooms', 'double'),
 ('total_bedrooms', 'double'),
 ('population', 'double'),
 ('households', 'double'),
 ('median_income', 'double'),
 ('median_house_value', 'double')]

In [95]:
# compute summery satistics

df.describe().show()

+-------+-------------------+------------------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+
|summary|          longitude|          latitude|housing_median_age|      total_rooms|    total_bedrooms|        population|        households|     median_income|median_house_value|
+-------+-------------------+------------------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+
|  count|               3000|              3000|              3000|             3000|              3000|              3000|              3000|              3000|              3000|
|   mean|-119.58920000000029| 35.63538999999999|28.845333333333333|2599.578666666667| 529.9506666666666|1402.7986666666666|           489.912| 3.807271799999998|        205846.275|
| stddev| 1.9949362939550166|2.1296695233438334|12.555395554955757|2155.593331625582|415.65436813632306|1030.5430124122424|365.42270980552615|1.8545117296914775|113119.68746964622|
|    min|            -124.18|             32.56|               1.0|              6.0|               2.0|               5.0|               2.0|            0.4999|           22500.0|
|    max|            -114.49|             41.92|              52.0|          30450.0|            5419.0|           11935.0|            4930.0|           15.0001|          500001.0|
+-------+-------------------+------------------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+

In [96]:
#count no.of rows

df.count()

3000

In [97]:
#count distinct no.of rows

df.distinct().count()

3000

In [98]:
#explain physical plan and logical plan

df.explain()

== Physical Plan ==
FileScan csv [longitude#3920,latitude#3921,housing_median_age#3922,total_rooms#3923,total_bedrooms#3924,population#3925,households#3926,median_income#3927,median_house_value#3928] Batched: false, DataFilters: [], Format: CSV, Location: InMemoryFileIndex(1 paths)[file:/content/sample_data/california_housing_test.csv], PartitionFilters: [], PushedFilters: [], ReadSchema: struct<longitude:double,latitude:double,housing_median_age:double,total_rooms:double,total_bedroo...

# All table columns Names

In [99]:
df.columns

['longitude',
 'latitude',
 'housing_median_age',
 'total_rooms',
 'total_bedrooms',
 'population',
 'households',
 'median_income',
 'median_house_value']

In [100]:
df.select('longitude').show(10)

+---------+
|longitude|
+---------+
|  -122.05|
|   -118.3|
|  -117.81|
|  -118.36|
|  -119.67|
|  -119.56|
|  -121.43|
|  -120.65|
|  -122.84|
|  -118.02|
+---------+
only showing top 10 rows

In [101]:
df.select(['population','housing_median_age']).show(10)

+----------+------------------+
|population|housing_median_age|
+----------+------------------+
|    1537.0|              27.0|
|     809.0|              43.0|
|    1484.0|              27.0|
|      49.0|              28.0|
|     850.0|              19.0|
|     663.0|              37.0|
|     604.0|              43.0|
|    1341.0|              19.0|
|    1446.0|              15.0|
|    2830.0|              31.0|
+----------+------------------+
only showing top 10 rows

# Adding ,Dropping,Renaming of Columns

In [102]:
# Adding new columns

from pyspark.sql.functions import *
df3 = df.withColumn('housing_age',col('housing_median_age')+10).withColumn('income',col('median_income')+10).withColumn('house_value',col('median_house_value')+10)

df3.show(10)

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+-----------+------------------+-----------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|housing_age|            income|house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+-----------+------------------+-----------+
|  -122.05|   37.37|              27.0|     3885.0|         661.0|    1537.0|     606.0|       6.6085|          344700.0|       37.0|           16.6085|   344710.0|
|   -118.3|   34.26|              43.0|     1510.0|         310.0|     809.0|     277.0|        3.599|          176500.0|       53.0|            13.599|   176510.0|
|  -117.81|   33.78|              27.0|     3589.0|         507.0|    1484.0|     495.0|       5.7934|          270500.0|       37.0|           15.7934|   270510.0|
|  -118.36|   33.82|              28.0|       67.0|          15.0|      49.0|      11.0|       6.1359|          330000.0|       38.0|           16.1359|   330010.0|
|  -119.67|   36.33|              19.0|     1241.0|         244.0|     850.0|     237.0|       2.9375|           81700.0|       29.0|           12.9375|    81710.0|
|  -119.56|   36.51|              37.0|     1018.0|         213.0|     663.0|     204.0|       1.6635|           67000.0|       47.0|11.663499999999999|    67010.0|
|  -121.43|   38.63|              43.0|     1009.0|         225.0|     604.0|     218.0|       1.6641|           67000.0|       53.0|           11.6641|    67010.0|
|  -120.65|   35.48|              19.0|     2310.0|         471.0|    1341.0|     441.0|        3.225|          166900.0|       29.0|            13.225|   166910.0|
|  -122.84|    38.4|              15.0|     3080.0|         617.0|    1446.0|     599.0|       3.6696|          194400.0|       25.0|13.669599999999999|   194410.0|
|  -118.02|   34.08|              31.0|     2402.0|         632.0|    2830.0|     603.0|       2.3333|          164200.0|       41.0|           12.3333|   164210.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+-----------+------------------+-----------+
only showing top 10 rows

In [103]:
df4 = df3.drop('housing_age').drop('income').drop('house_value')

df4.show(10)

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|  -122.05|   37.37|              27.0|     3885.0|         661.0|    1537.0|     606.0|       6.6085|          344700.0|
|   -118.3|   34.26|              43.0|     1510.0|         310.0|     809.0|     277.0|        3.599|          176500.0|
|  -117.81|   33.78|              27.0|     3589.0|         507.0|    1484.0|     495.0|       5.7934|          270500.0|
|  -118.36|   33.82|              28.0|       67.0|          15.0|      49.0|      11.0|       6.1359|          330000.0|
|  -119.67|   36.33|              19.0|     1241.0|         244.0|     850.0|     237.0|       2.9375|           81700.0|
|  -119.56|   36.51|              37.0|     1018.0|         213.0|     663.0|     204.0|       1.6635|           67000.0|
|  -121.43|   38.63|              43.0|     1009.0|         225.0|     604.0|     218.0|       1.6641|           67000.0|
|  -120.65|   35.48|              19.0|     2310.0|         471.0|    1341.0|     441.0|        3.225|          166900.0|
|  -122.84|    38.4|              15.0|     3080.0|         617.0|    1446.0|     599.0|       3.6696|          194400.0|
|  -118.02|   34.08|              31.0|     2402.0|         632.0|    2830.0|     603.0|       2.3333|          164200.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
only showing top 10 rows

In [104]:
# Renamed Column Names

df5 =df4.withColumnRenamed('housing_median_age','median_age').withColumnRenamed('median_income','income').withColumnRenamed('median_house_value','house_value')


df5.show(10)

+---------+--------+----------+-----------+--------------+----------+----------+------+-----------+
|longitude|latitude|median_age|total_rooms|total_bedrooms|population|households|income|house_value|
+---------+--------+----------+-----------+--------------+----------+----------+------+-----------+
|  -122.05|   37.37|      27.0|     3885.0|         661.0|    1537.0|     606.0|6.6085|   344700.0|
|   -118.3|   34.26|      43.0|     1510.0|         310.0|     809.0|     277.0| 3.599|   176500.0|
|  -117.81|   33.78|      27.0|     3589.0|         507.0|    1484.0|     495.0|5.7934|   270500.0|
|  -118.36|   33.82|      28.0|       67.0|          15.0|      49.0|      11.0|6.1359|   330000.0|
|  -119.67|   36.33|      19.0|     1241.0|         244.0|     850.0|     237.0|2.9375|    81700.0|
|  -119.56|   36.51|      37.0|     1018.0|         213.0|     663.0|     204.0|1.6635|    67000.0|
|  -121.43|   38.63|      43.0|     1009.0|         225.0|     604.0|     218.0|1.6641|    67000.0|
|  -120.65|   35.48|      19.0|     2310.0|         471.0|    1341.0|     441.0| 3.225|   166900.0|
|  -122.84|    38.4|      15.0|     3080.0|         617.0|    1446.0|     599.0|3.6696|   194400.0|
|  -118.02|   34.08|      31.0|     2402.0|         632.0|    2830.0|     603.0|2.3333|   164200.0|
+---------+--------+----------+-----------+--------------+----------+----------+------+-----------+
only showing top 10 rows

#  Writing schema for dataFrame

In [105]:
from pyspark.sql.types import *

schema = StructType([StructField("EMPNO", IntegerType(), True),\
                     StructField("ENAME", StringType(), True),\
                     StructField("JOB", StringType(), True),\
                     StructField("MGR", IntegerType(), True),\
                     StructField("HIREDATE", DateType(), True),\
                     StructField("SAL", IntegerType(), True),\
                     StructField("COMM", IntegerType(), True),\
                     StructField("DEPTNO", IntegerType(), True),\
                     StructField("UPDATED_DATE",DateType(), True)\
])

# Reading csv dataframe with pipe seprated values

In [106]:
data = spark.read.format('csv').option('header',True).option('Sep','|').option('nullValue','null').option('inferSchema',True).load("/content/emp_pipe.txt")
data.show(10)
data.printSchema()
data.count()

+-----+------+---------+----+----------+----+----+------+------------+
|EMPNO| ENAME|      JOB| MGR|  HIREDATE| SAL|COMM|DEPTNO|UPDATED_DATE|
+-----+------+---------+----+----------+----+----+------+------------+
| 7369| SMITH|    CLERK|7902|17-12-1980| 800|null|    20|  01-01-2022|
| 7499| ALLEN| SALESMAN|7698|20-02-1981|1600| 300|    30|  02-01-2022|
| 7521|  WARD| SALESMAN|7698|22-02-1981|1250| 500|    30|  03-01-2022|
| 7566| JONES|  MANAGER|7839|04-02-1981|2975|null|    20|  04-01-2022|
| 7654|MARTIN| SALESMAN|7698|21-09-1981|1250|1400|    30|  05-01-2022|
| 7698|   SGR|  MANAGER|7839|05-01-1981|2850|null|    30|  06-01-2022|
| 7782|  RAVI|  MANAGER|7839|06-09-1981|2450|null|    10|  07-01-2022|
| 7788| SCOTT|  ANALYST|7566|19-04-1987|3000|null|    20|  08-01-2022|
| 7839|  KING|PRESIDENT|null|      null|5000|null|    10|        null|
| 7844|TURNER| SALESMAN|7698|09-08-1981|1500|   0|    30|  01-02-2022|
+-----+------+---------+----+----------+----+----+------+------------+
only showing top 10 rows

root
 |-- EMPNO: integer (nullable = true)
 |-- ENAME: string (nullable = true)
 |-- JOB: string (nullable = true)
 |-- MGR: integer (nullable = true)
 |-- HIREDATE: string (nullable = true)
 |-- SAL: integer (nullable = true)
 |-- COMM: integer (nullable = true)
 |-- DEPTNO: integer (nullable = true)
 |-- UPDATED_DATE: string (nullable = true)

19

In [164]:
data.show(10)

+-----+------+---------+----+----------+----+----+------+------------+
|EMPNO| ENAME|      JOB| MGR|  HIREDATE| SAL|COMM|DEPTNO|UPDATED_DATE|
+-----+------+---------+----+----------+----+----+------+------------+
| 7369| SMITH|    CLERK|7902|17-12-1980| 800|null|    20|  01-01-2022|
| 7499| ALLEN| SALESMAN|7698|20-02-1981|1600| 300|    30|  02-01-2022|
| 7521|  WARD| SALESMAN|7698|22-02-1981|1250| 500|    30|  03-01-2022|
| 7566| JONES|  MANAGER|7839|04-02-1981|2975|null|    20|  04-01-2022|
| 7654|MARTIN| SALESMAN|7698|21-09-1981|1250|1400|    30|  05-01-2022|
| 7698|   SGR|  MANAGER|7839|05-01-1981|2850|null|    30|  06-01-2022|
| 7782|  RAVI|  MANAGER|7839|06-09-1981|2450|null|    10|  07-01-2022|
| 7788| SCOTT|  ANALYST|7566|19-04-1987|3000|null|    20|  08-01-2022|
| 7839|  KING|PRESIDENT|null|      null|5000|null|    10|        null|
| 7844|TURNER| SALESMAN|7698|09-08-1981|1500|   0|    30|  01-02-2022|
+-----+------+---------+----+----------+----+----+------+------------+
only showing top 10 rows

# drop null values from dataFrame

In [107]:
#  how = any

data2 = data.dropna(how='any')
data2.show()
data2.count()

+-----+------+--------+----+----------+----+----+------+------------+
|EMPNO| ENAME|     JOB| MGR|  HIREDATE| SAL|COMM|DEPTNO|UPDATED_DATE|
+-----+------+--------+----+----------+----+----+------+------------+
| 7499| ALLEN|SALESMAN|7698|20-02-1981|1600| 300|    30|  02-01-2022|
| 7521|  WARD|SALESMAN|7698|22-02-1981|1250| 500|    30|  03-01-2022|
| 7654|MARTIN|SALESMAN|7698|21-09-1981|1250|1400|    30|  05-01-2022|
| 7844|TURNER|SALESMAN|7698|09-08-1981|1500|   0|    30|  01-02-2022|
| 7499| ALLEN|SALESMAN|7698|20-02-1981|1600| 300|    30|  08-02-2022|
+-----+------+--------+----+----------+----+----+------+------------+

5

In [108]:
# how =all

data3 = data.na.drop( how = 'all')
data3.show()
data.count()

+-----+------+---------+----+----------+----+----+------+------------+
|EMPNO| ENAME|      JOB| MGR|  HIREDATE| SAL|COMM|DEPTNO|UPDATED_DATE|
+-----+------+---------+----+----------+----+----+------+------------+
| 7369| SMITH|    CLERK|7902|17-12-1980| 800|null|    20|  01-01-2022|
| 7499| ALLEN| SALESMAN|7698|20-02-1981|1600| 300|    30|  02-01-2022|
| 7521|  WARD| SALESMAN|7698|22-02-1981|1250| 500|    30|  03-01-2022|
| 7566| JONES|  MANAGER|7839|04-02-1981|2975|null|    20|  04-01-2022|
| 7654|MARTIN| SALESMAN|7698|21-09-1981|1250|1400|    30|  05-01-2022|
| 7698|   SGR|  MANAGER|7839|05-01-1981|2850|null|    30|  06-01-2022|
| 7782|  RAVI|  MANAGER|7839|06-09-1981|2450|null|    10|  07-01-2022|
| 7788| SCOTT|  ANALYST|7566|19-04-1987|3000|null|    20|  08-01-2022|
| 7839|  KING|PRESIDENT|null|      null|5000|null|    10|        null|
| 7844|TURNER| SALESMAN|7698|09-08-1981|1500|   0|    30|  01-02-2022|
| 7876| ADAMS|    CLERK|7788|23-05-1987|1100|null|    20|  02-02-2022|
| 7900| JAMES|    CLERK|7698|12-03-1981| 950|null|    30|  03-02-2022|
| 7902|  FORD|  ANALYST|7566|12-03-1981|3000|null|    20|  04-02-2022|
| 7934|MILLER|    CLERK|7782|01-03-1982|1300|null|    10|  05-02-2022|
| 1234|SEKHAR|   doctor|7777|      null| 667|  78|    80|  06-02-2022|
| 7369| SMITH|    CLERK|7902|17-12-1980| 800|null|    20|  07-02-2022|
| 7499| ALLEN| SALESMAN|7698|20-02-1981|1600| 300|    30|  08-02-2022|
| 7521|  WARD| SALESMAN|7698|22-02-1981|1250| 500|    30|        null|
| 7566| JONES|  MANAGER|7839|04-02-1981|2975|null|    20|  01-02-2021|
+-----+------+---------+----+----------+----+----+------+------------+

19

In [109]:
#threshold 

data4= data.na.drop(how='any',thresh=2)
data4.show()
data4.count()

+-----+------+---------+----+----------+----+----+------+------------+
|EMPNO| ENAME|      JOB| MGR|  HIREDATE| SAL|COMM|DEPTNO|UPDATED_DATE|
+-----+------+---------+----+----------+----+----+------+------------+
| 7369| SMITH|    CLERK|7902|17-12-1980| 800|null|    20|  01-01-2022|
| 7499| ALLEN| SALESMAN|7698|20-02-1981|1600| 300|    30|  02-01-2022|
| 7521|  WARD| SALESMAN|7698|22-02-1981|1250| 500|    30|  03-01-2022|
| 7566| JONES|  MANAGER|7839|04-02-1981|2975|null|    20|  04-01-2022|
| 7654|MARTIN| SALESMAN|7698|21-09-1981|1250|1400|    30|  05-01-2022|
| 7698|   SGR|  MANAGER|7839|05-01-1981|2850|null|    30|  06-01-2022|
| 7782|  RAVI|  MANAGER|7839|06-09-1981|2450|null|    10|  07-01-2022|
| 7788| SCOTT|  ANALYST|7566|19-04-1987|3000|null|    20|  08-01-2022|
| 7839|  KING|PRESIDENT|null|      null|5000|null|    10|        null|
| 7844|TURNER| SALESMAN|7698|09-08-1981|1500|   0|    30|  01-02-2022|
| 7876| ADAMS|    CLERK|7788|23-05-1987|1100|null|    20|  02-02-2022|
| 7900| JAMES|    CLERK|7698|12-03-1981| 950|null|    30|  03-02-2022|
| 7902|  FORD|  ANALYST|7566|12-03-1981|3000|null|    20|  04-02-2022|
| 7934|MILLER|    CLERK|7782|01-03-1982|1300|null|    10|  05-02-2022|
| 1234|SEKHAR|   doctor|7777|      null| 667|  78|    80|  06-02-2022|
| 7369| SMITH|    CLERK|7902|17-12-1980| 800|null|    20|  07-02-2022|
| 7499| ALLEN| SALESMAN|7698|20-02-1981|1600| 300|    30|  08-02-2022|
| 7521|  WARD| SALESMAN|7698|22-02-1981|1250| 500|    30|        null|
| 7566| JONES|  MANAGER|7839|04-02-1981|2975|null|    20|  01-02-2021|
+-----+------+---------+----+----------+----+----+------+------------+

19

In [110]:
#subset - used to delete particular column null values

data5 = data.na.drop(how= 'any',subset=["COMM"])
data5.show()
data5.count()

+-----+------+--------+----+----------+----+----+------+------------+
|EMPNO| ENAME|     JOB| MGR|  HIREDATE| SAL|COMM|DEPTNO|UPDATED_DATE|
+-----+------+--------+----+----------+----+----+------+------------+
| 7499| ALLEN|SALESMAN|7698|20-02-1981|1600| 300|    30|  02-01-2022|
| 7521|  WARD|SALESMAN|7698|22-02-1981|1250| 500|    30|  03-01-2022|
| 7654|MARTIN|SALESMAN|7698|21-09-1981|1250|1400|    30|  05-01-2022|
| 7844|TURNER|SALESMAN|7698|09-08-1981|1500|   0|    30|  01-02-2022|
| 1234|SEKHAR|  doctor|7777|      null| 667|  78|    80|  06-02-2022|
| 7499| ALLEN|SALESMAN|7698|20-02-1981|1600| 300|    30|  08-02-2022|
| 7521|  WARD|SALESMAN|7698|22-02-1981|1250| 500|    30|        null|
+-----+------+--------+----+----------+----+----+------+------------+

7

# filling null values

In [111]:
data.show()

+-----+------+---------+----+----------+----+----+------+------------+
|EMPNO| ENAME|      JOB| MGR|  HIREDATE| SAL|COMM|DEPTNO|UPDATED_DATE|
+-----+------+---------+----+----------+----+----+------+------------+
| 7369| SMITH|    CLERK|7902|17-12-1980| 800|null|    20|  01-01-2022|
| 7499| ALLEN| SALESMAN|7698|20-02-1981|1600| 300|    30|  02-01-2022|
| 7521|  WARD| SALESMAN|7698|22-02-1981|1250| 500|    30|  03-01-2022|
| 7566| JONES|  MANAGER|7839|04-02-1981|2975|null|    20|  04-01-2022|
| 7654|MARTIN| SALESMAN|7698|21-09-1981|1250|1400|    30|  05-01-2022|
| 7698|   SGR|  MANAGER|7839|05-01-1981|2850|null|    30|  06-01-2022|
| 7782|  RAVI|  MANAGER|7839|06-09-1981|2450|null|    10|  07-01-2022|
| 7788| SCOTT|  ANALYST|7566|19-04-1987|3000|null|    20|  08-01-2022|
| 7839|  KING|PRESIDENT|null|      null|5000|null|    10|        null|
| 7844|TURNER| SALESMAN|7698|09-08-1981|1500|   0|    30|  01-02-2022|
| 7876| ADAMS|    CLERK|7788|23-05-1987|1100|null|    20|  02-02-2022|
| 7900| JAMES|    CLERK|7698|12-03-1981| 950|null|    30|  03-02-2022|
| 7902|  FORD|  ANALYST|7566|12-03-1981|3000|null|    20|  04-02-2022|
| 7934|MILLER|    CLERK|7782|01-03-1982|1300|null|    10|  05-02-2022|
| 1234|SEKHAR|   doctor|7777|      null| 667|  78|    80|  06-02-2022|
| 7369| SMITH|    CLERK|7902|17-12-1980| 800|null|    20|  07-02-2022|
| 7499| ALLEN| SALESMAN|7698|20-02-1981|1600| 300|    30|  08-02-2022|
| 7521|  WARD| SALESMAN|7698|22-02-1981|1250| 500|    30|        null|
| 7566| JONES|  MANAGER|7839|04-02-1981|2975|null|    20|  01-02-2021|
+-----+------+---------+----+----------+----+----+------+------------+

In [112]:
d1= data.fillna('Missing',['ENAME','JOB']).na.fill(1,['EMPNO','MGR','SAL','COMM','DEPTNO']).fillna('31-12-99',['HIREDATE'])
d1.show()

+-----+------+---------+----+----------+----+----+------+------------+
|EMPNO| ENAME|      JOB| MGR|  HIREDATE| SAL|COMM|DEPTNO|UPDATED_DATE|
+-----+------+---------+----+----------+----+----+------+------------+
| 7369| SMITH|    CLERK|7902|17-12-1980| 800|   1|    20|  01-01-2022|
| 7499| ALLEN| SALESMAN|7698|20-02-1981|1600| 300|    30|  02-01-2022|
| 7521|  WARD| SALESMAN|7698|22-02-1981|1250| 500|    30|  03-01-2022|
| 7566| JONES|  MANAGER|7839|04-02-1981|2975|   1|    20|  04-01-2022|
| 7654|MARTIN| SALESMAN|7698|21-09-1981|1250|1400|    30|  05-01-2022|
| 7698|   SGR|  MANAGER|7839|05-01-1981|2850|   1|    30|  06-01-2022|
| 7782|  RAVI|  MANAGER|7839|06-09-1981|2450|   1|    10|  07-01-2022|
| 7788| SCOTT|  ANALYST|7566|19-04-1987|3000|   1|    20|  08-01-2022|
| 7839|  KING|PRESIDENT|   1|  31-12-99|5000|   1|    10|        null|
| 7844|TURNER| SALESMAN|7698|09-08-1981|1500|   0|    30|  01-02-2022|
| 7876| ADAMS|    CLERK|7788|23-05-1987|1100|   1|    20|  02-02-2022|
| 7900| JAMES|    CLERK|7698|12-03-1981| 950|   1|    30|  03-02-2022|
| 7902|  FORD|  ANALYST|7566|12-03-1981|3000|   1|    20|  04-02-2022|
| 7934|MILLER|    CLERK|7782|01-03-1982|1300|   1|    10|  05-02-2022|
| 1234|SEKHAR|   doctor|7777|  31-12-99| 667|  78|    80|  06-02-2022|
| 7369| SMITH|    CLERK|7902|17-12-1980| 800|   1|    20|  07-02-2022|
| 7499| ALLEN| SALESMAN|7698|20-02-1981|1600| 300|    30|  08-02-2022|
| 7521|  WARD| SALESMAN|7698|22-02-1981|1250| 500|    30|        null|
| 7566| JONES|  MANAGER|7839|04-02-1981|2975|   1|    20|  01-02-2021|
+-----+------+---------+----+----------+----+----+------+------------+

# Filter operations

In [113]:
#salary of peeple greter than 1500 -one way

d1.filter('SAL>1500').show()

+-----+-----+---------+----+----------+----+----+------+------------+
|EMPNO|ENAME|      JOB| MGR|  HIREDATE| SAL|COMM|DEPTNO|UPDATED_DATE|
+-----+-----+---------+----+----------+----+----+------+------------+
| 7499|ALLEN| SALESMAN|7698|20-02-1981|1600| 300|    30|  02-01-2022|
| 7566|JONES|  MANAGER|7839|04-02-1981|2975|   1|    20|  04-01-2022|
| 7698|  SGR|  MANAGER|7839|05-01-1981|2850|   1|    30|  06-01-2022|
| 7782| RAVI|  MANAGER|7839|06-09-1981|2450|   1|    10|  07-01-2022|
| 7788|SCOTT|  ANALYST|7566|19-04-1987|3000|   1|    20|  08-01-2022|
| 7839| KING|PRESIDENT|   1|  31-12-99|5000|   1|    10|        null|
| 7902| FORD|  ANALYST|7566|12-03-1981|3000|   1|    20|  04-02-2022|
| 7499|ALLEN| SALESMAN|7698|20-02-1981|1600| 300|    30|  08-02-2022|
| 7566|JONES|  MANAGER|7839|04-02-1981|2975|   1|    20|  01-02-2021|
+-----+-----+---------+----+----------+----+----+------+------------+

In [114]:
#salary of peeple greter than 1500 -other way


d1.filter((col('SAL')>1500)).show()

+-----+-----+---------+----+----------+----+----+------+------------+
|EMPNO|ENAME|      JOB| MGR|  HIREDATE| SAL|COMM|DEPTNO|UPDATED_DATE|
+-----+-----+---------+----+----------+----+----+------+------------+
| 7499|ALLEN| SALESMAN|7698|20-02-1981|1600| 300|    30|  02-01-2022|
| 7566|JONES|  MANAGER|7839|04-02-1981|2975|   1|    20|  04-01-2022|
| 7698|  SGR|  MANAGER|7839|05-01-1981|2850|   1|    30|  06-01-2022|
| 7782| RAVI|  MANAGER|7839|06-09-1981|2450|   1|    10|  07-01-2022|
| 7788|SCOTT|  ANALYST|7566|19-04-1987|3000|   1|    20|  08-01-2022|
| 7839| KING|PRESIDENT|   1|  31-12-99|5000|   1|    10|        null|
| 7902| FORD|  ANALYST|7566|12-03-1981|3000|   1|    20|  04-02-2022|
| 7499|ALLEN| SALESMAN|7698|20-02-1981|1600| 300|    30|  08-02-2022|
| 7566|JONES|  MANAGER|7839|04-02-1981|2975|   1|    20|  01-02-2021|
+-----+-----+---------+----+----------+----+----+------+------------+

In [115]:
#not operator

d1.filter(~(col('SAL')>1500)).show()

+-----+------+--------+----+----------+----+----+------+------------+
|EMPNO| ENAME|     JOB| MGR|  HIREDATE| SAL|COMM|DEPTNO|UPDATED_DATE|
+-----+------+--------+----+----------+----+----+------+------------+
| 7369| SMITH|   CLERK|7902|17-12-1980| 800|   1|    20|  01-01-2022|
| 7521|  WARD|SALESMAN|7698|22-02-1981|1250| 500|    30|  03-01-2022|
| 7654|MARTIN|SALESMAN|7698|21-09-1981|1250|1400|    30|  05-01-2022|
| 7844|TURNER|SALESMAN|7698|09-08-1981|1500|   0|    30|  01-02-2022|
| 7876| ADAMS|   CLERK|7788|23-05-1987|1100|   1|    20|  02-02-2022|
| 7900| JAMES|   CLERK|7698|12-03-1981| 950|   1|    30|  03-02-2022|
| 7934|MILLER|   CLERK|7782|01-03-1982|1300|   1|    10|  05-02-2022|
| 1234|SEKHAR|  doctor|7777|  31-12-99| 667|  78|    80|  06-02-2022|
| 7369| SMITH|   CLERK|7902|17-12-1980| 800|   1|    20|  07-02-2022|
| 7521|  WARD|SALESMAN|7698|22-02-1981|1250| 500|    30|        null|
+-----+------+--------+----+----------+----+----+------+------------+

In [116]:
# & operator
#show empno,ename of people salary less than 1500 and comm should be greater than zero

d1.filter( (col('SAL')<1500) & (col('COMM')>0)).show()

+-----+------+--------+----+----------+----+----+------+------------+
|EMPNO| ENAME|     JOB| MGR|  HIREDATE| SAL|COMM|DEPTNO|UPDATED_DATE|
+-----+------+--------+----+----------+----+----+------+------------+
| 7369| SMITH|   CLERK|7902|17-12-1980| 800|   1|    20|  01-01-2022|
| 7521|  WARD|SALESMAN|7698|22-02-1981|1250| 500|    30|  03-01-2022|
| 7654|MARTIN|SALESMAN|7698|21-09-1981|1250|1400|    30|  05-01-2022|
| 7876| ADAMS|   CLERK|7788|23-05-1987|1100|   1|    20|  02-02-2022|
| 7900| JAMES|   CLERK|7698|12-03-1981| 950|   1|    30|  03-02-2022|
| 7934|MILLER|   CLERK|7782|01-03-1982|1300|   1|    10|  05-02-2022|
| 1234|SEKHAR|  doctor|7777|  31-12-99| 667|  78|    80|  06-02-2022|
| 7369| SMITH|   CLERK|7902|17-12-1980| 800|   1|    20|  07-02-2022|
| 7521|  WARD|SALESMAN|7698|22-02-1981|1250| 500|    30|        null|
+-----+------+--------+----+----------+----+----+------+------------+

In [117]:
# | operator
d1.filter((col('SAL')<1500) | (col('COMM')>0)).show()

+-----+------+---------+----+----------+----+----+------+------------+
|EMPNO| ENAME|      JOB| MGR|  HIREDATE| SAL|COMM|DEPTNO|UPDATED_DATE|
+-----+------+---------+----+----------+----+----+------+------------+
| 7369| SMITH|    CLERK|7902|17-12-1980| 800|   1|    20|  01-01-2022|
| 7499| ALLEN| SALESMAN|7698|20-02-1981|1600| 300|    30|  02-01-2022|
| 7521|  WARD| SALESMAN|7698|22-02-1981|1250| 500|    30|  03-01-2022|
| 7566| JONES|  MANAGER|7839|04-02-1981|2975|   1|    20|  04-01-2022|
| 7654|MARTIN| SALESMAN|7698|21-09-1981|1250|1400|    30|  05-01-2022|
| 7698|   SGR|  MANAGER|7839|05-01-1981|2850|   1|    30|  06-01-2022|
| 7782|  RAVI|  MANAGER|7839|06-09-1981|2450|   1|    10|  07-01-2022|
| 7788| SCOTT|  ANALYST|7566|19-04-1987|3000|   1|    20|  08-01-2022|
| 7839|  KING|PRESIDENT|   1|  31-12-99|5000|   1|    10|        null|
| 7876| ADAMS|    CLERK|7788|23-05-1987|1100|   1|    20|  02-02-2022|
| 7900| JAMES|    CLERK|7698|12-03-1981| 950|   1|    30|  03-02-2022|
| 7902|  FORD|  ANALYST|7566|12-03-1981|3000|   1|    20|  04-02-2022|
| 7934|MILLER|    CLERK|7782|01-03-1982|1300|   1|    10|  05-02-2022|
| 1234|SEKHAR|   doctor|7777|  31-12-99| 667|  78|    80|  06-02-2022|
| 7369| SMITH|    CLERK|7902|17-12-1980| 800|   1|    20|  07-02-2022|
| 7499| ALLEN| SALESMAN|7698|20-02-1981|1600| 300|    30|  08-02-2022|
| 7521|  WARD| SALESMAN|7698|22-02-1981|1250| 500|    30|        null|
| 7566| JONES|  MANAGER|7839|04-02-1981|2975|   1|    20|  01-02-2021|
+-----+------+---------+----+----------+----+----+------+------------+

# GroupBy

In [132]:
data.show(10)

+-----+------+---------+----+----------+----+----+------+------------+
|EMPNO| ENAME|      JOB| MGR|  HIREDATE| SAL|COMM|DEPTNO|UPDATED_DATE|
+-----+------+---------+----+----------+----+----+------+------------+
| 7369| SMITH|    CLERK|7902|17-12-1980| 800|null|    20|  01-01-2022|
| 7499| ALLEN| SALESMAN|7698|20-02-1981|1600| 300|    30|  02-01-2022|
| 7521|  WARD| SALESMAN|7698|22-02-1981|1250| 500|    30|  03-01-2022|
| 7566| JONES|  MANAGER|7839|04-02-1981|2975|null|    20|  04-01-2022|
| 7654|MARTIN| SALESMAN|7698|21-09-1981|1250|1400|    30|  05-01-2022|
| 7698|   SGR|  MANAGER|7839|05-01-1981|2850|null|    30|  06-01-2022|
| 7782|  RAVI|  MANAGER|7839|06-09-1981|2450|null|    10|  07-01-2022|
| 7788| SCOTT|  ANALYST|7566|19-04-1987|3000|null|    20|  08-01-2022|
| 7839|  KING|PRESIDENT|null|      null|5000|null|    10|        null|
| 7844|TURNER| SALESMAN|7698|09-08-1981|1500|   0|    30|  01-02-2022|
+-----+------+---------+----+----------+----+----+------+------------+
only showing top 10 rows

In [140]:
#find job role and people count
data.groupBy('JOB').count().show()

#Group by job role and sum of salaries
data.groupBy('JOB').sum('SAL').show()

+---------+-----+
|      JOB|count|
+---------+-----+
|  ANALYST|    2|
| SALESMAN|    6|
|    CLERK|    5|
|  MANAGER|    4|
|PRESIDENT|    1|
|   doctor|    1|
+---------+-----+

+---------+--------+
|      JOB|sum(SAL)|
+---------+--------+
|  ANALYST|    6000|
| SALESMAN|    8450|
|    CLERK|    4950|
|  MANAGER|   11250|
|PRESIDENT|    5000|
|   doctor|     667|
+---------+--------+

In [141]:
#find deptno and people count
data.groupBy('DEPTNO').count().show()

#find job deptno and sum salary 
data.groupBy('DEPTNO').sum('SAL').show()

+------+-----+
|DEPTNO|count|
+------+-----+
|    20|    7|
|    10|    3|
|    80|    1|
|    30|    8|
+------+-----+

+------+--------+
|DEPTNO|sum(SAL)|
+------+--------+
|    20|   14650|
|    10|    8750|
|    80|     667|
|    30|   12250|
+------+--------+

#sort

In [152]:
# sort salary data in low to high
data.sort(data.SAL.asc()).show(10)

+-----+------+--------+----+----------+----+----+------+------------+
|EMPNO| ENAME|     JOB| MGR|  HIREDATE| SAL|COMM|DEPTNO|UPDATED_DATE|
+-----+------+--------+----+----------+----+----+------+------------+
| 1234|SEKHAR|  doctor|7777|      null| 667|  78|    80|  06-02-2022|
| 7369| SMITH|   CLERK|7902|17-12-1980| 800|null|    20|  07-02-2022|
| 7369| SMITH|   CLERK|7902|17-12-1980| 800|null|    20|  01-01-2022|
| 7900| JAMES|   CLERK|7698|12-03-1981| 950|null|    30|  03-02-2022|
| 7876| ADAMS|   CLERK|7788|23-05-1987|1100|null|    20|  02-02-2022|
| 7654|MARTIN|SALESMAN|7698|21-09-1981|1250|1400|    30|  05-01-2022|
| 7521|  WARD|SALESMAN|7698|22-02-1981|1250| 500|    30|        null|
| 7521|  WARD|SALESMAN|7698|22-02-1981|1250| 500|    30|  03-01-2022|
| 7934|MILLER|   CLERK|7782|01-03-1982|1300|null|    10|  05-02-2022|
| 7844|TURNER|SALESMAN|7698|09-08-1981|1500|   0|    30|  01-02-2022|
+-----+------+--------+----+----------+----+----+------+------------+
only showing top 10 rows

In [154]:
# sort salary data in high to low
data.sort(data.SAL.desc()).show(10)

+-----+------+---------+----+----------+----+----+------+------------+
|EMPNO| ENAME|      JOB| MGR|  HIREDATE| SAL|COMM|DEPTNO|UPDATED_DATE|
+-----+------+---------+----+----------+----+----+------+------------+
| 7839|  KING|PRESIDENT|null|      null|5000|null|    10|        null|
| 7902|  FORD|  ANALYST|7566|12-03-1981|3000|null|    20|  04-02-2022|
| 7788| SCOTT|  ANALYST|7566|19-04-1987|3000|null|    20|  08-01-2022|
| 7566| JONES|  MANAGER|7839|04-02-1981|2975|null|    20|  04-01-2022|
| 7566| JONES|  MANAGER|7839|04-02-1981|2975|null|    20|  01-02-2021|
| 7698|   SGR|  MANAGER|7839|05-01-1981|2850|null|    30|  06-01-2022|
| 7782|  RAVI|  MANAGER|7839|06-09-1981|2450|null|    10|  07-01-2022|
| 7499| ALLEN| SALESMAN|7698|20-02-1981|1600| 300|    30|  02-01-2022|
| 7499| ALLEN| SALESMAN|7698|20-02-1981|1600| 300|    30|  08-02-2022|
| 7844|TURNER| SALESMAN|7698|09-08-1981|1500|   0|    30|  01-02-2022|
+-----+------+---------+----+----------+----+----+------+------------+
only showing top 10 rows

In [156]:
data.sort(data.DEPTNO.desc()).show(10)

+-----+------+--------+----+----------+----+----+------+------------+
|EMPNO| ENAME|     JOB| MGR|  HIREDATE| SAL|COMM|DEPTNO|UPDATED_DATE|
+-----+------+--------+----+----------+----+----+------+------------+
| 1234|SEKHAR|  doctor|7777|      null| 667|  78|    80|  06-02-2022|
| 7521|  WARD|SALESMAN|7698|22-02-1981|1250| 500|    30|  03-01-2022|
| 7499| ALLEN|SALESMAN|7698|20-02-1981|1600| 300|    30|  08-02-2022|
| 7499| ALLEN|SALESMAN|7698|20-02-1981|1600| 300|    30|  02-01-2022|
| 7844|TURNER|SALESMAN|7698|09-08-1981|1500|   0|    30|  01-02-2022|
| 7900| JAMES|   CLERK|7698|12-03-1981| 950|null|    30|  03-02-2022|
| 7521|  WARD|SALESMAN|7698|22-02-1981|1250| 500|    30|        null|
| 7698|   SGR| MANAGER|7839|05-01-1981|2850|null|    30|  06-01-2022|
| 7654|MARTIN|SALESMAN|7698|21-09-1981|1250|1400|    30|  05-01-2022|
| 7369| SMITH|   CLERK|7902|17-12-1980| 800|null|    20|  01-01-2022|
+-----+------+--------+----+----------+----+----+------+------------+
only showing top 10 rows

# Order By

In [159]:
data.orderBy(data.SAL.asc()).show()

+-----+------+---------+----+----------+----+----+------+------------+
|EMPNO| ENAME|      JOB| MGR|  HIREDATE| SAL|COMM|DEPTNO|UPDATED_DATE|
+-----+------+---------+----+----------+----+----+------+------------+
| 1234|SEKHAR|   doctor|7777|      null| 667|  78|    80|  06-02-2022|
| 7369| SMITH|    CLERK|7902|17-12-1980| 800|null|    20|  01-01-2022|
| 7369| SMITH|    CLERK|7902|17-12-1980| 800|null|    20|  07-02-2022|
| 7900| JAMES|    CLERK|7698|12-03-1981| 950|null|    30|  03-02-2022|
| 7876| ADAMS|    CLERK|7788|23-05-1987|1100|null|    20|  02-02-2022|
| 7521|  WARD| SALESMAN|7698|22-02-1981|1250| 500|    30|  03-01-2022|
| 7654|MARTIN| SALESMAN|7698|21-09-1981|1250|1400|    30|  05-01-2022|
| 7521|  WARD| SALESMAN|7698|22-02-1981|1250| 500|    30|        null|
| 7934|MILLER|    CLERK|7782|01-03-1982|1300|null|    10|  05-02-2022|
| 7844|TURNER| SALESMAN|7698|09-08-1981|1500|   0|    30|  01-02-2022|
| 7499| ALLEN| SALESMAN|7698|20-02-1981|1600| 300|    30|  08-02-2022|
| 7499| ALLEN| SALESMAN|7698|20-02-1981|1600| 300|    30|  02-01-2022|
| 7782|  RAVI|  MANAGER|7839|06-09-1981|2450|null|    10|  07-01-2022|
| 7698|   SGR|  MANAGER|7839|05-01-1981|2850|null|    30|  06-01-2022|
| 7566| JONES|  MANAGER|7839|04-02-1981|2975|null|    20|  04-01-2022|
| 7566| JONES|  MANAGER|7839|04-02-1981|2975|null|    20|  01-02-2021|
| 7788| SCOTT|  ANALYST|7566|19-04-1987|3000|null|    20|  08-01-2022|
| 7902|  FORD|  ANALYST|7566|12-03-1981|3000|null|    20|  04-02-2022|
| 7839|  KING|PRESIDENT|null|      null|5000|null|    10|        null|
+-----+------+---------+----+----------+----+----+------+------------+